[2017-03-07 00:21] bodymovin commented on #306
@phantomboogie sure
here is your animation with the example
if you expand the layer named "SQUARE" > Contents
There is a second "Rectangle 2" with a path as large as the stroke in Rectangle 1. The fill has opacity 0 so it won't render anything visible.
[shape_problem.zip](https://github.com/bodymovin/bodymovin/files/822936/shape_problem.zip)

[2017-03-07 00:23] bodymovin commented on #281
@jpap do you have a file size limit?
GIFs should be much larger than the full player + the animation.
Even more if the json and player are gzipped.

[2017-03-07 00:30] jpap commented on #281
Not really; just obsessed with minimizing the transfer size. :D

Including the full bm player, my animation is currently ~255kB (uncompressed) or 66kB if the client accepts deflate.  The associated AGIF at acceptable quality is about 469kB. (OK, this is better than I alluded to earlier; my apologies.)

[2017-03-07 11:09] #302 closed

[2017-03-07 11:09] #305 closed

[2017-03-07 11:11] #290 closed

[2017-03-07 11:11] #289 closed

[2017-03-07 11:11] #288 closed

[2017-03-07 11:11] #285 closed

[2017-03-07 11:12] #278 closed

[2017-03-07 11:13] #275 closed

[2017-03-07 11:14] bodymovin commented on #274
there is a project you can use as a reference here
https://github.com/bodymovin/bodymovin/tree/master/projects

[2017-03-07 11:14] #274 closed

[2017-03-07 11:14] #273 closed

[2017-03-07 11:15] #246 closed

[2017-03-07 11:15] #254 closed

[2017-03-07 11:16] #279 closed

[2017-03-07 11:17] #287 closed

[2017-03-07 11:17] #228 closed

[2017-03-07 11:17] #222 closed

[2017-03-07 11:17] #200 closed

[2017-03-07 11:50] #181 closed

[2017-03-07 11:50] #163 closed

[2017-03-07 11:51] #73 closed

[2017-03-08 14:25] xinsight commented on #284
Relate question: Is it also in the pipeline that images can be given names based on the layer name in AE instead of the generic name? (`img_0.png`, `img_1.png`, etc.) This would make it easier for several animations that use images to co-exist.

[2017-03-08 14:34] bodymovin commented on #284
yes, but they will have the source name, not the layer name.
Because a single image can be used multiple times across a single project with different layer names.

[2017-03-09 05:30] jkristoffer opened #311 "[Question] Does the plugin support displacement maps?"
I some text that I animate using displacement maps to make it 'wiggle' however upon exporting, the effect is lost.

[2017-03-09 15:37] stenuto opened #312 "font-weight listed as 'normal' instead of '900'"
Hi,

I'm replacing the rendered text paths, with `<text>` tags, allowing the font/text attributes on the `<g>` tag to apply the correct style.

I've noticed fonts with weights of 400 and 700 work as expected, but the script is exporting `font-weight="normal"` instead of `font-weight="900"` on Open Sans Extra Bold type.

This is causing my fonts to render incorrectly with custom `<text>` tags.

Any

[2017-03-09 21:19] gl2748 opened #313 "Feature Request: Track Matte Support"
Would love to have support for Track Matte support... Is this possible?

[2017-03-09 21:37] gl2748 opened #314 "Feature Request: Gradient support."

[2017-03-09 21:51] SJMcGee86 commented on #313
Not 100% sure, have you tried selecting Hidden layers in your export settings?
Track Mattes should work. I thought the same until I saw a few project examples

https://github.com/bodymovin/bodymovin/issues/206

[2017-03-10 00:21] bodymovin commented on #314
gradient is supported :)

[2017-03-10 00:28] bodymovin commented on #313
track matte should work. Only inverted luma matte might not.
No need to check hidden layers in this case.

[2017-03-10 17:42] gl2748 commented on #313
Thanks, my bad  for not checking the JSON directly. I have been using Lottie so  suspect the issue might lie there.

[2017-03-10 18:02] processprocess opened #315 "Trigger event on anim data load"
I want to trigger an event once bodymovin.loadAnimation() is complete.
I'm testing this with anim.isLoaded and it's returning false unless I put a setTimeout on it.

Is it possible to fire an event once my anim data is loaded?

Thank you!

[2017-03-10 18:05] bodymovin commented on #315
you can use events 'data_ready', 'config_ready' or 'DOMLoaded' depending at which point you need to hook to them

[2017-03-11 14:16] bodymovin commented on #312
if you're using the Open Sans Extra Bold, it should be correct to export the font-weight as normal.
Can you share the .aep so I can take a look?

[2017-03-11 14:16] bodymovin commented on #311
Hi, no, the displacement map effect is not supported yet.
sorry :/
Is that the only effect you're using for your effect?

[2017-03-11 14:18] bodymovin commented on #309
Hi, yes, the resetSegments is remaining in Bodymovin, I'll try to set some examples in the readme on the next upload.
What it actually does is set the inPoint and outPoint to the original values exported from AE.
It takes only one argument, which, when true, it will reset it right away. If it's false, it will wait to the end of the current playing segments.

[2017-03-12 23:22] vikram-kumar commented on #215
@bodymovin Am trying to add outline stroke for my pre-comp animation using
**_Layer > Layer Styles > Stroke_** which I realized is not yet supported.
This feature would help me in my project. Thanks for this awesome tool.

[2017-03-13 15:17] SJMcGee86 opened #316 "'SVG' vs 'HTML'"
So a few things that I was hoping you may be able to help with. I've copied the project below and incl the demo.html.

[Lower Third Test.zip](https://github.com/bodymovin/bodymovin/files/838633/Lower.Third.Test.zip)

So.

We had an issue of getting a background image to work. I was baffled as to why. We've made a simple lowerthird and using CasparCG we manage to implement this and get it to dynami

[2017-03-13 18:13] processprocess commented on #315
Fantastic, this works perfectly. Thank you Hernan!

[2017-03-14 12:44] luchengzhong opened #317 "Where to find definitions of items in JSON file?"
"u" "p" "ty" ... is there a wiki to explain each of this titles? Thanks a lot!

[2017-03-14 13:03] bodymovin commented on #317
lol
does this help?
https://github.com/bodymovin/bodymovin/tree/master/docs/json

[2017-03-14 17:53] kiroskirin commented on #17
@Ibadnf Yeah, I agree

[2017-03-15 01:43] luchengzhong commented on #317
:D perfectly solved my problem, thanks a lot!

[2017-03-15 01:43] #317 closed

[2017-03-15 05:40] jkristoffer commented on #311
it isn't the only effect, i believe everything else works. Any clues to what I can contribute to get displacement maps supported?

[2017-03-15 10:54] michaelgrc opened #318 "playSegments function plays the whole animation"
Hi there,

I'd like to play only a part of frame of my animation but when I use the playSegments function, it plays all the frames.
I also checked the id and op value, and it seems correct (id = 0 & op = 111.000004521123)

Here's my code and my data.json file.

Does anyone have an idea ? Many thanks

[code]

[data (1).json.zip](https://github.com/bodymovin/bodymovin/files/844151/data.1.json.zip)

[2017-03-15 10:56] bodymovin commented on #318
try hooking to the "DOMLoaded" event before setting the new segment, or it will be overriden once the animation data loads.
That should solve it.

[2017-03-15 11:01] michaelgrc commented on #318
It solved it indeed !
Many thanks bodymovin master :)

[2017-03-15 12:21] Sebah opened #319 "Uncaught ReferenceError: easeIn is not defined"
Hello,

First and foremost, thanks for this brilliant plugin!
I've managed to export my JSON file and followed the tutorial found [here](https://www.youtube.com/watch?v=FYOOucjdnkY), however I'm running into the following issue(s):

[code]

I've tried embedding the SVG using the minified version, bodymovin.js, and using all the JS files provided with the player, but I get the same error either way

[2017-03-15 13:17] bodymovin commented on #319
hi
the easeIn expression is not supported yet.
I'll try to add it soon.

[2017-03-15 13:19] Sebah commented on #319
Heya!

Thanks for the quick reply. Any idea how could I avoid this easing bit? Is it something that should be done through AE? I gotta mention that I did not do the animation.

Thanks.

[2017-03-15 13:36] bodymovin commented on #319
there must be an expression linked to a property in the animation that is using it.
If you want to send me the .aep, I can check it

[2017-03-15 13:42] Sebah commented on #319
Dude, you're a star. They should name streets after you.
[Here](https://ufile.io/8795e) are the files which I've received from the designer. If you've got a few minutes and it's not too complicated please have a look.

Thanks!

[2017-03-15 14:15] yotavm opened #320 "best way to translateX multi assets"
hey guys,
having some issues with animations that are moving at the same time on the x axis.

for some reason the movement is not smooth and "stucky".

Could you suggest the best way of moving multiple animations (on the x axis)?

[2017-03-15 18:39] gpeal opened #321 "Export repeaters"

[2017-03-15 18:59] gpeal opened #322 "Export gradient fills and strokes"

[2017-03-15 19:36] #322 closed

[2017-03-15 23:03] bodymovin commented on #320
hi
can you share the .aep so I can take a look?
it might be invoking too many garbage collections.

[2017-03-15 23:14] bodymovin commented on #311
if you have any insight on how to translate AE Displacemente map to SVG displacement map, it would be great

[2017-03-16 00:12] yotavm commented on #320
hi,
[assets.aep.zip](https://github.com/bodymovin/bodymovin/files/846307/assets.aep.zip)
this is the full project i work with:
window-small,window-big,radio,phone,horse
and all of them use lines
what i trying to accomplish is to play 4 of them in the website and move the div in x axis

thanks in adv

[2017-03-16 02:15] bodymovin commented on #320
do you have a working link with the example?

[2017-03-16 10:23] bodymovin commented on #316
The svg renderer should be able to support the controls like the html. The control layer is on top of any of the renderers.
Effects are indeed only supported by the svg renderer.
Regarding the missing BG, it's probably related to the path of the BG file. When you use the js it might not be ablo to find it in the correct location. You need to set the image path manually by passing an "assetsPath" o

[2017-03-16 10:25] bodymovin commented on #215
@vikram-kumar stroke as a Layer Style is not supported. It has a huge performance impact to implement it and it doesn't make sense to include it.

[2017-03-18 20:59] yotavm commented on #320
http://beta.oklive.io/
need to wait 2 sec and the animation will came from left side
(4) and then you will see the lag in safari its faster

[2017-03-19 16:34] yotavm commented on #320
hey,
i replace my json with json from lottiefiles and its way fast and idont know why
thanks.

[2017-03-19 23:35] bodymovin commented on #319
Hi
the easeIn and easeOut functions are on the "Shape Layer 2" for what I can tell.
But the plugin doesn't support Adjustment Layers either, so I'm not sure if it can help you with that animation.

[2017-03-20 22:22] syedjafri opened #323 "CSP Issues"
Hello guys - As great as this is, this requires us to allow "unsafe-eval" for our content-security-policy (called by InitiateExpression function with use of new Function constructor, and eval statement).
Is there a way you can provide some fallbacks for this, so if contect-security-policy is restricting unsafe-eval in script tags, we can still run this plugin.

[2017-03-20 23:17] bodymovin commented on #323
Hi, unfortunately, for using expressions you need eval.
There is a light version that doesn't support expressions, that doesn't include eval.
Can you use that one instead?

[2017-03-21 09:17] cristian-d opened #324 "Backwards compatibility issue"
Hi,

Nice job with this project!

I'm having issues playing the exported animation for this [template](https://drive.google.com/file/d/0B0XgZ-gc-zz-Slk5amNBa0haRUk/view?usp=sharing)

This happens when I use a bodymovin AE extension >= 4.5.5.
4.5.4 is the last one that exports it in a playable shape.
I'm using the svg renderer for playback and the latest (4.6.0) player.
The error is:

SVGBaseElemen

[2017-03-21 11:01] steven-luu opened #325 "Installed 4.6.0, and see a blank UI when bringing up the window"
Adobe After Effects CC
Version 14.1.0.57
macOS Sierra 10.12.3

4.5.9 was working fine.  I just installed 4.6.0 using my usual option (#3 with ExManCmd from the README.md), and now the bodymovin window that I open in AE is a blank white canvas.

*Let me know if I need to move this to SO, thanks!*

[2017-03-21 11:34] bodymovin commented on #324
fixed and uploaded on version 4.6.1
thanks for reporting it!

[2017-03-21 11:34] #324 closed

[2017-03-21 11:44] bodymovin commented on #325
is there any chance you have some ports blocked?
can you try going to this url on safari while the extension is open and see what the console logs?
http://localhost:3117

[2017-03-21 18:05] mientjan opened #326 "Moving Bodymovin player to Webpack2"
I believe bodymovin greatly benefits if bodymovin player would be build using webpack2. So i created one on the 4.6 build.

https://github.com/mientjan/bodymovin/tree/webpack2

Its a quick port and i only have one demo working ( demo/bodymovin/data.json ). But i believe this greatly helps code stability and being future proof. Also its now possible to use npm as a 3rd party / vendor library import

[2017-03-22 17:33] podrivo commented on #314
@bodymovin And what's the correct way to apply gradients in after effects?
I'm using Layer Styles -> Gradient Overlay, but I can't seem to export the gradient.

[2017-03-22 17:47] podrivo commented on #314
Tried using Gradient Ramp and no success as well.

[2017-03-22 18:37] podrivo commented on #314
It turns out, you need to use Gradient Fill.
Problem solved! :D

Suggestion: make this clear somewhere in README file, as you have different gradients in After Effects.

[2017-03-22 22:20] mulka commented on #231
@bodymovin Was wondering if there was some sample code for how to implement this (with howler, or other). This seems like a pretty common need. I'm not sure how I would sync the bodymovin animation with the audio. Would just starting both at the same time work, or would you have to monitor the progress of the audio, and call goToAndPlay every once in a while to be sure they are synced?

[2017-03-22 22:33] quentin35 opened #327 "Start animation when div is visible"
Hi

Thanks for this incredible work !
I'm new in coding and I would like to know how can I just start the animation when the div which contain the animation is set on visible ( like with a javascript function ) ?

I think we can do this easily :)

Thanks for your help !

[2017-03-23 03:04] ariestav commented on #201
Did this get resolved?  I'm also seeing this on a comp with nested 3D comps.  I suppose they are not supported?

[2017-03-23 04:43] steven-luu commented on #325
Hi bodymovin, thanks for your extension!

Our UI designer ended up installing 4.6.1 and no longer is having this issue.  It might have been a user error, so I'll close this issue now.  Thanks

[2017-03-23 04:43] #325 closed

[2017-03-23 07:26] bigxixi commented on #73
my solution to the 'saveFrameToPng()'  is to render the image through renderQ:
https://github.com/bigxixi/SaveFrameAsPNG-Plus
@bodymovin hope that can inspire

[2017-03-23 10:52] cynthia-ryu opened #328 "Puppet tools problem"
Hello guys, i got a problem with the json+demo with the animation mady by puppet tools in AE.
it doesn't move in demo and the shape will disappear in json. i made a sample for this issue,please take a look at the attachment,thanks!

AE 14.1.0.57
bodymovin 4.6.1
[sample.zip](https://github.com/bodymovin/bodymovin/files/864415/sample.zip)

[2017-03-23 11:02] bodymovin commented on #328
hi
unfortunately, the puppet tool is not supported by the plugin.
It's difficult to implement and wouldn't be too performant for real time rendering.

[2017-03-23 11:08] cynthia-ryu commented on #328
Ok,looking forward it can be supported some day,thanks!

[2017-03-23 11:56] bodymovin commented on #73
@bigxixi Yes, I've tried doing this before, but it involves messing with the render queue and loading an external comp to the rendering composition.
I will see if I find a better flow.

[2017-03-23 12:53] bodymovin commented on #314
thanks, I will

[2017-03-23 12:53] #314 closed

[2017-03-23 16:48] michaelgrc commented on #318
I'm sorry but I noticed it's still not working and I don't understand what the problem is.
My .js file starts with the déclaration :

[code]

And then I wrote this

[code]

But it still plays the whole animation once.
What do I miss ?
Thank you very much :)

[2017-03-23 16:52] michaelgrc commented on #318
I'm sorry, it finally works, I had to create an event listener like this
`anim.addEventListener('DOMLoaded',startAnimation);`

Woopsy :)

[2017-03-23 16:52] #318 closed

[2017-03-24 03:04] bigxixi commented on #311
maybe some webGL effects could help, just take a look at
https://tympanus.net/codrops/2016/05/03/animated-heat-distortion-effects-webgl/

[2017-03-25 03:14] msongz opened #329 "adobe adds-on not the latest version"
it still at 4.5.0

[2017-03-25 12:39] jessicayoungdesign opened #330 "is there a limit to layers that bodymovin will export?"
Hi, first off, this extension is amazing!

Secondly, I am having trouble exporting to an html demo. It seems there is a layer threshold/file size that bodymovin can handle and it wont show any layers that go past that threshold. I will attach my file, I am specifically having problems with "blue background dots" layer on the "Building only" composition, I realize there are a lot of paths within th

[2017-03-25 13:37] bodymovin commented on #330
Hi, I've checked the Composition "Building Only".
The reason for the missing parts are the Merge Paths on some of your layers. Sometimes AE adds some unnecessary merge paths to shape layers when converted from AI.
And Merge Paths are not supported by the plugin yet.
If you remove those extra paths, it should work.
For what I've seen, you need to remove them at:
- white cloud backgrounds/Drive-Thru

[2017-03-25 14:35] jessicayoungdesign commented on #330
WOW. That works! Thank you so much, it saved me from a lot of extra
frustration!

On Sat, Mar 25, 2017 at 8:37 AM, hernan <notifications@github.com> wrote:

[2017-03-25 15:52] jessicayoungdesign commented on #330
Hi again,

I'm having the same problem again on the "Car loop" animation though I
can't see what paths/ or merge paths I need to remove. Could you please
review the attached file on the "Car loop" composition?

On Sat, Mar 25, 2017 at 8:37 AM, hernan <notifications@github.com> wrote:

[2017-03-25 16:32] bodymovin commented on #330
they seem to be the same
- CFA logo/Drive-Thru Illo Outlines > Contents > Group 1: remove Merge Paths 1, Group 1 and Merge Paths 2
- white cloud backgrounds/Drive-Thru Illo Outlines > Contents > Group 1: remove Group 1 and Merge Paths 1
- white cloud backgrounds/Drive-Thru Illo Outlines > Contents > Group 2: remove Group 1 and Merge Paths 1
- white building bg/Drive-Thru Illo Outlines > Contents >

[2017-03-25 16:40] jessicayoungdesign commented on #330
Hmm that's not it. Did you open the new file I sent in the last reply (it's
an updated file)? I made the original changes you sent and the "Building
only" comp exported just fine. I then duplicated the same building art into
the second comp "Car loop" so there wouldn't be any merge paths. I then
added some car animation layers and did a test render demo, but the car
animations did not show up. Whi

[2017-03-25 16:41] bodymovin commented on #330
I don't see any new attachment on the last message.
Can you share it again?

[2017-03-25 19:04] maboox opened #331 "Problem With DUIK"
hi . I have a project. for example a dancing fox. I animate that with DUIK but when I Render it to Json and Run it's not working anymore. also Animating With Puppet tools not working for me. I don't know why. I only can animate with Rotation and Scaling and ...

[2017-03-25 19:37] bodymovin commented on #331
Hi
puppet tool is not supported
buit DUIK should be
can you share the .aep so I can take a look?

[2017-03-26 00:03] jessicayoungdesign commented on #330
Were you able to figure out what wasn't  working?

On Sat, Mar 25, 2017 at 11:42 AM Jessica Young <jessica.y.design@gmail.com>
wrote:

[2017-03-26 00:34] bodymovin commented on #330
I didn't get the second file. Can you share it?

[2017-03-26 00:39] jessicayoungdesign commented on #330
Here you go. I sent it earlier, I wondering why the zip file didn't show up.

On Sat, Mar 25, 2017 at 7:34 PM, hernan <notifications@github.com> wrote:

[2017-03-26 00:56] bodymovin commented on #330
still didn't work. I guess it's because you're attaching it to an email?

[2017-03-26 00:58] jessicayoungdesign commented on #330
would it help if I posted it to github again?

On Sat, Mar 25, 2017 at 7:56 PM, hernan <notifications@github.com> wrote:

[2017-03-26 00:58] bodymovin commented on #330
if it isn't the same file than the first post, yes

[2017-03-26 00:59] jessicayoungdesign commented on #330
try this

[Drive thru_building only.aep 2.zip](https://github.com/bodymovin/bodymovin/files/870489/Drive.thru_building.only.aep.2.zip)

[2017-03-26 01:03] bodymovin commented on #330
got it. I see 2 compositions called Car Loop. Is it the 18s or the 7s duration one?

[2017-03-26 01:03] jessicayoungdesign commented on #330
the 18 second one

[2017-03-26 01:04] bodymovin commented on #330
it seems to be working fine. What do you see missing?

[2017-03-26 01:09] jessicayoungdesign commented on #330
ahh you're right, I was exporting the other old "car loop" file. It works, thank you so much for your help!

[2017-03-26 01:20] bodymovin commented on #330
nice!

[2017-03-26 01:20] #330 closed

[2017-03-26 05:59] maboox commented on #331
@bodymovin
Thank you. Here is my source code that including the differents type of animations method.
I try with RubberHorse Script too, but it's not workling either,
[fox.zip](adobefamily.com/maboox/fox.zip)

[2017-03-26 10:29] bodymovin commented on #331
@maboox the link is broken. can you share it again?

[2017-03-26 10:30] bigxixi commented on #73
@bodymovin I add some code to replace the 'saveFrameToPng()' function in the (../jsx/utils/sourceHelper.jsx), and it works fine for me, the plugin now export pngs through renderQ and get rid of the black borders in pngs with transparency.
[sourceHelper.jsx.zip](https://github.com/bodymovin/bodymovin/files/870685/sourceHelper.jsx.zip)

just replace the same file and try it out.
I am on macOS 10.11.

[2017-03-26 10:53] maboox commented on #331
@bodymovin
sure.
http://adobefamily.com/maboox/fox.zip

[2017-03-26 10:58] bodymovin commented on #331
they seem to work fine.
Make sure that for Duik you select "Guided" in the settings.
and for Rubberhose you select "Guided" and "Hidden".
Those layers are not exported by default because of filesize.

[2017-03-26 11:56] maboox commented on #331
@bodymovin
Great.
it fixed :)
thanks a lot for helping and also fast responding.

[2017-03-27 04:20] joshterrill opened #332 "Cannot read property split of undefined"
I downloaded an after effects project from here: https://videohive.net/item/minimal-abstract-eye-logo/19546691

I downloaded the bodymovin plugin, installed it, loaded the project. There was a composition called "Render" that showed the animation I wanted. So I selected that one, chose a destination, and pressed "Render". It gave me the following JSON file: http://joshterrill.com/bodymovin/data-1.

[2017-03-27 06:54] cristian-d opened #333 "Feature Request: baseline shift support"
Hello. Is it possible to support baseline shift in text?
![stx_baseline_shift](https://cloud.githubusercontent.com/assets/8348281/24344128/af2400a4-12d2-11e7-9173-62a80834728c.png)
Here's an AE [template](https://drive.google.com/file/d/0B0XgZ-gc-zz-TTQtRzlXQVVEMXc/view) with the issue

[2017-03-27 11:09] bodymovin commented on #332
can you share the .aep so I can take a look?

[2017-03-27 11:09] bodymovin commented on #333
I'll take a look and see if it is available to scripting.

[2017-03-27 12:07] graphiclaboratory commented on #60
toobad -;)

[2017-03-27 21:07] joshterrill commented on #332
Here's a good drive link with the zip file of everything I got: https://drive.google.com/open?id=0B1hbSSWIRimHZFFYdkl2TDlTM28

[2017-03-28 00:53] OlegWeVideo commented on #333
After working with AE artists, I can say that this is something that they use lot. Baseline support would be a very valuable addition to the Bodymovin functionality!

[2017-03-28 19:27] stenuto opened #335 "Changing comp's framerate in AE causes issues"
We started a new project at 30 frames per second, and later switched to 25 frames per second. Everything within AE is working as expected, but upon bodymovin render, we are noticing slight differences in position throughout.

We have tried everything from restarting AE, restarting the computer, purging the memory, but nothing seems to reset bodymovin to display correctly.

As zip containing an AEP

[2017-03-28 19:48] stenuto commented on #335
Update: We replicated this in a new project, without resetting frame rate. It seems the issue lies in animating mask paths (linear or bezier). While the mask animates, its animation slips several frames later.

[2017-03-28 19:50] bodymovin commented on #335
I'll check it this afternoon. Can I reproduce the issue from that zip?

[2017-03-28 19:53] stenuto commented on #335
Yes, you should be able to. We reproduced the issue by simply animating a mask path. (This was using v4.5.7).

[2017-03-28 19:56] bodymovin commented on #335
can you share the exported json as well?

[2017-03-28 21:09] stenuto commented on #335
`{"assets":[{"id":"image_0","w":200,"h":200,"u":"images/","p":"img_0.png"},{"id":"image_1","w":2502,"h":1670,"u":"images/","p":"img_1.png"},{"id":"comp_0","layers":[{"ddd":0,"ind":0,"ty":2,"nm":".intro_image","cl":"intro_image","refId":"image_1","ks":{"o":{"k":100},"r":{"k":0},"p":{"k":[{"i":{"x":0.833,"y":0.833},"o":{"x":0.167,"y":0.167},"n":"0p833_0p833_0p167_0p167","t":0,"s":[960,558,0],"e":[10

[2017-03-28 21:10] stenuto commented on #335
Here's the json. Thank you!
[data.json.zip](https://github.com/bodymovin/bodymovin/files/877071/data.json.zip)

[2017-03-29 02:09] bodymovin commented on #335
ok, I've found the issue.
It's actually related to the scale of the layers "Name Bar 8", etc.
They are going from 100%,100% to 100%,0%
The problem is that since the initial and final value are the same in the x axis, it doesn't interpolate correctly.
I need to figure out how to fix this issue.
In the meantime, if you change final values to 99.99%,0% it should work fine.

[2017-03-29 02:33] bodymovin commented on #327
hi
you can set autoplay to false and do animation.play with whatever event on the page you want to bind to.

[2017-03-29 14:19] adamstanton commented on #260
any update on this ,  are  you planning on fixing this bug in a later release ?

[2017-03-29 15:21] yonatanw opened #337 "Gradient fill not working"
We've been using Bodymovin for a while now with great results. however with this new design that includes gradient fills, alpha maps it doesnt come out right.
![pic for github](https://cloud.githubusercontent.com/assets/12617823/24462340/68604b4c-14ac-11e7-9ef5-475b638cacd7.jpg)

[2017-03-29 15:22] bodymovin commented on #337
can you share the .aep so I can take a look?

[2017-03-29 15:24] yonatanw commented on #337
Thank you!

On Wed, Mar 29, 2017 at 6:22 PM, hernan <notifications@github.com> wrote:

--
Jonathan Wasserman
Motion Graphics
http://yonatan-wasserman.squarespace.com/
(058)6686613

[2017-03-29 15:26] bodymovin commented on #337
the file didn't come through. I don't think email attachments work on the github thread.

[2017-03-29 15:27] yonatanw commented on #337
https://drive.google.com/file/d/0Bzng9LFQGYBUdzdaY2ZHb0NLaFE/view?usp=sharing

[2017-03-29 15:42] maboox commented on #331
@bodymovin
Hi again
I have another problem with DUIK
the head is not moving and IDK why.
could u help me again?
here is .AE file
http://adobefamily.com/maboox/animal.rar

Thanks

[2017-03-29 16:14] #313 closed

[2017-03-29 16:15] bodymovin commented on #73
@bigxixi This looks very promising!
I'll take a look at it in the weekend.
thanks!!

[2017-03-29 22:46] jessicayoungdesign opened #338 "Demo excluding layers of animation"
Hello,

I was having similar problems last week where I would export a demo and some layer would not show up, the problem was fixed by removing the merge paths. Now I am having the same problem and I have made sure to remove all merge paths, I'm not sure why it is still excluding some layers in the demo. Could you please diagnose this problem.

[Drive thru_building only.aep 3.zip](https://github.c

[2017-03-29 22:57] bodymovin commented on #337
hey I see the gradient working fine.
Make sure you save the .aep project before exporting gradients.
Since the plugin takes the info from the .aep file itself, it needs to be saved.
Are you using the svg renderer?

[2017-03-29 23:25] bodymovin commented on #331
I've found the issue.
It's an expression that is not supported in the current version.I'll upload a new version this days with the fix.

[2017-03-29 23:51] bodymovin commented on #338
hi
what composition is not working?

[2017-03-30 00:02] jessicayoungdesign commented on #338
The car loop composition, its 25 seconds long.

On Wed, Mar 29, 2017 at 6:51 PM hernan <notifications@github.com> wrote:

[2017-03-30 00:05] bodymovin commented on #338
It seems to be working fine here.
What are the missing layers?

[2017-03-30 03:09] jessicayoungdesign commented on #338
Nevermind, I got it thank out.

[2017-03-30 03:09] #338 closed

[2017-03-30 07:11] quentin35 commented on #327
Hi
thanks !
I need to start my animation when user starts to scroll down :
$(window).scroll(function() {
if ($(this).scrollTop() > 1){
    $('header').addClass("sticky");
	$('#camaccessbeforescroll').fadeOut(400);
	bodymovin.loadAnimation(animDataAA35);

}

  else{
    $('header').removeClass("sticky");

  }
});

But I have a loop issue... How can I fix this ?

[2017-03-30 07:13] bodymovin commented on #327
what do you mean by loop issue? what's the issue?

[2017-03-30 07:16] quentin35 commented on #327
By loop I mean my animation appears several times instead of once. ( I dont mean the animation plays in loop )

Blue animation should appears once

[2017-03-30 07:16] quentin35 commented on #327
here is the images :
![loop issue](https://cloud.githubusercontent.com/assets/26611520/24491886/965b82e6-1529-11e7-8d08-031ee3c30fb5.jpg)

[2017-03-30 07:19] bodymovin commented on #327
The function you're binding to the scroll gets triggered every time the condition is met. You probably need to remove the scroll listener as soon as it triggers once.

[2017-03-30 07:20] quentin35 commented on #327
Okey ! hum... How do I do this ?
Thx :)

[2017-03-30 07:25] bodymovin commented on #327
I guess you can't remove the binding because you're adding and removing the sticky class to the header.
You can create a flag outside that function. Something like:
[code]

[2017-03-30 07:36] quentin35 commented on #327
Thank you for your help ! it worked great !!
I really appreciate this :)

[2017-03-30 07:54] quentin35 commented on #327
Is it normal that the animation doesn't start/work with chrome ? ( ok with safari and firefox )

[2017-03-30 07:59] bodymovin commented on #327
it should work fine. can you share a link where it is failing?

[2017-03-30 08:03] quentin35 commented on #327
I can't really share my project online...
What I can say is that there is no animation where it should be :/ But it's working fine with safari and firefox...
Thank you for your help

[2017-03-30 08:04] bodymovin commented on #327
If you can share online a reduced version of the problem without using your project I can take a look.

[2017-03-30 08:06] quentin35 commented on #327
Ok,
I'll go back with this asap
thanks for your support

[2017-03-30 11:16] yonatanw commented on #337
I don't know. I'm trying to get the developers's input on the issue.

[2017-03-30 11:55] maboox commented on #331
@bodymovin
ow thanks. I'm waiting for it

[2017-03-30 12:15] Jeroennouwen opened #339 "Problem with Duik"
Hello, Bodymovin is a really great product, but I'm experiencing a hickup when exporting a character rigged with Duik. The animation seems to work in browser, but not the kinematics (arms waving).
Am i doing something wrong or is this not featured in Bodymovin? I've got 'guides' and 'hidden' checked Thanks for the help!
After effects file: https://cdn.nimbu.io/s/pd726a0/assets/1490875982417/test.a

[2017-03-30 12:19] lihisha commented on #337
Hi i'm the developer,
i refer my question to bodymovin, did you play the animation on android or ios? what is the lottie version that you used? does it look exactly as the AE animation yonatanw post
![image](https://cloud.githubusercontent.com/assets/24755631/24503657/b38c622c-155b-11e7-953f-741223ac7e95.png)  ?
thanks,
lihi.

[2017-03-30 13:29] bodymovin commented on #337
No, I played it in the html player.
You should refer this issue to the Lottie team if the problem is happening in ios or android.
I think they're already supporting gradients, or they're working on it.
https://github.com/airbnb/lottie-android

[2017-03-30 15:49] mlmaloney opened #340 "File working in demo - excluding features in JSON file"
Hey there - We are working on an animation for an app and we have the animation working and rendering correctly. We have tested it in the demo and see it all loading, however when we pass it over to the developer it is cutting out a certain layer. The logo isn't fully loading and missing two features, an eye and a beak on the store front. I've attached the zip file of the After Effects file and th

[2017-03-30 15:50] mlmaloney commented on #340
Also, please take a look at “Car loop 01”composition 28 seconds long

[2017-03-31 00:43] bodymovin commented on #339
Hi, DUIK is supported, but puppet pin is not.
sorry :/

[2017-03-31 00:49] bodymovin commented on #340
@mlmaloney hi, I'm exporting the animation and it seems to work fine.
Can you share a link where it is failing?

[2017-03-31 00:54] mlmaloney commented on #340
Hey yes, correct. From our side we are seeing it work great but when we send it to the development team it's getting cut off. Screenshot attached to show what they see.
<img width="341" alt="screen shot 2017-03-30 at 7 54 28 pm" src="https://cloud.githubusercontent.com/assets/26796706/24532011/b67b8040-1582-11e7-9052-71ec7974b74b.png">

[2017-03-31 00:56] bodymovin commented on #340
I see, if it's failing using Lottie, you should contact them directly and attach the .aep.
They'll have a better idea of what might be wrong.
https://github.com/airbnb/lottie-android

[2017-03-31 06:25] kenreal opened #341 "Text not looping"
Hey there!
First of all, thank you for this awsome app and you support about it!
I've never experienced a problem with bodymovin but this time i got a strange one,
When exporting a text source keyframed, all goes good but this layer only is not looping.
Just playing one time meanwhile others layers are looping.
Any idea ? :)

[2017-03-31 08:20] atomicmedia commented on #97
Any fix for this? I have exactly the same issue. AE v 14.1.0.57 (CC2017), Mac OS Sierra v 10.12.3.
Still not working after I uninstalled all Adobe products, restarted and re-installed. I installed BodyMovin via github download and ZXP installer. Any ideas? I don't have any other plugins installed.

[2017-03-31 08:40] Jeroennouwen commented on #339
Hi, thanks for the quick answer. I'm going to replace the puppet pin arms with rubber hoses, that should do the trick. Keep up the good work!

[2017-03-31 11:35] bodymovin commented on #341
hi
can you share an .aep so I can take a look?

[2017-03-31 12:21] kenreal commented on #341
Yes sure, i've juste sended you an email to your gmail !

[2017-04-02 21:42] bodymovin commented on #341
I exported the composition "Composition 1" and it seemed to loop correctly.
Do you have a link where it is failing?

[2017-04-03 00:07] #339 closed

[2017-04-03 00:09] bodymovin commented on #332
Sorry, that template is using features the plugin doesn't support yet.

[2017-04-03 00:09] #332 closed

[2017-04-03 00:09] #328 closed

[2017-04-03 00:10] #323 closed

[2017-04-03 00:10] bodymovin commented on #321
done in version 4.6.2

[2017-04-03 00:10] #321 closed

[2017-04-03 00:10] #320 closed

[2017-04-03 00:10] #319 closed

[2017-04-03 00:11] #312 closed

[2017-04-03 00:11] #309 closed

[2017-04-03 00:11] #307 closed

[2017-04-03 00:11] #306 closed

[2017-04-03 00:12] #294 closed

[2017-04-03 00:12] #277 closed

[2017-04-03 00:12] #272 closed

[2017-04-03 00:13] #281 closed

[2017-04-03 00:13] #267 closed

[2017-04-03 00:13] #253 closed

[2017-04-03 00:14] #239 closed

[2017-04-03 00:14] #238 closed

[2017-04-03 06:12] kenreal commented on #341
Hey hey,
Did you push it a html offline mode project ?
I just tested it again (with your last bdm build) and it is strangly still not looping in my project. (the text part).

[2017-04-03 09:54] kenreal commented on #341
SOLVED
Problem related to the player version.
My animations were version 4.6.0 and the player was 4.4.27
-> Update player fix the problem.

thank you hernan!

[2017-04-03 09:54] #341 closed

[2017-04-03 14:07] bodymovin commented on #260
I'll take a look at this this week.

[2017-04-04 03:37] jessicayoungdesign commented on #340
Hi again,
I am working with mlmaloney, this is the problem layer (json file attached) we are recieving back from the development team. Can you decipher what to change/ remove in the After Effects file I have attached?

[Drive thru_building only.aep 4.zip](https://github.com/bodymovin/bodymovin/files/891996/Drive.thru_building.only.aep.4.zip)

[problemLayer.json.zip](https://github.com/bodymovin/bo

[2017-04-04 06:40] custa1200 opened #343 "Repeaters sizes do not match AE"
Hi,
I have tried to create a little sun animation as a first test but am finding that the rendered results are not the same as it appear in After Effects. First time really playing with After Effect so I am a little unsure of what I am doing to even be doing it incorrectly :) Any help or ideas would be appreciated.

[demo.html.zip](https://github.com/bodymovin/bodymovin/files/892197/demo.html.zip)

[2017-04-04 08:27] TomHoenderdos commented on #343
Hi Custa1200 😄
Can you also upload your AEP file, that helps him debug your problem 😉 !

@bodymovin: I also have been playing around with the new repeater and it didn't work without problems aswell 😞
My AEP + demo.html is here: [repeater test.zip](https://github.com/bodymovin/bodymovin/files/892434/repeater.test.zip)

Thanks again for your work hernan 👍 !

[2017-04-04 09:51] ReneBrainstud opened #344 "Unable to execute script at line 1. bm_compsManager is undefined."
90% of the times i try to open bodymovin from the windows tab it gives an error message and wont open further than the half-loaded interface.
''Unable to execute script at line 1. File or folder does not exist"
When clicking 'ok' it gives me another error:
''Unable to execute script at line 1. bm_compsManager is undefined.''
Clicking 'ok' on the message gives me the same error over and over again.

[2017-04-04 10:00] dgkit opened #345 "Issue with Alpha channel rendering"
Hello, I have created shapes from vector layers from ai files in AE composition. It looks fine in AE but bodymovin renders a colour where alpha channel should be and the other way round. Here's the files and snapshots. Thank you for any suggestions!
[AE_files.zip](https://github.com/bodymovin/bodymovin/files/892716/AE_files.zip)
[Render.zip](https://github.com/bodymovin/bodymovin/files/892679/Rend

[2017-04-04 10:45] bodymovin commented on #345
Sometimes AE adds an unnecessary path and merge path to each shape when converted from AI.
Unfortunately, merge paths are not supported, so you need to delete each extra square path and merge path from shapes and it will work.

[2017-04-04 10:48] bodymovin commented on #340
Does it fail on ios or on the web?

[2017-04-04 10:52] bodymovin commented on #344
I've seen this reported by one person before. But I haven't been able to reproduce it.
A couple of questions:
How did you install the plugin?
Did it work before?

[2017-04-04 10:53] bodymovin commented on #343
I need to still work on repeaters for groups. I'm looking into it.
If you move the repeater inside the group it should work in the meantime.

[2017-04-04 11:05] dgkit commented on #345
It worked! Thank you!:)

On Tue, Apr 4, 2017 at 11:45 AM, hernan <notifications@github.com> wrote:

--
  Regards,
  Eva
  DgKit
  dgkit.com <http://www.dgkit.com>

[2017-04-04 11:25] Olical opened #346 "bodymovin_light.js contains a syntax error"
As mentioned in this issue, https://github.com/QubitProducts/react-bodymovin/issues/1, there is a `var` statement at the bottom of the file that is directly attached to a closing parenthesis. This does not parse as valid JavaScript and causes build tools to fail.

[2017-04-04 12:03] ReneBrainstud commented on #344
Okay, good to hear it's not a common problem! I've had these problems from the moment i installed it (around february 12). I have been able to use it, but have to try a few times before it stops giving the error.
I've installed it with the provided adobe link ( https://creative.adobe.com/addons/products/12557 )
And downloaded the ZIP containing the ZXP file.  Which i've installed using ZXP-install

[2017-04-04 13:41] jessicayoungdesign commented on #340
it's failing on ios

[2017-04-05 01:56] custa1200 commented on #343
Looks like the fact I was using transforms is what killed it rather than anything else. Fixed it up and it's working now.

I'm actually looking forward to Radial wipes more than anything :)

[2017-04-05 03:13] RuNpiXelruN opened #347 "AE expression not coming accross"
Hey, first of all love what you've created here! I have a problem with an expression not coming over though. I wanting a 'ping pong' effect i've created in after effects to come across in browser. Any ideas why it wouldn't be? I have version 4.6.2 installed

Justin

[2017-04-05 03:18] bodymovin commented on #347
can you share the .aep so I can take a look?

[2017-04-05 03:25] custa1200 opened #348 "Adrock demo aludes to the face bodymovin can be created declaratively in HTML"
Hey,
Looks like in the Adrock demo that it can be set up to be run declaratively from HTML but the demo doesn't seem to work at all. Should this work? Is there a list of data items in documentation somewhere?

[2017-04-05 03:27] bodymovin commented on #348
I haven't updated the demos folder. They might not work right now.
I'll take care of it soon.

[2017-04-05 03:31] RuNpiXelruN commented on #347
Oh that was so quick!!..and yes sure thing :)

[backrestMain copy.aep.zip](https://github.com/bodymovin/bodymovin/files/895111/backrestMain.copy.aep.zip)

[2017-04-05 06:41] custa1200 opened #349 "Missing Paths"
I have a simple icon which includes a clock that I have imported from AI. I have created a trim path to show a morning time, but the Clock body is not being exported even though visible in AE. Have included the files for reference.
[Missing Clock.zip](https://github.com/bodymovin/bodymovin/files/895335/Missing.Clock.zip)

[2017-04-05 06:43] custa1200 commented on #348
Sadly this is actually a pretty desirable feature for us due to CMS not liking inline scripts put onto a page. Was happy when I spotted it in the demos :(

[2017-04-05 09:50] quentin35 commented on #327
Hello again,
just an other question,
I set my animation with :
autoplay: false,
and i preload it with :
var anim = bodymovin.loadAnimation(animDataAA7);

to avoid lag when displaying

But, when I set :

bodymovin.play(MYANNIMATIONNAMEHERE);

Nothing happens...

Which animation name should I set here ?

Here is my code :

var isActive = false;
$(window).scroll(function() {
if ($(this).scrollTop() >

[2017-04-05 10:39] bodymovin commented on #347
The expression valueAtTime is still not supported for shapes. I'll try to include it soon.
sorry :/

[2017-04-05 12:43] InsungKim opened #350 "cs5"

[2017-04-05 12:43] #350 closed

[2017-04-05 14:42] foguetes opened #351 "Fill color doesn't work"
Hi,
I'm trying to create a button on a bodymovin animation where when I hover over a shape it changes the fill color

`#square:hover{
  fill: pink;
  stroke: pink;
  opacity:.5;
  }`

I made an example on codepen with a simple square shape:
http://codepen.io/Gundersun/pen/MpRBzm

All the attributes work except the fill.

Can anyone tell me what's wrong with my code?

[2017-04-05 14:48] bodymovin commented on #351
The fill attribute to the g tag has less precendence than the presentation attribute in the path tag.
if you want to override it, you need to set your style selector to this:
#square:hover path{
  fill: pink;
  stroke: pink;
  opacity:.5;
}

another way around is naming your fill property in AE with the "#square" id. That way it will be directly pointing to the path element.

[2017-04-05 15:55] Jeremy-Knudsen commented on #327
There are two ways that I know of to play back your animation:

1. Since you loaded the animation into bodymovin using the variable `anim`, then you can use `anim` as the reference to the animation and call its `play()` method like this:
`anim.play()`

2. Or, you can add an animation data parameter called "name" that is stored in your "animDataAA7" variable. Then, pass the value of this `name` par

[2017-04-05 23:51] RuNpiXelruN commented on #347
Oh ok, thanks for looking into that for me, and no need to apologize, you've done an amazing job! :)

[2017-04-06 07:37] foguetes commented on #351
Thank you! It works now.
Another question: how can I add a clickable url link to the shape?
I assume I have to either use javascript or I have to export each of the buttons into a separate file and then place them on a div.
Is there a simpler way I am not seeing?

[2017-04-06 10:39] KyleConnolly commented on #260
Hi, any update on html renderer?

[2017-04-06 23:38] RuNpiXelruN commented on #347
Hey do you support the CC Particle systems? or is there a way to??

[2017-04-06 23:40] bodymovin commented on #347
no, only a few effects are supported. And particle systems are too performance intensive for real time rendering.
But I'll see what I can do in the future.

[2017-04-07 02:30] RuNpiXelruN opened #352 "After Effects Gradient"
Hi :) I've added a 'gradient ramp' to one of my solids i've created in After Effects but i'm afraid it doesn't come across to the browser. Is there a way of being able to do this??

Thanks, appreciate your hard work!
[ae_gradient_test.aep.zip](https://github.com/bodymovin/bodymovin/files/904371/ae_gradient_test.aep.zip)

[2017-04-07 02:42] bodymovin commented on #352
can you use a shape with a gradient fill?

[2017-04-07 05:31] RuNpiXelruN commented on #352
Yeah that's a great idea, and worked perfectly. Thanks! :)

Did you want me to close this issue??

Also, let me know if there's anything you need help looking into. I'm a dev at a digitial agency here in sydney, australia. Currently building a custom Polymer Component that wraps your library, for use here in our projects! Almost finished and will open source it for everyone and give you credit for

[2017-04-07 18:44] watziznehm opened #353 "Choppy animation on android"
Hey there!

Lovin' the plugin! just one issue I seem to be encountering though. My animation renders perfectly fine on desktop but when viewed on mobile the first play is choppy and drops the first 30 frames or so. When I set the animation to loop it plays fine after the first play through however. Any idea what could be causing this?

This is on android, haven't had a chance to test it on ios.

T

[2017-04-07 23:12] watziznehm commented on #353
Think I solved this by switching all my track mattes to actual masks on my shapes. Everything seems to be running smoother in Firefox and on android

[2017-04-07 23:12] #353 closed

[2017-04-07 23:27] watziznehm opened #354 "Stepped animation"
Hey there!

Just wondering if there is a way to emulated stepped animation. Right now when you lower the frame rate to say 15 fps it just makes the animation slower and doesn't actually give it that jumpy look if you know what I mean. It always seems to render at 24fps in browsers.

Any insight would be appreciated!

Thanks!

[2017-04-07 23:46] bodymovin commented on #354
if you set anim.setSubframe(false) it will render at the actual framerate of the AE composition.
Let me know if this is what you need.

[2017-04-07 23:50] watziznehm commented on #354
YES! That's perfect!

Thanks for the quick reply!

[2017-04-07 23:50] #354 closed

[2017-04-08 19:09] davidlowe opened #355 "Text layer font-style changes whenever I change a separate text layer"
I have two text layers, one without any text styling and one italicized.  Both text layers seem to be linked when I change one of their font-styles between normal and italics. It looks correct in AE, but when previewing with demo.html, they always share styles.

I'm new to AE and BodyMovin. I created a codepen to showcase the two behaviors. Thanks!

http://codepen.io/collection/DLRKgo/

[2017-04-08 21:20] bodymovin commented on #351
You can add a name to the layer starting with a "#" or with a'.'
that was it will get exported with an id or class and you can target it with javascript.

[2017-04-08 21:23] bodymovin commented on #349
you need to delete on layer "Clock", in contents > Group 1 and Group 2
the merge path and the path 2

[2017-04-09 22:10] bodymovin commented on #346
fixed

[2017-04-09 22:10] #346 closed

[2017-04-09 22:11] bodymovin commented on #343
@TomHoenderdos
http://codepen.io/airnan/pen/BWXLGo
Working now :)
I'll upload it soon.

[2017-04-10 06:41] TomHoenderdos commented on #343
Nice!

[2017-04-10 06:47] foguetes commented on #351
Do you have any examples?

[2017-04-10 12:32] foguetes commented on #351
I created a repo with the files from this project:
https://github.com/foguetes/navbar

[2017-04-10 12:40] bodymovin commented on #329
done

[2017-04-10 12:40] #329 closed

[2017-04-10 12:42] bodymovin commented on #352
That sounds great. Whenever you can, please share the link.
Thanks!

[2017-04-10 14:18] dulllud opened #356 "Weird crop under mask"
Hello,
I am no expert in AE nor Bodymovin, but I am experiencing strange issue.
I have vectors imported from AI, one set used as background, another as a mask. In between, there is a circular trim path rotating, but when exported 1) trim path get weird scale and follows rectangular path, 2) vectors aint crisp.

Please find all files attached.
[export issues.zip](https://github.com/bodymovin/bodymo

[2017-04-10 15:41] Joebc opened #357 "Animation Freezes with Multiple Trim Paths"
Hi,

My animation freezes at a certain point. I've discovered that a group of strokes with trim paths applied are causing the issue.

My project file is attached. There is a comp called 'error isolated' which is a stripped down version of the error.

Any ideas why this could be happening? Amazing plugin btw.

Thanks,

Joe

[BC SVG Animation V7.zip](https://github.com/bodymovin/bodymovin/files/9105

[2017-04-11 02:18] bodymovin commented on #357
Hi, it seems to be working here.
what version of the player are you using?
do you have a link where it fails?

[2017-04-11 15:41] Joebc commented on #357
I was using an old version of the player. Apologies my bad...

One more thing if you don't mind. The animation ends on a play symbol. I would like to able to change the fill colour on a hover action.

The layers used for the play button within AE are 'Circle play' and 'Play Fill White'.

Here is the live animation: http://boldcontentvideo.com/

[2017-04-11 20:04] javierjulio opened #358 "Bounce expression works on 4.5.9, but on 4.6.x its very fast and erratic"
We have an avatar SVG that we perform two bounce animations on and it works great on 4.5.9 and earlier but we noticed then when upgrading to the latest version (4.6.3 but also confirmed on 4.6.0) we noticed the animation bounce is much faster and goes much further. We aren't really sure what's wrong. There sounds like some great improvements on 4.6.x so naturally we wanted to be on the latest. I f

[2017-04-11 20:14] javierjulio commented on #348
Yes so was I! I just noticed this but it does not seem to be working. I've been trying to walk through the code to see if its even supported. Would be great to know what the extent of is there.

[2017-04-11 20:21] javierjulio commented on #348
@custa1200 I've verified the data attributes approach does work so you can use it. The demos just have the wrong path set for loading the bodymovin.js file.

[2017-04-11 22:02] bodymovin commented on #358
hi
can you share the .aep? I'm not sure what could be going on.

[2017-04-11 22:04] bodymovin commented on #348
yes, the data attributes should work correctly but you have less control of the animation.
Can't you load an external js file loading the animation?

[2017-04-11 22:08] bodymovin commented on #357
if you name your layer in After Effects starting with a "." or a "#" the layer will get exported with a className or id respectively.
So you can target that specific layer with css or javascript.

[2017-04-11 22:17] bodymovin commented on #356
Hi
First of all, you need to convert your AI layers to shapes. This is a two step process:
Right click on them and select Create Shape from Vector Layer.
Then erase the merge paths and Path 2 of each group.
Finally, because of browser limitations, you need to add a rectangle with a transparent fill in the layer "Shape Layer 1" that covers the whole ellipse stroke, because browsers don't measure co

[2017-04-11 22:26] javierjulio commented on #358
Sure, I've attached it.
[avatar1.aep.zip](https://github.com/bodymovin/bodymovin/files/914815/avatar1.aep.zip)

[2017-04-12 04:43] custa1200 commented on #348
Hey, I'd love to be able to use using JavaScript but the CMS setup currently in use strips script elements. 😖 Not my choice unfortunately.

[2017-04-12 06:25] foguetes commented on #143
IE and Edge support alpha masks but not alpha inverted masks. please keep that in mind.

[2017-04-12 07:12] bodymovin commented on #348
If it doesn't support js tags, you won't be able to load the bodymovin.js file either, right?

[2017-04-12 08:15] bodymovin commented on #358
Fixed in v4.6.4
it was an issue with velocityAtTime and the frame rate.
thanks for reporting it!

[2017-04-12 13:40] custa1200 commented on #348
Would be able to get it to add a single core JS file like bodymovin.js, but would be hard to be able to add other frequently updated JS scripts like what is required to instantiate a SVG where we need it. Need to work out the best way to spec what is required to make this easier in the CMS, but big company means easier said than done.

[2017-04-12 17:45] javierjulio commented on #358
@bodymovin thanks so much for looking into this! ❤️ I updated to using v4.6.4 and the issue is resolved. The animations even feel a little smoother. Thanks again for the help!

[2017-04-12 17:45] #358 closed

[2017-04-12 18:16] dulllud commented on #356
Smooth!

Love You)

[2017-04-13 01:58] msongz opened #359 "unable , line 107 undefined"
download from create cloud
macos 10.12.4
ae 14.1.057

[2017-04-13 02:04] bodymovin commented on #359
can you send a screenshot of the plugin when that error shows up?
Is it during export?

[2017-04-13 06:33] msongz commented on #359
@bodymovin
![Uploading 屏幕快照 2017-04-13 下午2.31.47.png…]()

[2017-04-13 06:33] msongz commented on #359
@bodymovin
![2017-04-13 2 31 47](https://cloud.githubusercontent.com/assets/2059694/24992863/2c0f10f0-2056-11e7-8d50-a991f129e8aa.png)

[2017-04-13 12:44] bodymovin commented on #359
So is this as soo as you try to open it?

[2017-04-13 17:12] omer-r opened #360 "SVG url() doesn't work under <base href="/"> in Safari and Firefox"
Maybe someone here encountered the same issue?
I'm using angular 1.5.8, bodymovin 4.6.4, safari 9.1.2 / firefox 51
Both browsers won't display the generated SVG, I've attached my JSON (as txt though, github requires...)

loadAnimation config:
[code]
I see the `<svg>` on the dom in devtools but nothing is displayed (supposed to be a white bell)

[_bell.txt](https://github.com/bodymovin/bodymovin/fi

[2017-04-13 17:24] omer-r commented on #360
if I copy the generated SVG and manually modify the `url(....)` to the relative path `url(/settings...)` I can see the SVG displayed:

[code]

[2017-04-14 00:31] bodymovin commented on #355
I'll try to check wht is going on, but I'm not sure that text style is exposed to scripting.

[2017-04-14 06:57] cristian-d opened #361 "Shapes don't show when seeking the animation"
Demo app: https://jsfiddle.net/karuvhw5/10/

To reproduce:
 - go to frame 0
 - click the middle of the seek bar: the top line is gone
 - click the end of the seek bar
 - click the middle again: the bottom line is gone

https://drive.google.com/file/d/0B0XgZ-gc-zz-T3djRXN5WTZjNWM/view

[2017-04-14 08:25] bodymovin commented on #361
hi, can you share the .aep so I can take a look?

[2017-04-14 10:10] cristian-d commented on #361
Sent by email

[2017-04-14 14:50] bodymovin commented on #360
yes, it's a known issue using the base tag and svg's referencing ids.
Not sure how to fix it yet, need to look into it.
What are you using the base tag for?

[2017-04-14 14:50] bodymovin commented on #361
fixed in v.4.6.5
thanks for your help :)

[2017-04-14 14:50] #361 closed

[2017-04-14 14:51] #352 closed

[2017-04-14 15:11] OlegWeVideo commented on #333
I'm curious if this is possible. Very interested in this improvement. I would greatly appreciate your help here!

[2017-04-14 15:30] cristian-d commented on #361
Excellent! Thank you ;)

[2017-04-15 12:56] sbalko opened #362 "Extension source"
Do you plan to make the extension source files available? Currently, they are webpacked into a single main.js file, which makes it difficult to contribute/extend the AE extension as such.

[2017-04-15 13:22] bodymovin commented on #362
if you mean the AE extension, it's on another repository
https://github.com/bodymovin/bodymovin-extension

[2017-04-15 15:43] msongz commented on #359
@bodymovin yes,on extension start up

[2017-04-16 03:09] AbdelrhmanMohamed commented on #332
what features support ?

[2017-04-17 06:15] bigxixi commented on #362
how to use the extension source?
after I make some change to the files, should I pack them into zxp file and reinstall?

[2017-04-17 23:00] bodymovin commented on #362
you can run "npm run build" in the console to build the files.
Then in windows I sign it like this:
ZXPSignCmd.exe -sign "[Path to file]" .\bodymovin.zxp cert.p12 password -tsa https://timestamp.geotrust.com/tsa

[2017-04-17 23:30] #349 closed

[2017-04-18 02:30] custa1200 opened #363 "Animation Composer"
Hi I am just trying a free plugin called Animation Composer (https://misterhorse.tv) and while the demos included seem to render fine in the plugin they do not work in a browser. Using the latest 4.6.6 Bodymovin. The error I get is:

![screen shot 2017-04-18 at 12 30 22 pm](https://cloud.githubusercontent.com/assets/161224/25112162/c19c8b7c-2432-11e7-8862-19d1c529c63e.png)

[2017-04-18 02:33] bodymovin commented on #363
I'm guessing the plugin has the expressions obfuscated.
Can you share the .aep?

[2017-04-18 02:39] bigxixi commented on #362
Thank you!

[2017-04-18 03:09] custa1200 commented on #363
The demo .aep is in the download from their website in a package with the installer. Prob be easier to see what's going on by grabbing it from there.

Sent from my iPhone

[2017-04-18 05:56] custa1200 commented on #363
Looks like it might be the use of sliders?? I just tried using the Animation plugin on one of my own files that was rendering previously and was getting the same issue :(

[2017-04-18 10:51] #362 closed

[2017-04-18 11:05] bodymovin commented on #363
Expressions are indeed encrypted, so they won't  work when exported unfortunately.
Maybe you can contact them and ask them if they can provide a non encrypted version?

[2017-04-18 18:17] audreymgr opened #364 "Can't export my animation properly?"
Hey there, sorry to come up with such a dummy issue but my animation doesnt seem to export properly through bodymovin: I use ease & wizz for my animation, and the expressions don't seem to go through? I also have a polygon in my animation that doesnt go through whatsoever. I tried changing the layer, the opacity etc but nothing makes it go through. I know I'm doing something wrong but I can't find

[2017-04-18 18:30] bodymovin commented on #364
hi, can you share the .aep so I can take a look?

[2017-04-18 19:24] omanzano opened #365 "Export animation using AI Layers"
My animation didn't work, how can i use the images folder in order to the animation works properly?. Thanks!
[icono 1 prueba tamaño.zip](https://github.com/bodymovin/bodymovin/files/930828/icono.1.prueba.tamano.zip)

[2017-04-18 19:39] ottodesignfabrik opened #366 "Doesn't render trimmed path layers"
Hello

Bodymovin will render my AI layers (which I've converted to shape from vector) but not the layers with a Trim Path effect added to them.

I am attaching the AE file:
[bodymovin-experiment01.zip](https://github.com/bodymovin/bodymovin/files/930855/bodymovin-experiment01.zip)

Thanking you in advance

[2017-04-18 22:27] bodymovin commented on #365
hi, I see it working fine. where is it failing? Can you share a link?

[2017-04-18 22:29] bodymovin commented on #366
Hi, I see the animation working fine, can you share a link where it fails?

[2017-04-19 02:18] ottodesignfabrik commented on #366
Here are the files I used to test on my localhost. As you may (or may not) see the head is animated but the surprise bursts are not visible.
[driver.zip](https://github.com/bodymovin/bodymovin/files/931578/driver.zip)

I'm also attaching an MOV of the result.
[driver.mov.zip](https://github.com/bodymovin/bodymovin/files/931579/driver.mov.zip)

Thanks!

[2017-04-19 02:23] bodymovin commented on #366
I see, can you use the svg renderer instead of the html?
the html renderer has some issues with strokes I need to fix.

[2017-04-19 02:40] ottodesignfabrik commented on #366
That fixed it. Thanks so much!

[2017-04-19 02:41] #366 closed

[2017-04-19 08:31] audreymgr commented on #364
Yeah sure, sorry its got a few compos there but the one that would interest you is background_animation

[PARSEC.aep.zip](https://github.com/bodymovin/bodymovin/files/932723/PARSEC.aep.zip)

[2017-04-19 10:22] bodymovin commented on #364
I'm trying the animation and it seems to work fine. Can you share a link where it is failing?

[2017-04-19 10:26] audreymgr commented on #364
Sorry its in a React Native app so can't share a link to that but basically in there my eases don't export nor the losange in the middle. Would you be aware of a problem from Lottie or React Native? Thanks a lot for your answers!!

[2017-04-19 10:28] bodymovin commented on #364
I know Lottie doesn't support expressions yet.
Regarding the polygon I'm not sure, I think it should work. Are you trying it on Android or iOS?

[2017-04-19 10:29] shooo133 opened #367 "AE mask and Gradient Overlay，is not support？helpppppp"
I use the  Gradient Overlay on a Shape Layer ，then render it，but it's not work

the shape layer just two color——white and black

and i use the mask，it's not work too。

I just want use Gradient color on a shape layer，please help me guys~~~~

[2017-04-19 10:30] audreymgr commented on #364
Oh cool for lottie, ill stop using ease & wizz then -- we're trying on iOS

[2017-04-19 10:34] bodymovin commented on #367
save the .aep before exporting gradients, because the data is taken from the .aep file.
Regarding the mask I don't know what could be going on.
Can you share the project?

[2017-04-19 10:36] bodymovin commented on #364
not sure if polygons are implemented in iOS yet. I think they're not.

[2017-04-19 10:37] audreymgr commented on #364
interesting, alright i'll find a way around it then! thanks a ton!

[2017-04-19 11:34] bobonovski opened #368 "json format explained"
I exported a bodymovin JSON file from AE, but I don't understand the meaning of each key, is there any reference or dictionary about the meaning of each key? I want to write some animation in python by parsing this file...

[2017-04-19 11:39] #368 closed

[2017-04-19 12:59] cristian-d opened #369 "'Destroy' weird behavior"
Demo app: https://jsfiddle.net/Lb4o3g4b/10/

To reproduce:
- seek to the end of the animation (more than frame 140)
- click 'destroy&recreate'
https://drive.google.com/open?id=0B0XgZ-gc-zz-XzdmS2F1bWR2OG8

Another weird behavior that I have experienced for the same animation (curved right block, misplaced stroke):  https://drive.google.com/open?id=0B0XgZ-gc-zz-MUdFWTVVZzBIdE0

[2017-04-19 13:16] cristian-d commented on #369
For the curved block, at the same position I have

without the bug, and

with the bug

[2017-04-19 22:34] omanzano commented on #365
I'm trying to render this on mobile with  http://airbnb.design/lottie/

[2017-04-19 23:38] bodymovin commented on #369
fixed in version 4.6.7
thanks!

[2017-04-19 23:38] #369 closed

[2017-04-20 05:38] bobonovski opened #370 "docs/json folder outdated?"
Hi, bodymovin
I exported a JSON file from one simple AE project, but I found out there are some mismatches between the JSON schema and the actual JSON file. Is it because the docs/json is outdated?

[2017-04-20 07:48] bigxixi opened #372 "png images to base64 endcoding?"
can bodymovin provide an option to encode png images into base64 format and put them in the json ?
then it will be a real 'standalong' mode.

[2017-04-20 13:26] bodymovin commented on #372
yes, I could add an option for doing that.
I need to find a moment to address exporting pngs from the render queue from your pull request.
And also export to jpgs when images have no transparency.

[2017-04-20 14:56] themarten opened #373 "Expressions in Rotation"
Hi, it seems as if some expressions in Rotation don't work or render right. They work fine in After Effects but when rendered all images are static and placed in top left corner, instead of where they should be placed on screen.

This example doesn't Render right if used in Rotation: wiggle(3,10)

Nor this (using a Null layer's opacity to trigger rotation):
if (thisComp.layer("Running").transform.

[2017-04-20 15:02] bodymovin commented on #373
hi, wiggle is not yet supported by the player.
It's not easy to replicate.

[2017-04-20 17:02] omanzano commented on #365
do you know if the stroke effect is supported?

![screen shot 2017-04-20 at 12 00 57 pm](https://cloud.githubusercontent.com/assets/27740238/25242990/26475338-25c1-11e7-936c-698779150e89.png)

[2017-04-21 01:51] miyime commented on #372
Couldn't be better

[2017-04-21 03:11] bigxixi commented on #372
coooool!
cant wait for it :)
another idea: compress the pictures after they exported using some powerful online library like tinypng. As i know tinypng provides some apis(https://tinypng.com/developers), with some code it can make the 'upload-compress-download-replace' process automatically.
reference:
http://danielsetzermann.com/howto/how-to-compress-png-files/

[2017-04-21 03:28] bigxixi commented on #373
hi,
for animation with some complex expressions my solution is to 'bake' them into keyframes, see
https://helpx.adobe.com/after-effects/using/expression-basics.html#convert_an_expression_to_keyframes

but the problem is the json file exported would be heavier. You can try the smoother to reduce the keyframe number, then the json will be smaller.(note: the smooth result may not 100% match, replay t

[2017-04-21 06:36] themarten commented on #373
Thanks for the quick replies.

Wiggle looks fine in the demo.html file, but only for Position and Scale. (I'm not a programmer so I haven't verified on an ios device).

But wiggle can be made to work for Rotation if you use another layers Position or Scale values, like: thisComp.layer("Wiggle").transform.scale[0]
Though obviously not as good as being able to add it directly to the Rotation of the

[2017-04-21 17:43] trevorwhealy commented on #173
`import bodymovin`

[code]

[2017-04-23 18:20] shSina opened #375 "subtract merge mode not working"
merge path not working correct , subtract or intersect not working at all
the output in adobe after effect:
![1](https://cloud.githubusercontent.com/assets/478063/25316157/d0368118-2876-11e7-93ce-bd4cb936516a.gif)
the output exported :
![2](https://cloud.githubusercontent.com/assets/478063/25316175/0c2ce6e4-2877-11e7-9bc1-9e8099529559.gif)

[2017-04-23 22:58] bodymovin commented on #375
yes, merge path is not yet supported.

[2017-04-24 01:25] bodymovin commented on #373
@themarten can you share the .aep so I can take a look?

[2017-04-24 06:36] shooo133 commented on #367
@bodymovin yeah~~! thanks ,i will give you my project , please help me render it~~

[2017-04-24 06:46] maboox opened #376 "Ae Example"
hello
I'm working on a project, and I stuck in it.
I saw the examples in codepen.io , could you please Give me "Bacon Pancakes" or "Perri corn. a dog that was a unicorn" After Effect Source? I want to see how it works when some Shapes Are bending, Cause I can't bend things with puppet tools and I really don't have any other solution.
Thanks again :)

[2017-04-24 06:55] themarten commented on #373
Here's an aep.
[RotationExample_2.zip](https://github.com/bodymovin/bodymovin/files/950620/RotationExample_2.zip)

Uses Wiggle on the Running layer Scale, used by Leg1 for rotation.

If you add Wiggle directly to the rotation of a layer the file doesn't play in the demo.html.
I think this happens with any expression in Rotation (that doesn't reference another layer). Like oscillation for example.

[2017-04-24 07:56] shooo133 commented on #367
@bodymovin  project in your mail ~~

[2017-04-24 09:27] cirnoc commented on #367
ohhh~~so do i ,i use the mask on a Shape Layer,it's not work too!

[2017-04-24 10:30] mihaelaplesa opened #377 "Animation JSON does not render correctly in iOS"
Hi,
I'm having a issue with animation rendering in iOS.
I'm doing the following steps:
1. Export animation as JSON
2.The animation is rendered correctly in web (see attached)
3. When try to load the animation in iOS with Airbnb Lottie the animation is not rendered correctly. (see attached image)

[test.zip](https://github.com/bodymovin/bodymovin/files/951401/test.zip)
![iosanimation](https://cloud

[2017-04-24 11:06] mheesakkers commented on #344
I also ran into this issue. I removed bodymovin plugin via the ZXP-installer and re-installed it. I can open After Effects again.

[2017-04-24 13:23] fahudahmed opened #378 "LAGGING ANIMATION, SPLIT COMPOSITIONS & MISSING GLOW/BLUR ON EXPORT"
Hello Hernan/Team,

We are facing some difficult issues to crack when exporting the 2 compositions (attached), which use vector shapes and wiggle expressions.

Composition 'C' plays correctly in After Effects and even after a .MOV render, however when we export with bodymovin and is integrated in html, the animations seems to be split down the middle and creating a tiled effect which reveals a lin

[2017-04-24 15:00] fahudahmed commented on #378
Also, is there a reason why blurs and glows on vector shape layers do not appear or effect the output with Bodymovin. It renders it out as a vector shape with solid edges and doesnt include the glow or blur effect?

[2017-04-24 22:38] bodymovin commented on #376
hi, puppet tool is not supported.
Those shapes have many keyframes in order to achieve that animation
You can see the bodymovin .aep example on the projects folder
https://github.com/bodymovin/bodymovin/tree/master/projects

[2017-04-24 22:47] bodymovin commented on #367
@shooo133 layer styles are not supported and the strok effect only to a certaing extent.
I suggest that you use stroke shapes and gradient strokes.
It should work as you need.

[2017-04-24 22:48] bodymovin commented on #367
@cirnoc can you give me more information about it?

[2017-04-24 22:49] bodymovin commented on #377
it's probably a Lottie issue if you can see it correctly in web.
I suggest that you contact them directly.

[2017-04-24 22:53] bodymovin commented on #370
Hi, some properties might be outdated or missing
I need to take another round at it.
What property in particular did you find is not matching?

[2017-04-25 02:34] cirnoc commented on #367
@bodymovin thank u for your reply
 i got it,it works now, because i use the "fill effect"

[2017-04-25 02:38] bobonovski commented on #370
under "layers" property there is a "shapes" property, but in the JSON schema, only "it" property exists, but in the dumped sample JSON, the "it" is under the "shapes" property. Another defect is that there are several properties, I can't find the definition in the schema. I wrote the note and tagged those properties I don't find information (not exclusively, just demonstration) in the schema
[code

[2017-04-25 07:25] jcksnptr441 opened #379 "Ae to SVG?"
Is it possible to export as .SVG instead of .JSON or .JS?

[2017-04-25 08:32] mheesakkers commented on #344
Just ran into this issue agian. I installed via the ZXP installer and when I try to run the Bodymovin extension I get this error:
![image](https://cloud.githubusercontent.com/assets/5702106/25375874/81474448-29a2-11e7-8642-29fb9492e501.png)

Previously Bodymovin was working fine.

[2017-04-25 10:29] shooo133 commented on #367
@bodymovin thank you >....i will try....

[2017-04-25 17:38] adamchenwei commented on #99
Yea I am having the same issue, its pretty seriously. In Safari 10 for ipad or iphone are NOT able to produce the masking correctly. So every element just all appear on the screen where masking is needed, they are not there. Its like dancing without cloth on ---- nothing to hide.

Would love to see a fix soon! @no-wa-ke where should I place this piece of code?

[2017-04-26 02:09] RuNpiXelruN opened #383 "Mask not supported?"
Hi, i've added a mask to one of my shapes but it doesn't seem to be coming accross in the render. I have the latest version of BodyMovin. Please see the ae file below.

Oh and thanks for all your hard work!! Love what you've done here :)
[planets.aep.zip](https://github.com/bodymovin/bodymovin/files/957015/planets.aep.zip)

Justin

[2017-04-26 05:34] adamstanton commented on #260
Any update on this ?

[2017-04-26 12:36] maboox commented on #376
thanks a lot :)

[2017-04-26 12:36] #376 closed

[2017-04-27 08:33] suhehe opened #384 "3D layer is not supported？"
I use 3d layer in my AE project, beacuse I need some 3d transform. But when I rend it, It doesn't work and log an error:
Unable to execute script at Line 297. Undefined is not an object
If I turn off the 3d layer it could work again. But I really need those 3d transform, what should I do?

[2017-04-27 12:59] SundancePioneer opened #385 "Gradient Color overwritten by other animations"
I am currently working in a project that works with duplicated comps where the animation gets slightly changed - the layers in the comps use the same gradients and names.

When uploading the .json Animations to the page, some of the gradient colors were overwritten by other .json animations previously loaded - i had to rename the "Gradient Fill" group inside the shape layer content in order for it

[2017-04-28 00:20] bodymovin commented on #373
I found the issue, wiggle was not working with properties of one dimension.
Nevertheless, wiggle doesn't translate well from AE, it's just a placeholder so animations don't break.

[2017-04-28 00:36] bodymovin commented on #384
hi
can you share the .aep so I can take a look?

[2017-04-28 00:39] bodymovin commented on #378
Wiggle has very bad performance and is not really reliable.
I added the function so animations don't break, but I would advice against using it.
On the T Master animation, I see you have around 2317 animated paths, it's probably too much to render in real time.
regarding the C animation can you share a link where it looks like that? I can't seem to reproduce it.

[2017-04-28 02:38] suhehe commented on #384
Thx for help!
I can't upload zip file here, so I sent a email to you.

[2017-04-28 04:51] christina-jade opened #386 "IDIOTS complete guide for blondes-and persons with no code know - how--- HELP!"
IS there? Or could someone please point me...in the direction of a complete idiots guide from installing this little plugin/extension thingy. to getting it to work ....
My goal is to output to html 5  from after effects i have extension installed ,animation completed . select - windows--extension--Bodymovin-- and ..errmmmm   ..hmmm i fiddle around  select render and it renders out ....and.. eermm

[2017-04-28 08:31] ReneBrainstud commented on #386
Maybe this can be helpful?
https://www.youtube.com/watch?v=FYOOucjdnkY

[2017-04-28 09:45] themarten commented on #373
Great that you found the bug.
Thanks for looking into this so quickly. Now I know that baking keyframes is the way to go for now (thanks for the tip bigxixi).

[2017-04-28 16:39] cuba87 opened #387 "Render On Mobile Devices"
Hey awesome work loving this tool.
A colleague has used bodymovin on a site she's developing she's used it to create 3 animations (intro/transition/background). They look fine on my laptop/desktop etc but on mobile devices they render super slow and effect the rendering of other animations. I've had a look but can't figure it out.
Is it simply the case that it's just too much for a mobile device t

[2017-04-28 17:11] bodymovin commented on #387
hi
it really depends on the features you're using, and probably the device.
Can you share the .aep file so I can take a look?

[2017-04-28 20:30] Jeremy-Knudsen commented on #379
You could save out the SVG from what gets generated by the bodymovin player.

[2017-04-28 22:55] OlegWeVideo commented on #333
awesome! I'm checking it out. thanks for being so quick ;)

[2017-04-29 09:35] cuba87 commented on #387
Yeah sure here's the .aep for the background animation

[The Wave.aep.zip](https://github.com/bodymovin/bodymovin/files/966016/The.Wave.aep.zip)

[2017-04-29 20:09] bodymovin commented on #260
this should be fixed with the latest version.
Restored to the same issues it had before it broke.
sorry for the delay :/

[2017-04-30 00:11] jpap opened #388 "Add unpkg CDN support when publishing to npm"
I'd love to link to bodymovin [on the unpkg CDN](https://unpkg.com/#/suggested-workflow). :D

[2017-04-30 23:23] jahanzaibajmal opened #389 "Uncaught ReferenceError: width is not defined"
![screenshot 5](https://cloud.githubusercontent.com/assets/11048815/25568860/507b708c-2dc1-11e7-96f2-808f0a724c29.png)

[2017-04-30 23:43] bodymovin commented on #389
hi, width on expressions is not supported yet.

[2017-05-01 06:10] jvke commented on #284
@bodymovin is it possible to use `Bodymovin` to render an AE animation and then impose a dynamic image at run-time? Similar to http://www.jibjab.com/ecards

[2017-05-01 09:19] jahanzaibajmal commented on #389
So how is it possible to export 3d object with animation. Cause I really need that.

[2017-05-01 09:26] ssanthos opened #390 "Updating property values after loading animation?"
Is there a way to update properties on layers (like the transform/opacity/fill) after loading the animation?

I saw this demo of an interactive "hand" - http://codepen.io/airnan/pen/pyMgzN

But when I forked this pen (http://codepen.io/ssanthos/pen/VbpwmY), and swapped out the bodymovin build to the latest one, and now the hand isn't interactive. Am unable to shake the hand anymore.

https://githu

[2017-05-01 09:28] jahanzaibajmal commented on #389
Trying to pull this pyramid spinning.

![image](https://cloud.githubusercontent.com/assets/11048815/25576704/b0e26544-2e15-11e7-808f-c6ae42b32ecd.png)

[2017-05-01 11:20] bodymovin commented on #390
Hi, that workaround doesn't work anymore indeed.
Now you need to create two keyframes where the first and the last value are different from each other.
Just a detail, if the property is spatial, make sure the spatial interpolation is linear between them.

[2017-05-01 11:20] bodymovin commented on #389
can you share the .aep so I can take a look?

[2017-05-01 11:27] bodymovin commented on #284
@jvke yes, you can edit the json data and provide any path to new images.

[2017-05-01 11:30] bodymovin commented on #385
Can you share the .aep?
For gradient info, I have to use the .aep file and look for the gradient data with regular expressions. If I can't differentiate a gradient path to another, I have no way of getting theh right one.
If you share the .aep I'll see if I can improve the regexes.

[2017-05-01 11:34] bodymovin commented on #383
Hi, masks are supported, but masks' feather is not unfortunately.

[2017-05-01 11:37] bodymovin commented on #384
Hi, the stroke effect is not supported on the html renderer, which you need for 3d transformations.

[2017-05-01 11:50] bodymovin commented on #389
hi, I've added "width" and "height" support for solids and I will upload it on the next release.
Nevertheless, 3d support is really basic for now. 3d lights won't work, so I don't think it will help you on your case.
I'd suggest that you try something like Three.js for this type of animations.

[2017-05-01 12:03] jahanzaibajmal commented on #389
@bodymovin any guides how to use three.js with after effect?

[2017-05-01 12:20] ssanthos commented on #390
Superb! Just tested it out and was able to get for spatial properties as well as properties like stroke/fill etc during playback.

Thanks a ton. Love this library!

[2017-05-01 12:20] #390 closed

[2017-05-01 13:33] rolandzwaga opened #391 "2.5D animation does not render correctly in IE"
Hi there,

try running this animation in IE11 or Edge and then compare it to Chrome or Firefox:

var animationData = {"v":"4.6.3","fr":25,"ip":0,"op":101,"w":1000,"h":1000,"nm":"2.5D Test 01","ddd":1,"assets":[],"layers":[{"ddd":1,"ind":1,"ty":3,"nm":"Null 1","ks":{"o":{"a":0,"k":0},"rx":{"a":0,"k":0},"ry":{"a":0,"k":0},"rz":{"a":0,"k":0},"or":{"a":1,"k":[{"i":{"x":0.833,"y":1},"o":{"x":0.333,"y":

[2017-05-01 13:42] bodymovin commented on #391
hi, can you share the .aep file?

[2017-05-01 14:03] rolandzwaga commented on #391
Here you go, thanks a lot for your quick response!

[BODYMOVIN 2.5D TEST.zip](https://github.com/bodymovin/bodymovin/files/967962/BODYMOVIN.2.5D.TEST.zip)

[2017-05-01 15:12] bodymovin commented on #391
I have to look further into it. But it seems edge is not handling perspective correctly.
Have you tried how it looks on safari?

[2017-05-01 15:20] rolandzwaga commented on #391
No, I haven't, I don't have acces to a Mac right now, so its difficult for me to check...

[2017-05-01 15:22] rolandzwaga commented on #391
By the way, Chrome and Firefox have the same behavior when setting the renderer to svg or canvas. Only renderer=html works correctly, in our experience.

[2017-05-01 15:44] bodymovin commented on #391
yes, 2.5d is only supported by the html renderer.
But Edge's behavior is not exactly the same as using the other renderers.

[2017-05-01 15:45] rolandzwaga commented on #391
Aha, I see, sorry for the confusion ;)

[2017-05-02 01:12] jvke commented on #284
Excellent, thank you very much for an awesome program :-) @bodymovin

[2017-05-02 02:31] DavidEscalante opened #392 "Reverse Animation only in Safari"
Im running an animation made with Bodymovin for the **desktop** version of this site:
http://davidescalante.businesscatalyst.com/public_storage/franies/

If you watch it on Chrome, it looks fine, but if you watch in on Safari, it plays on reverse.

Here is the After Effects file:
https://www.dropbox.com/s/8mn24w9lfd4fvmx/phone3.aep?dl=0

And here is the .json file:
http://davidescalante.businessca

[2017-05-02 06:12] yaoxinwei opened #393 "please format the README."
It is maybe some errors in Markdown grammar

[2017-05-02 06:23] suhehe commented on #384
It's stroke effect or 3d transformations not supported?

[2017-05-02 07:27] arshujain opened #394 "animation.json does not render correctly on Android"
I add the lottie library to my project and placed the animation.json file in assets folder as mentioned on the github.
But it is showing the error :-1:
 E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
                  Process: com.example.arshuj.lottieproject, PID: 14554
                  java.lang.RuntimeException: An error occured while executing doInBackground()
                      at androi

[2017-05-02 08:31] cirnoc opened #395 "merge path"
Hello, I have created shapes from ai file,it created many merge path layers,i know the merge paths are not supported，so what kind of path will not go wrong?
thank u~

[2017-05-02 21:32] peterlunglum commented on #85
Great work on the plugin! I've been using it as well and have been having trouble outputting json files that produce full width, full height responsive SVG. It's always cropping to the aspect ratio of the after effects file, which I made as a 1920x1080. I would like to be able to figure out the best way to set up any file to make a full screen background from the outputted SVG. Is this possible to

[2017-05-02 21:41] bodymovin commented on #85
@peterlunglum hi, have you tried changing the preserveAspectRatio in the renderer settings?

[2017-05-02 22:18] sfoster opened #396 "Clipping/mis-rendering of SVG paths"
I'm trying to chase down an issue I'm seeing when using bodymovin on an AE composition with some vector shapes. The layer seems to be getting clipped and/or the stroke not properly rendered. Best described with a screenshot - notice the left-most line appears clipped as if the stroke width was not taken into account. The rounded end of the line is also squared off in the bodymovin export. The same

[2017-05-02 22:20] bodymovin commented on #396
are you using some type of matte masking?
can you share the .aep?

[2017-05-02 22:22] sfoster commented on #396
A colleague has made the animations, so I'm not sure.. maybe?

[icon-animations.aep.zip](https://github.com/bodymovin/bodymovin/files/972113/icon-animations.aep.zip)

[2017-05-02 22:30] bodymovin commented on #396
It's an issue with strokes and svg filters.
Browsers don't handle well that combination.
Instead of using a fill effect on the strokes, you should instead use a stroke color in the shape layer itself.
It will be much more performant also.

[2017-05-02 22:40] sfoster commented on #396
Thank you for the fast response, I will relay the advice!

[2017-05-02 22:40] #396 closed

[2017-05-03 07:37] themarten commented on #172
Hello, I've just run into this same issue.
Need to export lots of pngs but they all have the edge around them (especially soft edge alpha).
Any chance the export from After Effects can be fixed to use "fixed" alpha channel rather than "premultiplied"? Like the options you get in the "Render/Output" menu?
https://forums.adobe.com/thread/1064300

A workaround is saving all as Quick Export png in Pho

[2017-05-03 09:15] foguetes opened #397 "Png CSS"
I exported an animation with png pictures.

Is it possible to sytle these pictures using CSS?

[2017-05-03 14:56] casizzi commented on #87
@bodymovin even after locating the 'ip' & 'op' params i still cant get the playSegments functionality to work, my animation just plays the entire length of the animation when calling it, any tips?

![screen shot 2017-05-03 at 16 54 14](https://cloud.githubusercontent.com/assets/12881937/25666572/3290765a-3021-11e7-9dd9-85e855113d68.png)

[2017-05-03 14:56] peterlunglum commented on #85
@bodymovin,

I added " preserveAspectRatio: xMaxYmax Slice " to the renderer settings, but get an unexpected identifier error.

Here's the full code for context:

`var anim;
    var elem = document.getElementById('bodymovin')
    var animData = {
        container: elem,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        rendererSettings: {
            progressiveLoad:fal

[2017-05-03 15:00] casizzi opened #398 "playSegments()"
@bodymovin even after locating the 'ip' & 'op' params i still can't get the playSegments functionality to work, my animation just plays the entire length of the animation when calling it, any tips?

![screen shot 2017-05-03 at 16 54 14](https://cloud.githubusercontent.com/assets/12881937/25666819/ea4a5b76-3021-11e7-9d2f-85f45e59b4f3.png)

[2017-05-03 15:09] bodymovin commented on #85
@peterlunglum you should put the value between quotes:
preserveAspectRatio: 'xMaxYMax slice'

[2017-05-03 15:55] ChananG opened #399 "no support for: "cc particle effect" ?"
Yo,

Created this star system using "CC Particle World" effect.
When I render I get a black blank screen.

Does this mean bodymovin doesn't support this kind of effect?

Please, your help -
See attached AE file.
[02.aep.zip](https://github.com/bodymovin/bodymovin/files/973944/02.aep.zip)

[2017-05-03 15:57] bodymovin commented on #399
yes, cc particle is not supported unfortunately.
Very few effects are for now.

[2017-05-03 15:58] ChananG commented on #399
:(

[2017-05-03 17:41] peterlunglum commented on #85
Ah yes, this worked! Thanks for the help and great work on this so far!

[2017-05-03 21:40] peterlunglum opened #400 "Smooth Animations"
@bodymovin ,

I've been using the plugin to animate shape layers, creating paths and generating strokes and outputting those animated strokes (I'm using the start and end keyframes as well as color slider to change the lines colors as theyre animating in and out) into SVG. I've noticed though that the animation isn't as smooth and robust for these types of animations as their desktop counterparts.

[2017-05-04 01:45] bodymovin commented on #400
Hi, I'm not sure I understand which animations work better than others.
When you say their desktop counterparts, what are you comparing them to?
Can you share an .aep with examples?

[2017-05-04 01:49] bodymovin commented on #172
I have it on my todo list.
There is a PR with a solution to this but I haven't found the time yet to fix it.
I'll take it probably in a couple of weeks.

[2017-05-04 01:55] bodymovin commented on #398
@casizzi you need for the animation to be loaded before setting the segment.
you can do something like:
[code]

[2017-05-04 02:48] chenqingspring opened #401 "bodymovin.js wapper for React, Angular and Vue"
Thanks for GREAT work of this repo!!

For more convenient integration to some popular frameworks, I created bodymovin wapper of [React](https://github.com/chenqingspring/react-lottie), [Angular](https://github.com/chenqingspring/ng-lottie) and [Vue](https://github.com/chenqingspring/vue-lottie) which are also inspired by [airbnb lottie](http://airbnb.design/lottie/)

All of them now only implement

[2017-05-04 05:21] zmax91 commented on #378
Hello Hernan,

How about the blur/glow effects? Is there any way to make bodymovin to render them?

[2017-05-04 06:30] foguetes commented on #379
Right, you could even do that by opening the json in the preview player and export the SVG, but you'd have to that manually, frame by frame. There should be an easy, quick way of exporting an svg sequence. Then we'd be able to create an svg sprite as an alternative to the bodymovin js.

[2017-05-04 08:24] fahudahmed commented on #378
Hello,

It seems bodymovin doesn’t play nicely with any CC effects in AE. The way I tackled the ‘glow’ issue was by applying an alpha matte with a blur to recreate the effect. Hope this helps!

Cheers,
F

From: zmax91 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: bodymovin/bodymovin <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, May 4, 2017 at 6:21

[2017-05-04 08:28] casizzi commented on #398
@bodymovin, even after running a document.ready i still have the same issue where it plays the entire animation and does not play the segment that has been set, I also tried replacing the anim.PlaySegments([30,82], true); with anim.goToAndPlay(1500, true); just to test if I could maybe use time instead of frames and again I have the same issue where I just play from start to end of the animation

[2017-05-04 09:06] bodymovin commented on #398
it's not the document ready event you need to wait for. It's the animation to be loaded.
Have you tried the code snippet I posted before?

[2017-05-04 10:00] themanisingh commented on #400
I'm using Plugin called Motion v2 by Mt. Mograph. and on export i can't see any effect i added using that plugin.
[Here](https://www.dropbox.com/s/bcktx9pihvtgpc8/Git%20hub%20share%20Wake%20up%20animation.aep?dl=0) is the dropbox link to .aep project file.

[2017-05-04 10:05] giacomoalonzi commented on #180
I have the same issue like @Tswan.
This is my code
[code]
where `animationData` is [this file](https://labs.nearpod.com/bodymovin/demo/monstruo/data.js) converted in simple json file.

any hint?

i've tried to change`animationData` to `path` and this is the result:

![error](https://cl.ly/0k1e3Q0A1y1x/Schermata%202017-05-04%20alle%2012.03.03.png)

Thank you so much!

[2017-05-04 10:05] pprochnicki opened #402 "shadow under object with class"
I've creating shape layer in AE animation and give him a class. I need give box-shadow under this object. How can I do it. I've tried various methods, e.g. filter: drop-shadow( -5px -5px 5px #000 ), box-shadow: -5px -5px 5px #888;
Could anybody give me simple instruction about it?

[2017-05-04 10:27] sbsomya commented on #50
Can we loop some segments and not loop some segments
Have a small functionality with http://www.lottiefiles.com/73-submit-confirmation
Want the middle animation stay till the task is complete and then fire the next segment

[2017-05-04 17:28] stenuto opened #403 "SVG size gets bigger with time"
Hi Hernan,

I see that you are dynamically adding svg elements as they are needed. As the animation continues, the `<svg>` element grows in size. From what I can tell, this is because your script is not removing elements that are no longer needed. Is this possible to add?

Thank you,

Steve

[2017-05-04 17:36] bodymovin commented on #403
Hi, removing elements has a big impact on performance.
If your animation is in loop, I'd need to remove and include them on each iteration.
Instead of removing them, I set them to display: none so they don't get rendered which I've tested some time ago and seemed more performant.

[2017-05-04 21:31] orchardpost opened #404 "Cc page turn"
Is page turn supported? Just have a brief from a client that would need page turn to be used, or anything similar?

[2017-05-04 22:50] bodymovin commented on #404
no, it's not supported.
I don't know exactly what you need, but can you use masks and gradient fills?

[2017-05-05 06:55] orchardpost commented on #404
How about image sequences? I could render out an image sequence of the page turn and put it in the comp? Would that work?

[2017-05-05 07:11] bigxixi commented on #404
@orchardpost Hi, if your scene is **small and shot,** you can try [sprite animation](http://blog.teamtreehouse.com/css-sprite-sheet-animations-steps)
and I wrote a script for AE to export comps to that(asset and code), hope that can help
https://github.com/bigxixi/CSS-Sprite-Exporter

[2017-05-05 09:53] cristian-d opened #405 "Text is not properly rendered in Microsoft Edge browser"
Hi,
Looks like text isn't properly rendered on Edge. I tried with Edge 14.14393 and the latest 15.15063
Demo app: https://jsfiddle.net/zvj10q8d/2/
Bug preview: https://drive.google.com/open?id=0B0XgZ-gc-zz-X0dXZlVDWi1oWUU
Thx!

[2017-05-05 14:50] saxton-tad commented on #388
+1

[2017-05-05 17:02] geoffgerman opened #406 "Issue with JSON rendering"
[02 Working animations.zip](https://github.com/bodymovin/bodymovin/files/979788/02.Working.animations.zip)
So, running into some issues with rendering art in the JSON file here. Our AE file is setup with Shape layers and trim paths and we're running into art on layers staying present even after they are completed on the timeline (explosions). Also, having an issue where the "THANKS" type has the c

[2017-05-06 06:49] adamstanton commented on #260
I have tested this and confirm the tracking is working.   I have use renderer: 'html'.   Unfortunately it seems to be too slow to re-draw so flashes on-screen.

[2017-05-06 19:23] bodymovin commented on #180
@giacomoalonzi can you share a link where it fails so I can check the error?

[2017-05-06 19:25] bodymovin commented on #402
Hi, did you check if the class is set in the element you're setting the shadow?

[2017-05-06 19:33] bodymovin commented on #260
Hi, can you share a link?
I haven't seen that behavior before.

[2017-05-06 20:00] pprochnicki commented on #402
Yes, I did. When I've been inspecting SVG in animation the proper element has assigned in AE class.

[2017-05-06 20:52] bodymovin commented on #402
do you have a link so I can check?

[2017-05-06 20:56] bodymovin commented on #406
It seems to be working fine here.
Can you share a link where it fails?

[2017-05-06 21:00] bodymovin commented on #405
Yes, Edge has a lot of issues with clipping.
If you resize the window you'll see that it corrects itself.
I have filed a bug about this, but I don't know when they are going to address it.
I don't think there's anything I can do on my side.

[2017-05-07 14:52] netjerikh commented on #405
Can you give me the bug link?

[2017-05-07 14:52] geoffgerman commented on #406
Hey Hernan, thanks for the response. Really appreciate it. See the attached movie file.

So, the difference is how it’s rendering in JSON for IOS. If you look at the .JS file it looks like it’s supposed to with the rocketship shooting the lasers and blowing up the food. But the JSON does this where the lasers don’t always show up and the ship flies through the disappearing food. Not sure why it’s

[2017-05-07 14:55] bodymovin commented on #406
If it's an iOS rendering issue, I suggest that you contact the Lottie team directly. They'll have a better insight on what could be going on.

[2017-05-07 14:57] geoffgerman commented on #406
Okay. I posted to that board on Friday. Appreciate your help. : )

Geoffrey

Geoff German
Designer

RBMM
7007 Twin Hills
Suite 200
Dallas, Texas 75231

O  214 987 6539
C  214 435 1963

From: hernan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: bodymovin/bodymovin <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Sunday, May 7, 2017 at 9:55 AM
To: bodymovin/bodym

[2017-05-07 15:41] cristian-d commented on #405
Can you give me the link to the edge bug?

[2017-05-08 04:58] machida-yosuke opened #409 "What is html rendering?"
I am not very good at English, so I apologize in advance.

I understand svg / canvas rendering.
but, I don`t understand html rendering.
I want to try 3D layer.
What kind of code should I write?

[2017-05-08 14:48] Sandstedt commented on #126
@St3Ko Could you provide an example of you finished code? I'm stuck with the same problem.

[2017-05-08 14:54] foguetes opened #411 "SVG sequence"
Hello,

I have a suggestion for future development.
If we're currently able to export SVG snapshots from Bodymovin, why not add an option to export as an svg sequence?
We could then create an SVG sprite in case we can't use the bodymovin script.

[2017-05-08 22:25] jmckinnell opened #412 "Bodymovin Light is broken. `EffectsManager is not defined`"
https://github.com/bodymovin/bodymovin/blob/master/build/player/bodymovin_light.js#L5329

In the light player `EffectsManager` (camel case) is not defined anywhere

[2017-05-08 22:37] bodymovin commented on #412
Yes, bodymovin light doesn't support effects or expressions.
You need to use the full version for them.

[2017-05-08 22:42] bodymovin commented on #409
the 'html' renderer renders svg elements wrapped in div elements.
That way CSS 3d transformations can be applied to them.
Depending on your animation, it can help to render 3d.

[2017-05-08 23:32] jmckinnell commented on #412
Makes sense, could there be some better error messaging for the light version that says that?

[2017-05-08 23:56] St3Ko commented on #126
sure! i don't have the exact code anymore but i think i went with something like this:

define your animation:
[code]
wrap animation with a promise and return it - resolve on complete:
[code]
i haven't tested this code, but i think it should work :)

[2017-05-09 01:16] bodymovin commented on #411
Yes, it should be pretty straightforward to implement.

[2017-05-09 01:17] bodymovin commented on #401
this looks nice! I'll take a look at it.

[2017-05-09 01:17] bodymovin commented on #397
probably some filter effects can be applied to them. But not sure every browser supports them.

[2017-05-09 01:18] bodymovin commented on #395
You can delete the merge paths. They are usually unnecessary when converting from .ai

[2017-05-09 01:57] bodymovin commented on #392
Apparently, Safari and Chrome manage dashoffsets differently when setting negative values.
I need to see if I can find a workaround for it.
Meanwhile, can you use positive values or trim paths for the same effect?

[2017-05-09 01:57] bodymovin commented on #394
Hi, can you pass this issue to the Lottie team?

[2017-05-09 01:58] bodymovin commented on #393
yes, will do

[2017-05-09 03:44] chenqingspring commented on #401
Thanks for your support @bodymovin :)

[2017-05-09 15:25] ThePredators commented on #130
hello bodymovin,

First of all thank you for this great pluggin !

Well im getting the exact problem as described by @elgamble and @kencieszykowski with solid element. While rendering with the bodymovin plugin no animation showed up.

Thanks for help.
(I join the project so u can see what's going on !).
[AmazingAppAnim.aep.zip](https://github.com/bodymovin/bodymovin/files/987124/AmazingAppAnim.aep

[2017-05-09 22:46] Ipaulsen opened #413 "Cannot read property 'u' of undefined"
bodymovin.js:8490 Uncaught TypeError: Cannot read property 'u' of undefined
    at AnimationItem.getAssetsPath (bodymovin.js:8490)
    at HImageElement.createElements (bodymovin.js:10946)
    at HImageElement.BaseElement.init (bodymovin.js:5353)
    at HImageElement.HBaseElement [as constructor] (bodymovin.js:10276)
    at new HImageElement (bodymovin.js:10940)
    at HybridRenderer.createImage (b

[2017-05-10 01:52] bodymovin commented on #413
hi, can you share a link with the error?

[2017-05-10 03:27] bodymovin commented on #130
Hi, unfortunately the radio waves effect is not supported.
Only a few effects are right now.

[2017-05-10 06:18] Sandstedt commented on #126
Worked perfectly, thanks a lot @St3Ko!

[2017-05-10 06:55] cristian-d commented on #405
is it this one: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4705340/ ?

[2017-05-10 15:51] Ipaulsen commented on #413
I think it had to do with the Image references I used create shapes from vector layer and it solved my issue.

[2017-05-10 15:51] #413 closed

[2017-05-10 15:56] Ipaulsen opened #414 "Circle render cut off?"
Not sure if this has to do with my ae file. But I have vector circles but they appear to be cut off see comparison screen shots. I dont see the effect in AE.
![screen shot 2017-05-10 at 9 52 18 am](https://cloud.githubusercontent.com/assets/1786263/25908242/e75d30c4-3566-11e7-963c-707df97a616f.png)
![screen shot 2017-05-10 at 9 52 04 am](https://cloud.githubusercontent.com/assets/1786263/25908247/

[2017-05-10 16:02] bodymovin commented on #414
that's probably related to some kind of matte mask in the project.
Strokes and masks don't work well together in browsers.
But if you add a rectangle with a transparent fill on those shape layers that cover the whole stroke's surface it should work fine.
Let me know if you need more clarification.

[2017-05-10 19:32] Ipaulsen commented on #414
Here is the aep file as far as I know no masks are being used [https://ufile.io/a47k6](url)

[2017-05-10 20:11] Ipaulsen commented on #414
I figured it out. I was changing the .json file into a js var. At it was rendering funny. After using the just the json method as you outlined it works like a charm amazing work.

[2017-05-10 20:11] #414 closed

[2017-05-11 14:47] ThePredators commented on #130
Thank for your answer. Mean while i corrected the composition and then used Shape Layers, then every runs tight.

[2017-05-11 14:58] anfalk462 opened #415 "Bodymovin zipping JSON file automatically"
Bodymovin is automatically zipping JSON files on export. Has never done this before. When opening zipped file, i get an error saying "the archive is either in unknown format or damaged".
anyone else having this issue?

[2017-05-11 23:00] bodymovin commented on #415
Hi, it shouldn't be.
Can you share an exported file?

[2017-05-12 07:41] atherkhan commented on #17
Hi guys,
I have tried everything and still cannot get the extension menu to show up. I'm using Adobe After Effects CS6 on Windows 10. I have tried ZPX installer, aescripts + aeplugins zpx installer, and exman, all of them seem to fail. I have also done manual installation, please look at the attached images. Any help would be highly appreciated.

![Menu](https://cloud.githubusercontent.com/assets/

[2017-05-12 10:03] Muthukrish92 opened #416 "Uncaught TypeError: bodymovin.loadAnimation is not a function"
Hi ,
I have animation Composition done in after effects then i used bodymovin to create json file. Then i tried to use that in a demo html you have given along with the zip files. and changed the script location to my newly created json.  but i get this error.

"Uncaught TypeError: bodymovin.loadAnimation is not a function." just let me know how to proceed. whether is there any alternative functio

[2017-05-12 16:33] bodymovin commented on #17
Hi, CS6 is not supported. CC2014 and up.

[2017-05-12 21:41] iondrimba opened #417 "[Question] - Identify segments inside .json file"
Hi,
I was wondering if there is a way to identify different segments inside the generated .json file.
I didn't saw anything about how to know where a segment starts or ends, or how to get to total length of the frames used in the animation.

PS: Great lib!

[2017-05-13 00:02] bodymovin commented on #417
Hi, segments can't be identified right now.
I was experimenting with composition markers, but didn't get to anything final yet.
How would you use them?

[2017-05-13 00:34] iondrimba commented on #417
That's a great question :)

In a demo that I have build, I did something like this

        this.segments[0] = [0,26];
        this.segments[1] = [26,79];
        this.segments[2] = [79,110];
        this.segments[3] = [110,155];

and the used it like this:

this.anim.playSegments( this.segments[1], this.this.segments.length<3);

Maybe an array of segments ie: this.anim.segments?

I missed the que

[2017-05-13 21:43] DanielMaass commented on #133
Hey,
i have the same error. The script is running. Nothing happens. But when i click to open the target folder, then i see this error message:
"Unable to execute script at line 311. undefined is not an object"
I tried also older versions of bodymovin with the same result. I tested also a simple animation with a circle (position animation) but i get always the same error.
Can you help me? Where can

[2017-05-14 00:06] bodymovin commented on #133
@DanielMaass I think it's related to the language of your AE installation.
Can you share the .aep that fails so I can try it?

[2017-05-14 00:07] adamstanton commented on #260
here is the JSON

[2017-05-14 00:11] adamstanton commented on #260
http://www.pintar.hk/data.json

[2017-05-15 06:30] DanielMaass commented on #133
Yes, thousand thanks for your help...
[Boost-Animation.aep.zip](https://github.com/bodymovin/bodymovin/files/1000230/Boost-Animation.aep.zip)

[2017-05-15 10:54] IAIAE opened #419 "lineCap.json typo error"
[code]

[2017-05-15 13:47] bodymovin commented on #133
Hi, there seem to be some files missing in the project.

[2017-05-15 15:27] bodymovin commented on #133
I've found the issue. It's a language problem indeed.
I'll upload a fix this week.
Nevertheless, your 3d transforms won't work. 3d is only supported in the main comp for now.

[2017-05-15 21:01] DanielMaass commented on #133
Okay great! I designed without 3D transformation and it works, Thank you so much for support :)

[2017-05-15 21:27] tortilaman commented on #416
What is the environment you're using bodymovin in? It sounds like you haven't imported the plugin .js file. That would be my first guess as to why you're getting that error.

[2017-05-15 22:05] itaydressler commented on #343
Hi, repeaters for shapes aren't working for me. Can you upload the ae file for your codepen example? @bodymovin

Thanks for this great plugin again!

[2017-05-16 07:06] themarten opened #420 "Render Window - enhancement"
Any chance we can set the Render settings to apply to all comps?
I have multiple comps and must go into each setting and check the options I want.
Is it possible to add an "apply to all" button (next to save and cancel) which would set the same settings (but not destination folder) to all comps in the list? Whether they're ticked or not.

And can we make the Destination Folder column wider? Now it

[2017-05-16 07:35] themarten opened #421 "png alpha dark outline"
(Sorry if this is a repeat, couldn't find it in the search)

When png's are rendered they get a dark outline. This is especially noticeable when using blurry edges for an image.
![boom_dark](https://cloud.githubusercontent.com/assets/27818725/26094131/f7ec5a62-3a18-11e7-9834-198c16124d18.png)
![alpha_blur](https://cloud.githubusercontent.com/assets/27818725/26094504/952ecbc4-3a1a-11e7-8b62-f482a82

[2017-05-17 06:53] bigxixi commented on #421
@themarten  I try to change the way bodymovin render png, and it works fine for me:
1. download this `sourceHelper.jsx`
https://github.com/bigxixi/bodymovin-extension/raw/master/bundle/jsx/utils/sourceHelper.jsx

2. goto the plugin folder and find the `sourceHelper.jsx` in
WINDOWS:
C:\Program Files (x86)\Common Files\Adobe\CEP\extensions\bodymovin\jsx\utils\ or
C:<username>\AppData\Roaming\Adobe\C

[2017-05-17 07:55] themarten commented on #421
Thanks, but now the Bodymovin extension won't open in After Effects. The Extension is listed in the menu but when I click it no window shows up. Other extensions work fine. If I revert to the old file it works.

[2017-05-17 10:17] bigxixi commented on #421
@themarten sorry i havent test it on other machines.
try restart AE?

[2017-05-17 10:28] themarten commented on #421
No luck. I restarted AE and reinstalled Bodymovin multiple times, tried the new and the old sourceHelper.jsx. I'm on a PC, Windows 10, latest After Effects CC 2017 and Bodymovin version. Any ideas?

[2017-05-17 11:07] bigxixi commented on #421
I am on Mac, AE CC2014, bodymovin 4.6.7, and works fine...

[2017-05-17 11:51] themarten commented on #421
I'm using bodymovin 4.6.9 from 5 days ago.
Any chance you can try on a PC?

[2017-05-17 12:45] qasimalyas opened #422 "Error: Cannot read property 'length' of undefined"
Hi,

I'm trying to get s simple example working and am getting an error:

    Cannot read property 'length' of undefined

Below is a screenshot of the error in chrome.

![bodymovin-error](https://cloud.githubusercontent.com/assets/85598/26154133/2db0afc0-3b06-11e7-8389-c8d8eaf3dacf.png)

I'm guessing its something to do with an export setting as I tried the data.json file from http://codepen.io/ai

[2017-05-17 12:58] qasimalyas commented on #422
I tried the installation instructions again but followed option 1, rather than going directly from store. Version was bumped from 4.6.3 to 4.6.9 which kind of works now so I'll consider this issue as resolved.

Perhaps the plugin link to the store should be removed or at the very least the store plugin should be updated with the current version.

Thanks

[2017-05-17 20:36] stenuto commented on #403
Thank you Hernan-- makes complete sense!

[2017-05-17 20:36] #403 closed

[2017-05-17 21:09] qasimalyas opened #423 "List of support effects"
Hi,

Is there a list of AE effects which don't work with bodymovin?

I've seen numerous posts about some people having issues with some effects but I feel these can be mitigated by just having some documentation of effects bodymovin supports.

Thanks

[2017-05-18 11:08] machida-yosuke commented on #409
I used a 3D layer &camera on AfterEffects cc 2017.
but, bodymovin(version 4.6.9) gives an error.
"Unable to execute script at line 311. undefined is not an object"

I use camera (position(z) anime) & plane(3d layer Y axis anime).

<img width="1432" alt="2017-05-18 20 03 32" src="https://cloud.githubusercontent.com/assets/26296501/26199606/9e2f70ec-3c05-11e7-8785-704538629c78.png">

[2017-05-18 12:11] bodymovin commented on #409
I've found the issue.
I'll be uploading it by the end of this week.
thanks for reporting it.

[2017-05-18 12:14] machida-yosuke commented on #409
I am looking forward to the weekend.
thank you.

[2017-05-18 12:14] bodymovin commented on #423
https://github.com/bodymovin/bodymovin/wiki/Effects
done :)

[2017-05-18 12:18] bodymovin commented on #422
yes, I can't update the store version as often as I'd like to.
I try to do it once a month so sometimes it gets outdated.
I've just been accepted at aescripts, where it should be updated regularly.
http://aescripts.com/bodymovin/

[2017-05-18 12:22] bodymovin commented on #421
I think the issue is related to how you installed the plugin.
If you did it from the Adobe addons store, it seems to do some check on files and you can't modify them.
Regarding @bigxixi's solution, I'm trying to see how to add it to the project.
I've done some tests and it doesn't work well with CC 2014.
And also you need to tolerate the render chime going crazy if you have more than one asset :)

[2017-05-18 12:25] bodymovin commented on #260
Sorry, I meant a link with the animation running.

[2017-05-18 13:03] themarten commented on #421
Right. I installed it using Anastasiy's Extension Manager (he makes Magpickpicker for Photoshop, the only way to install that extension) which has worked fine, including the latest bodymovin.

I have lots of assets.... Looking forward to hearing what "chime go crazy" means.

[2017-05-18 13:23] themarten commented on #421
Right. I installed it using Anastasiy's Extension Manager (he makes Magpickpicker for Photoshop, the only way to install that extension) which has worked fine including the latest bodymovin.

Render chime? I have lots of assets.... Looking forward to hearing what "go crazy" means.

Thanks for looking into this. Very nice of both of you. Much appreciated.

[2017-05-18 13:55] tobgt commented on #133
![draft](https://cloud.githubusercontent.com/assets/28784190/26205568/6baa01c8-3be2-11e7-9af3-c6b8559a5fc2.jpg)
anyone help , what's the problem here ??

[2017-05-18 13:57] bodymovin commented on #133
hi, can you share the .aep so I can take a look?

[2017-05-18 14:41] tobgt commented on #133
Thanks Bodymovin , it's works well now , the problem was that i didn't put the files at the correct folders , if i found something wrong again i will let you know , thanks for this amazing script :)

[2017-05-18 15:30] tobgt commented on #133
hey @bodymovin i got the same error when i tried something from scratch
https://ufile.io/1anjl

[2017-05-18 18:03] tommarquis opened #424 "Render from AE produces random playback artifacts in browser."
Hi guys, I have an issue where an after effects file is fine for awhile and renders out a flawless json animation. Then I may make a simple tweak to the art or keyframes and then bodymovin renders with an artifact or glitch in the playback. Im using a current version of Chrome. I dont think I'm doing anything crazy with after effects it (the render) just seems to break at random. Let me know how I

[2017-05-18 18:23] tommarquis commented on #424
So I went back to an older version of the same AE file and redid the changes. (just some small timing and art tweaks.) This time it renders fine. Weird, I don't know what causes the render to sometimes come out with an artifact. Let me know if I can provide any other assets/input. Thanks! Tom  (attached is the working AE file that produces a flawless render)
[Contact_Icon_Anim_11.aep.zip](https://

[2017-05-18 18:25] tobgt commented on #133
hello ???

[2017-05-18 18:29] bodymovin commented on #133
hi @tobgt I'll try to check it when I get home from work

[2017-05-18 18:32] tobgt commented on #133
Just i don't know what happened , it works one time but when i try it again it didn't work , is there something about folders place ? do i should put files in some folders or what

[2017-05-18 18:36] bodymovin commented on #133
I need to check it myself.
But if the error is during export, I don't think it's a folders issue

[2017-05-18 18:36] tobgt commented on #133
ok great , iam waiting , thanks alot :)

[2017-05-19 02:46] bodymovin commented on #133
@tobgt hey there seem to be assets missing. Can you share them?

[2017-05-19 10:48] jvke opened #425 "Rendering canvas to webm/gif"
@bodymovin could you advise on the best strategy to render a bodymovin canvas or SVG animation to a gif/video? Potentially using CCapture.js or GIF.js

[2017-05-19 22:33] stenuto commented on #425
You're going to need to create an image sequence from the DOM, and convert that to a video from there.

[2017-05-19 22:53] bodymovin commented on #97
@atomicmedia I have been trying to reproduce this issue with no luck. If I find anything, I'll let you know.

[2017-05-20 00:09] bodymovin commented on #400
@themanisingh Hi, I think with the latest version, it should work fine.

[2017-05-20 00:33] bodymovin commented on #424
hi
in your layers "B line 02 Outlines" and "B line 01 Outlines", in Contents > Group 1
you have another Group 1 and a Merge Paths 1; since merge paths are not supported by the plugin, that group is getting trimmed and generates those artifacts.
if you delete the Group 1 and Merte Paths 1 on each, the artifact will disappear.

[2017-05-20 00:36] bodymovin commented on #425
hi, do you want to do it client side or server side?
but basically, @stenuto 's suggestion should work.

[2017-05-20 01:48] bodymovin commented on #420
I'll see what I can do from these suggestions.
thanks! :)

[2017-05-20 01:49] bodymovin commented on #419
it's not a typo, actually.
The actual value in AE is Projecting Cap, but since it's not supported, I treat it as "butt"

[2017-05-20 01:49] #419 closed

[2017-05-20 01:50] bodymovin commented on #417
what do you mean by total frames? the current segment frame count?

[2017-05-20 01:51] #395 closed

[2017-05-20 01:51] #394 closed

[2017-05-20 01:51] #397 closed

[2017-05-20 01:52] #399 closed

[2017-05-20 01:52] #386 closed

[2017-05-20 01:52] #385 closed

[2017-05-20 01:54] bodymovin commented on #384
the bug will be fixed on the next release.
stroke effects is not supported, though.

[2017-05-20 01:54] #384 closed

[2017-05-20 01:54] #379 closed

[2017-05-20 01:54] #377 closed

[2017-05-20 01:54] #373 closed

[2017-05-20 01:55] #367 closed

[2017-05-20 01:55] #364 closed

[2017-05-20 01:56] #363 closed

[2017-05-20 01:56] #365 closed

[2017-05-20 01:56] #357 closed

[2017-05-20 01:57] #348 closed

[2017-05-20 01:57] #337 closed

[2017-05-20 01:58] #331 closed

[2017-05-20 01:58] #316 closed

[2017-05-20 01:58] #297 closed

[2017-05-20 01:59] #301 closed

[2017-05-20 01:59] #236 closed

[2017-05-20 02:00] #232 closed

[2017-05-20 02:00] #177 closed

[2017-05-20 02:01] #174 closed

[2017-05-20 02:04] bodymovin commented on #216
done :)

[2017-05-20 02:04] #216 closed

[2017-05-20 02:05] iondrimba commented on #417
@bodymovin I mean the total frames of the animation exported from AE. I'm curious of that because the guys from AirBnb made Lottie on top of the .json file exported by your lib, and there you can go from start of an animation to the end using percentage values from 0.0 to 1.0

[2017-05-21 00:00] #425 closed

[2017-05-22 10:33] yadomi opened #426 "mesureText return always same width on iOS"
Hi, first at all thanks for this great tool 👍

However, i'm encountering a problem on iOS (in Safari, not in a native app or with Lottie) with letter spacing. When you first load the page, every letter is way more spaced than expected but when you reload the page, everything get back to normal. (See: [expected.png](http://jmp.sh/6tgywMK), [whatactuallyhappens.png](http://jmp.sh/9gRleQE) )

I've di

[2017-05-22 15:22] tobgt commented on #133
@bodymovin hey, is this plugin supports AE Mask Animation , Text animation and Effects on layers too
because i tried some masks animations and didn't work , also i tried text animation and didn't work
and put radial wipe effect at layer and didn't work also , i can run the script but this layers didn't appears at unity. ??!

[2017-05-22 15:37] bodymovin commented on #133
@tobgt mask and texts don't have full support but it supports many of their features.
Radial wipe is not supported.
Can you share an .aep so I can check?

[2017-05-22 18:57] MAGSON opened #427 "Extension not showing in after effects"
I have followed the instructions, but the extension is not showing up in after effects. I have an old version of after effects: after effects 7.0. Does this extension also work for this version of after effects?

[2017-05-22 19:09] bodymovin commented on #427
hi, it works starting from CC 2014 and up.

[2017-05-22 19:18] MAGSON commented on #427
ok, thank you

2017-05-22 21:09 GMT+02:00 hernan <notifications@github.com>:

[2017-05-22 21:04] simonassili opened #428 "Beam fx"
Hi, is it possible that beam effect will be supported by bodymovin in near future ?
And is the ramp fx working now ?

[2017-05-23 10:51] KhodorAmmar opened #429 "Gradients issues"
hello!

We're having multiple issues with exporting an animation with gradient, some of the colors are not appearing correctly. would you mind taking a look?

[2017-05-23 10:54] bodymovin commented on #429
sure, can you send me the .aep?
Make sure you save the .aep before exporting.
Gradient info is taken from the project file.

[2017-05-23 10:56] KhodorAmmar commented on #429
here you go, with the exported files

[GradientsBug.zip](https://github.com/bodymovin/bodymovin/files/1021871/GradientsBug.zip)

[2017-05-23 11:00] bodymovin commented on #429
I see, the 4-color-gradient effect is not supported.
Can you use a shape's gradient fill instead?

[2017-05-23 12:06] Onlypar2 opened #430 "full size solid background is not rendering in Bodymovin !"
I have made a small svg animation with a white background (after effects solid), extending to the full comp size. But it is not getting rendered, leaving the background black. As i tried rendering it with slightly smaller size than the comp, then it is rendering the white background also, but if i tried to make it a full comp size solid and render it, its rendering as black background ! Please let

[2017-05-23 13:06] bodymovin commented on #430
hi, can you share the .aep so I can check it?

[2017-05-23 13:51] bodymovin commented on #428
I'll take a look at the beam effect and see what I can do.
Regarding the ramp effect, it's not supported.
But the gradient property of shapes is.

[2017-05-23 19:35] stenuto opened #431 "Is 'corner pin' effect possible?"
Hi, would adding support for the corner pin effect be possible?

[2017-05-23 20:13] Hulewat opened #432 "ios segments"
Is it possible to take a lottie animation and segment it in ios? To be able to tell it when to start and stop?

[2017-05-23 21:34] JoshFabian opened #433 "Animation render only as white screen"
Hey there, I have an animation that I'm attempting to render with Bodymovin but the output seems to end up as nothing more than a white screen, as seen here:

https://codepen.io/JoshFabian/project/editor/AaoNEm/

Any help would be greatly appreciated. AE file attached.

[kitsu-reveal.aep.zip](https://github.com/bodymovin/bodymovin/files/1023825/kitsu-reveal.aep.zip)

[2017-05-23 23:03] bodymovin commented on #426
Hi, if you're adding the font yourself to the site, you need to make sure the font is loaded before calling the animation. The player assumes it's loaded unless it loads it itself.
Does that work for your case?

[2017-05-23 23:08] bodymovin commented on #431
Hi, not for now.
I'm working on a three.js implementation.
Perhaps then I will be able to look into it.

[2017-05-23 23:09] bodymovin commented on #432
Hi, you should ask the Lottie team directly.
They will have a better answer than me.
https://github.com/airbnb/lottie-ios

[2017-05-23 23:14] bodymovin commented on #433
Hi, there are two issues going on:
- adjustment layers are not supported, so they are not getting exported. You should convert them to regular layers.
- there is an expression bug I need to fix on my side. I'll upload it this days. Meanwhile, as a workaround, if you add your "Reveal" comp inside a new comp and export that one, it should work fine.

[2017-05-23 23:24] Hulewat commented on #432
Thanks will do.

On Tue, May 23, 2017 at 4:10 PM, hernan <notifications@github.com> wrote:

--
°°°°°°°°°°°°°°°°
Seth Hulewat
Art Director
hulewat.com <http://www.hulewat.com> | 646.341.0410

[2017-05-24 00:05] JoshFabian commented on #433
@bodymovin thanks, that's helpful! I'm pretty new to AfterEffects, I can see that disabling the adjustment layer gives me the white block I had seen with Bodymovin, but I'm not sure where to begin on converting them to regular layers.

Any pointers or links your could send my way to get me started?

[2017-05-24 04:29] Onlypar2 commented on #430
Hi,
Thanks for the reply.
I am sending you the .aep file. Please check it out.
Thank you.

On Tue, May 23, 2017 at 6:36 PM, hernan <notifications@github.com> wrote:

[2017-05-24 11:06] super-cache-money opened #434 "Error: controller.effect is not a function"
We're unable to get this to work.

We're using the latest version of bodymovin.js, AE, and the AE plugin.

Here's a [forked codepen containing our broken attempt](https://codepen.io/super-cache-money/project/editor/ARwaMy/).

We get the following error:
[code]

[2017-05-24 11:26] bodymovin commented on #434
hi, can you share the .aep file?

[2017-05-24 11:34] super-cache-money commented on #434
Thanks for the quick support 😁 You have no idea how appreciated it is.
[Here's the .aep file](https://drive.google.com/open?id=0B_yd6q8QYct-a1U0TFRMNzZWcG8).

[2017-05-24 11:49] bodymovin commented on #434
Can you try selecting to export Hidden layers in the comp's settings on the bodymovin panel?

[2017-05-24 11:51] super-cache-money commented on #434
Trying it now...

On Wed, May 24, 2017 at 1:49 PM, hernan <notifications@github.com> wrote:

[2017-05-24 12:26] super-cache-money commented on #434
Almost there! I've [updated the codepen](https://codepen.io/super-cache-money/project/editor/ARwaMy/). It's still got some weird inconsistencies though compared to [what it should look like](https://drive.google.com/open?id=0B_yd6q8QYct-cjRqVWZKcDZEME0).

[2017-05-24 12:29] bodymovin commented on #434
can you convert your .ai layers to shapes in AE?

[2017-05-24 13:31] bodymovin commented on #430
hi, email attachments don't come through in github. Can you attach it directly here?

[2017-05-24 13:57] Onlypar2 commented on #430
Hi, unfortunately, I am also unable to attach the .aep file through github,
as it accepts only a few formats. So, I am sending it through my google
drive. Please go through this link.

https://drive.google.com/file/d/0B9Y-loKvj6-MR1J2ZG40UmtTVmFPcDZXNG9OWmRSQkQ3ZlF3/view?usp=sharing

Thank you.

On Wed, May 24, 2017 at 7:01 PM, hernan <notifications@github.com> wrote:

[2017-05-24 16:18] yadomi commented on #426
Hi, thanks for your feedback.

I don't add the font myself but use the built-in font manager from BodyMovin by settings Google fonts when exporting in AE.

However, I've tried by settings `None` at export time and load them with [webfontloader](https://github.com/typekit/webfontloader) but even after the `active` event, I still get the same issue.

[2017-05-24 16:58] bodymovin commented on #426
I see. Can you share the .aep so I can try it?

[2017-05-25 01:59] machida-yosuke opened #435 "I would like to use an existing canvas."
I would like to use an existing canvas.

pug File
[code]

js File
[code]

After compiling
html
[code]

Please tell me how to solve it.

[2017-05-25 18:05] cmalven commented on #400
Using Motion 2 on a little demo project to test bodymovin. Noticing that the `Warp` effect (which automatically stretches/squashes to match movement) isn't appearing in the exported animation. Should it be, as far as you know? If so, is there anything special I need to change in my export settings to see this effect?

(BTW, I'm aware that this original issue is very poorly-named, vague and unhelpf

[2017-05-26 00:08] bodymovin commented on #430
Hi, I'm trying it and it seems to work fine.
Do you have a link where I can see the error?

[2017-05-26 00:15] bodymovin commented on #435
you need to get the canvas context
try something like:
[code]

[2017-05-26 00:17] bodymovin commented on #400
@cmalven Hi, unfortunately, the warp effects is not supported by the plugin.

[2017-05-26 00:48] machida-yosuke commented on #435
Thank you for your continued support!!

[2017-05-26 00:48] #435 closed

[2017-05-26 07:42] tortilaman opened #437 "Uncaught ReferenceError: val2 is not defined"
I'm working on letting designer's upload their JSON files using a CMS type interface. The JSON files are uploaded and stored in PouchDB as blobs and then converted to JSON for Bodymovin to display. Bodymovin is displaying the SVGs initially, but midway through the animation it throws this error on every animation I've tried.

**Bodymovin Config**
[code]

**Console Output**
[code]

I have a feeling

[2017-05-26 09:33] Onlypar2 commented on #430
Hi,
I tried it with many other projects, but i couldn't get the background
rendered. It is coming transparent. I am sending you the rendered file with
this mail. please check it out.
I am repeating my problem again:
When I am trying to create an svg animation render out of after effects
through bodymovin, I took full white/any color "solid" (not just a box
background) as background and added a sma

[2017-05-26 09:35] yadomi commented on #426
Hi,

Here is a zip with the .aep file: http://jmp.sh/x41oeQB
However this happen on most animation with custom fonts on iOS, not just this one

I've added in the .zip a demo using the built-in font manager to load google fonts and another one using webfont-loader. Hope that help.

Thank for your help 👍

[2017-05-26 12:40] laygir commented on #133
Hi @bodymovin

If I try to use gradient fill instead of a fill, I receive the following and can't export.
"unable to execute script at line 21. null is not an object"

Do I have to avoid using gradient fill under shapes?

Thanks in advance.

[2017-05-26 13:18] bodymovin commented on #133
@laygir hi, have you saved the project before exporting?
for gradients, you need to save the .aep file since it takes the information from there.

[2017-05-26 13:52] laygir commented on #133
@bodymovin aah! thanks! I am sorry for taking your time, I quickly dived into it with an excitement. After saving the file it works. Thank you for this great tool, much appreciated.

[2017-05-26 20:26] helvetica80 opened #438 "trim paths"
I'm trying to create a preloader but there's some weirdness with the stroke. I've attached a screengrab of the weird stroke and the ae file

[preloader-52617.zip](https://github.com/bodymovin/bodymovin/files/1032909/preloader-52617.zip)

[2017-05-27 09:35] Jyoti10mane opened #439 "After effects animation"
I have created logo animation in aftereffects it works fine in aftereffects but when i convert it in bodymovin and use in html page its not showing ani animation pls tell me what is the problem why animation is not working in html page pls  give me any solution

[2017-05-27 09:38] Jyoti10mane commented on #439
one more issue i hav i have created one page which display products and i hav done with my seard coding also but i stuck with currency we want that when i click on any currency all products price should converted to that paricular currency but its not working

[2017-05-28 02:59] #437 closed

[2017-05-28 02:59] tortilaman commented on #437
An issue with my config or something. I might suggest creating a gitter for this repo since it does seem very popular.

[2017-05-29 03:12] Tswan commented on #180
@giacomoalonzi in my case it required me to write a path to the json file. It could be absolute or relative, but the way I did it so the script started from the root directory was:
`
var myBodyMovinVariable = bodymovin.loadAnimation({
    container: document.getElementById('example'), // the dom element
    renderer: 'svg',
    loop: false,
    autoplay: false,
    path: 'inFolderLocatedInMyRootDi

[2017-05-29 03:20] zephinzer opened #440 "Support for server side rendering"
Currently lacks checks for browser environment, am adding a PR to resolve this issue by checking if window and navigator is available before running `factory()`

[2017-05-29 12:45] ffrutuoso opened #443 "Opening AE with Bodymovin tab creates Untitled project"
Well, this is not really a problem, just annoying.

Each time I am opening AE in any workspace with the bodymovin tab open, it asks me to save an Untitled Project, before opening any other project.

![screen shot 2017-05-25 at 18 32 18](https://cloud.githubusercontent.com/assets/13594537/26550291/ea36a646-4474-11e7-94ad-94a04aa5a0a8.png)

Not something extra urgent, but now you know.

Thanks for a

[2017-05-29 19:29] gpeal opened #444 "Custom eases not rendered correctly"
@bodymovin Attached is a sample AEP with a custom ease on the scale of a triangle and a video of what it looks like After Effects vs Bodymovin. It looks the same as bodymovin in Lottie.

Originally reported here: https://github.com/airbnb/lottie-android/issues/308

[2017-05-29 19:43] gabrieltintarescu opened #445 "Exporting won't work (messed up)"
@bodymovin
Just bought a pack of animated icons pack, but when trying to export any of them I get a messed up red animation in json....
I attached a project with an example icon (atom) below... Please help 🥇 💯

[AfterEffectsProject.zip](https://github.com/bodymovin/bodymovin/files/1036530/AfterEffectsProject.zip)

[2017-05-29 20:23] christianeide opened #446 "Possible to update textlayers?"
Hi,

Im trying to update the text in a textlayer after I have created the element with bodymovin.loadAnimation. If I try to simply update the animationData-object on the animation, it wont update. I can see that the object in developertools is updated, but this will not cause a rerender of the text onscreen. I have also tried to destroy the animation and recreate the object, but this wont work eth

[2017-05-29 21:34] ellkell opened #447 "Overlapping Animation"
New to bodymovin and trying to see if this is possible.

My idea to have a looping walkcycle with a control that alters various properties (Position, Scale, Opacity, etc.) of elements within the walkcycle.  E.g. let's say I have a null object that animates the hip position.  I want the walkcycle animation to loop while I have the ability to control the playback of the null hip control with JS.  Is

[2017-05-30 00:07] bodymovin commented on #447
Yes, there is not an official API for this, but if you edit the animation properties from the json object attached to the animation instance, you should be able to modify them in real time.
Here are some simple examples that do that.
https://codepen.io/airnan/pen/EmdXGo
https://codepen.io/airnan/pen/pyMgzN
If you need further help, let me know or write me an email.

[2017-05-30 00:16] gpeal commented on #444
Forgot to attach the zip
[Ease.zip](https://github.com/bodymovin/bodymovin/files/1036945/Ease.zip)

[2017-05-30 00:16] ellkell commented on #447
Awesome thanks!  I'll share the results when I get there, cheers!

[2017-05-30 00:39] #447 closed

[2017-05-30 06:31] yadomi commented on #426
Any update on this ?

[2017-05-30 10:03] honeyhorny commented on #86
i'm having problem same @flickitty
![screen shot 2560-05-30 at 4 55 27 pm](https://cloud.githubusercontent.com/assets/12539087/26578385/dff137e2-4559-11e7-9713-d09c191200fa.png)
![screen shot 2560-05-30 at 4 56 27 pm](https://cloud.githubusercontent.com/assets/12539087/26578386/dff21fd6-4559-11e7-885d-f6eb68db58d8.png)

[2017-05-30 10:10] honeyhorny opened #448 "I Create shapes Ai to Ae Already But Render is fail How to fix it."
I Create shapes Ai to Ae Already But Render is fail How to fix it.
![dff137e2-4559-11e7-9713-d09c191200fa](https://cloud.githubusercontent.com/assets/12539087/26578585/a7740376-455a-11e7-960e-d989a3119cba.png)
![dff21fd6-4559-11e7-885d-f6eb68db58d8](https://cloud.githubusercontent.com/assets/12539087/26578586/a7c9a222-455a-11e7-927d-800ff38eced6.png)

[2017-05-30 12:41] Kuzovlev-Sanya commented on #448
I have the same issue! After I create shapes from vector layers

[2017-05-30 12:55] laygir opened #449 "Masking high width stroke"
Hi!

I have a bit of an issue trying to figure out. I am trying to mask a stroke with a width of over 200px. Masking it with a rectangle but somehow I see only a few pixel height. Attached the aep file and few screenshots can anybody see what am i missing?

This is how it looks in AE
![screen shot 2017-05-30 at 14 56 20](https://cloud.githubusercontent.com/assets/772730/26584158/2b34cb40-4548-11e7

[2017-05-30 12:56] bodymovin commented on #449
how are you masking it? using a track matte?

[2017-05-30 12:56] laygir commented on #449
Yes, just Alpha Matte

[2017-05-30 12:58] bodymovin commented on #448
sometimes when convrting layers from Illustrator, AE adds some unnecessary extra shapes with merge paths.
And bodymovin doesn't support merge paths
If you erase the merge paths and the extra squared layers, everything should work fine.
Let me know if you need further clarification.

[2017-05-30 12:58] Kuzovlev-Sanya commented on #448
Ok, I found the problem, the fact is that after converting to shapes on one layer was unnecessary path, after removing it everything was displayed normally

[2017-05-30 12:59] bodymovin commented on #449
Browsers don't mask strokes correctly, so a workaround for this is creating a transparent rectangle in the contents of the masked shape layer that covers the whole surface of the stroke.
Let me know if it makes sense.

[2017-05-30 13:10] laygir commented on #449
it makes sense theoretically, but couldn't make it work.
Tried these below

![screen shot 2017-05-30 at 15 09 58](https://cloud.githubusercontent.com/assets/772730/26584724/1607a36c-454a-11e7-8688-f30f3a80f95d.png)
![screen shot 2017-05-30 at 15 10 05](https://cloud.githubusercontent.com/assets/772730/26584723/15e8942c-454a-11e7-9022-77a20f79f178.png)

[2017-05-30 13:15] bodymovin commented on #449
try including a transparent fill to it.
Tr going with option 1 so the trim path won't affect it and add it right below the Transparent Rect property.

[2017-05-30 13:19] laygir commented on #449
yay! it worked. yeah by just adding the rect I thought I have added a transparent path. Obviously needs a fill with 0 percent opacity..
Thanks!

So one more question; does stroke paths supposed to work with zig zag and such things? Seems like it doesn't work or I need to figure out how it works

[2017-05-30 13:22] bodymovin commented on #449
zig zag and those kind of modifiers are not supported yet.
I'm working on supporting them right now.
Only rounded corners and trim paths are supported for now.

[2017-05-30 13:26] laygir commented on #449
that's perfect, thank you very much. Looking forward to it. if you ever need a beta tester, count me in.

Cheers!

[2017-05-30 13:27] bodymovin commented on #449
thanks!

[2017-05-30 13:27] #449 closed

[2017-05-30 14:47] daksamedia opened #450 "Not smooth in phonegap / cordova apps."
Dear @bodymovin ,

I just rendered by using the plugin and try to embed in cordova projects.
But unfortunately, they was playing slow animation with some lags.
Here my projects [link](https://github.com/daksamedia/hdsplash)

Could you help with this experience?

[2017-05-30 15:20] snfisch opened #451 "Duik Character not rendering"
I've tested this character before adding Duik and they display fine. After adding Duik, however, I get a white screen in browser. I've attempted to render with hidden and guides on. Is there something else I need to do to get bodymovin to work with Duik?

[bikerBodymovin.aep.zip](https://github.com/bodymovin/bodymovin/files/1038794/bikerBodymovin.aep.zip)

[2017-05-30 17:53] erikalutz commented on #444
@bodymovin this was originally a bug I filed on lottie-android, thinking it was only on Android. I'm also experiencing some errors with layer parenting on iOS that I'll email you about directly.

[2017-05-31 06:05] Jeremy-Knudsen opened #452 "CanvasRenderer is undefined in bodymovin light player"
I'm getting the following error in the console when using the bodymovin light player. Any guesses as to why I might be seeing this error? I'm guessing it might be me ... but this error seems to be pointing to the player code.

SCRIPT5009: 'CanvasRenderer' is undefined
bodymovin_light.min.js (6,29083)

[2017-05-31 10:45] bodymovin commented on #452
the light version only supports the svg renderer

[2017-05-31 11:33] bodymovin commented on #426
I'm looking into it. There seems to be a bug loading the font. Will have more info later today.

[2017-05-31 14:04] vishnu0vh opened #453 "please add support for track matte"
track matte is a feature in after effects which lets you clip mask a layer to another layer
this feature lets the artist tweak the mask in ways any normal layer can be
can this be incorporated anytime soon ?

[2017-05-31 14:06] bodymovin commented on #453
it should be working with the svg renderer.
What kind of matte are you using?

[2017-05-31 14:52] k0mrad opened #454 "Rubberhose object is being rendered incorrectly on SVG"
I have exported everything from AE, and the canvas rendering works just fine, however when working with SVG the rubberhose is attached to the top left of the scene. Any ideas?

https://codepen.io/komrad/pen/0bcbfad0318eba90892680951af705ab

https://www.dropbox.com/s/h2bys22k89e9aup/digital-panda-home%20auto-save%2055.aep?dl=0

[2017-05-31 17:22] Jeremy-Knudsen commented on #452
Hi Hernan,

Thanks for your quick reply. I see this message in spite of specifying "SVG" as the renderer to use for the animation.

Thanks,
Jeremy

[2017-05-31 17:25] bodymovin commented on #452
can you share a link with the error?

[2017-05-31 20:48] jorgosh opened #455 "Two masks, two comps"
I've a simple single animation with a trim path animator. This has been pre-comped and put on another comp. In this main comp I've duplicated the animation and added a mask to both on one part. The second comp doesn't show up when rendering. No .ai files, just shapes and paths. When I remove a mask from the second comp, it renders everything.

[2017-05-31 21:33] bodymovin commented on #455
Hi, can you share the .aep so I can take a look?

[2017-06-01 05:57] vishnu0vh commented on #453
i am using a vector shape, an elipse with stroke and trim path as matte so that i can make my drawing appear in a circular path mask.. i am attaching how it would look in a gif along with this
![shubam](https://cloud.githubusercontent.com/assets/29099314/26666338/06d0d426-46bd-11e7-9a17-8d8d9281e388.gif)

[2017-06-01 09:23] wyfang opened #456 "I have a question about using the Chinese version of AE"
I was using bodymovin derived json, but the use of Chinese version of AE, derived json Lane will have Chinese characters, how to solve this?

[2017-06-01 09:58] teebow commented on #426
Can't we test like this sample page https://smartslider3.com/bugs/webkit/fontfamily1/index2.html
to see if the size has changed and if so restart the measureText ?

[2017-06-01 11:11] bodymovin commented on #453
is it not working? can you share the .aep?

[2017-06-01 13:01] christianeide commented on #446
So I am a little bit closer. After reading different cases here on GitHub, I understand that you have to have keyframes on values that should change. So now I have put keyframes on both position and Source Text. I can now update the position, but not the Source Text. Is it possible to update the Source Text?

[2017-06-01 14:53] tobgt opened #457 "AE Effects"
Hello i knew that AE2Unity script doesn't support AE effects like " Radial Wipe "
so is there any other way to make Radial Wipe effect in AE and can work with this script ??

Also i tried Trim Path at line but didn't work too, Also mask didn't work , So please if you know how can
i make this effect and can work with script it will be great , thanks

[2017-06-01 15:05] dinamicostudio commented on #169
![capture](https://cloud.githubusercontent.com/assets/25509061/26686131/ec3b96ee-46a0-11e7-9db1-bbb036af670a.PNG)
Please have a look my screenshot I can't install also my velositey extension also please help me.

[2017-06-01 21:15] Jeremy-Knudsen commented on #452
Here's the link (just have the Console open when you load the page):
http://jeremyknudsen.azurewebsites.net/mwf/

[2017-06-01 22:15] cmalven commented on #400
Thanks @bodymovin your comment to @themanisingh above made me think that it might work.

[2017-06-01 22:33] cmalven opened #458 "Feature Request: Automatic re-rendering"
As I'm building a web animation in After Effects, it's incredibly important that I'm constantly rendering the animation and previewing it in a browser using bodymovin, to ensure that the animation is appearing correctly. I can't go through hours of work and preview the animation only to realize that an effect/feature in After Effects isn't supported by bodymovin.

This is currently a pretty time-c

[2017-06-02 10:17] jorgosh commented on #455
Hey, I've sent an email.

[2017-06-03 00:41] bodymovin commented on #430
What browser are you testing it on?
I tried the new version and it seems to work fine.
If you have an online link that I can check, it would be very helpful.

[2017-06-03 00:43] bodymovin commented on #439
hi, can you share the .aep so I can check it out?

[2017-06-03 04:07] Onlypar2 commented on #430
Hi,
I checked in chrome and hopefully latest version only. I will check it once
again and send u an online link if possible. Thank you. and what about in
an older version browsers? cant they see the background as we see in the
latest versions?
Thank you.

On Sat, Jun 3, 2017 at 6:11 AM, hernan <notifications@github.com> wrote:

[2017-06-03 04:58] daksamedia opened #459 "Rendered canvas wouldn't play"
Hi @bodymovin

I'm new on using this plugin.
I already rendered my animation into 'canvas', but it wouldn't play.
here's my config 👍

`var anim;
	var canvaso = document.getElementById('canvaso')
    var elem = document.getElementById('bodymovin')
    var animData = {
        container: elem,
        renderer: 'canvas',
        loop: true,
		prerender: false,
        autoplay: true,
        rendere

[2017-06-03 14:06] bodymovin commented on #445
hi, Have you included the Effects & Color Control Comp as an Extra Comp in the settings of the animation?

[2017-06-03 14:28] bodymovin commented on #446
Since Text keyframes are Hold keyframes, they are not interpolated, so until it reaches that keyframe, the text won't be updated.
You can modify the keyframe starting value together with the text in order for it to work.
Let me know if it helps.

[2017-06-03 15:12] bodymovin commented on #451
fixed! I will upload it later today.

[2017-06-03 16:02] bodymovin commented on #456
Hi, do you have issues loading that json?
Also, can you share the json or the .aep project?

[2017-06-03 16:04] bodymovin commented on #457
Hi, I think people use a circle with a wide stroke with trim path as a track matte.

[2017-06-03 16:04] bodymovin commented on #169
Hi, what is Velositey?
I think the Extension Manager doesn't work with CC 14 and up

[2017-06-03 16:12] bodymovin commented on #452
try adding the renderer type on the div element.
data-bm-renderer='svg'
it will default to canvas if you don't.
I should change that for the light version, though.

[2017-06-03 16:19] bodymovin commented on #458
Yes, this is something I'm thinking on how to achieve

[2017-06-03 16:59] bodymovin commented on #459
Hi, can you share a link where it is failing?
I can't figure out what might be wrong.

[2017-06-04 00:50] ikonx opened #460 "_°0+Mç:lè!§trdxw addEventListenerpm$"

[2017-06-04 01:48] brianchu opened #461 "react animation does not play the last few frames"
Using the demo app Animated Viewer and point to use https://www.lottiefiles.com/296-react-logo

See: https://youtu.be/rAa6_Fufqag

Observed: The last frame few frame is missing something.

[2017-06-04 07:42] Vinothapplife opened #462 "How to set the text in AE with all the character set?"
Hi @bodymovin ,

Thanks for this plugin, very nice one!.

Dynamic text in animation:
I have few implementation with this , i am not able to pass dynamic text.  if try to change the text but its getting error.  Then i found this link https://github.com/bodymovin/bodymovin/issues/238 , its useful.

Can you guide us How to set the text in AE with all the character set?  and how to export all characte

[2017-06-04 10:36] DaanDirk opened #463 "Calculate intermediate state of two path shapes?"
Hi Hernan,
Very happy to have an interactive version of JnS!! Lots of possibilities. :)

Now that the JnS works on some parameters interactively, I would love for the paths to work as well.
I figured i can do a path transformation on each axis with time remapping: http://www.daandirk.com/drag-jns/
So I guess, it is possible to calculate the intermediate state of these two shapes with something lik

[2017-06-04 14:31] gabrieltintarescu commented on #445
Yep I tried including it but still no success....

[2017-06-04 14:35] bodymovin commented on #445
do you have a link where it fails?

[2017-06-04 14:37] gabrieltintarescu commented on #445
I have 0 experience with bodymovin&aftereffects so i guess I dont have any link (nor I know how to debug the process...)

[2017-06-04 14:40] bodymovin commented on #445
where do you see the red animation?

[2017-06-04 14:51] gabrieltintarescu commented on #445
Exporting it as a video, gif, or any other format works flawless.  However when trying to export with bodymovin it messes up. Here is a screenshot so you can understand better.

![example](https://cloud.githubusercontent.com/assets/29048705/26762639/63b37552-494e-11e7-8c91-61d7c2b4bac6.png)

[2017-06-04 14:58] bodymovin commented on #445
can you try choosing on the settings of that comp in the bodymovin panel to export the demo.html and open it in a browser or send it to me?

[2017-06-04 15:03] gabrieltintarescu commented on #445
Here it is!

[Atom Animation.zip](https://github.com/bodymovin/bodymovin/files/1050426/Atom.Animation.zip)

[2017-06-04 16:22] bbzz7 commented on #456
![image](https://cloud.githubusercontent.com/assets/5621067/26763395/ddcd62d6-4984-11e7-9d06-30707a4dee9a.png)
I have the same problem too

[2017-06-04 16:24] bbzz7 commented on #456
The script can not be executed at line 129，After effect error: can not get the font outline, do you want to try another font?

[2017-06-04 17:37] bodymovin commented on #456
Hi, some fonts can't be converted to shapes in AE.
Can you share the .aep so I can take a look? (include the font if necessary)

[2017-06-04 17:38] bodymovin commented on #461
Can you share it with the Lottie team directly?
They will have a better idea of what is going on.

[2017-06-04 22:00] bodymovin commented on #454
Hi, I've tried it and it seems to work fine.
Do you have a link where it fails?
the codepen link seems to display another animation.

[2017-06-04 22:03] k0mrad commented on #454
I just changed it 2 minutes ago haha. please check again.

[2017-06-04 22:10] bodymovin commented on #454
You seem to be using an old player. can you try with the latest one?

[2017-06-04 22:14] k0mrad commented on #454
fixed. thank you

[2017-06-04 22:14] #454 closed

[2017-06-05 01:18] bodymovin commented on #426
Hi, it should be working on the latest version.

[2017-06-05 01:18] bodymovin commented on #443
It should be fixed on the latest build
v4.6.11

[2017-06-05 01:19] bodymovin commented on #444
hi, it should be fixed on the latest build
v4.6.11
you'll need to install the latest extension and reexport the animation

[2017-06-05 02:01] wyfang commented on #456
I am sorry, I test, even if the Chinese can still run. So, this is not a problem, or thank the street

[2017-06-05 06:58] #455 closed

[2017-06-05 09:57] zmax91 commented on #421
@bigxixi your solution does not work for me, I'm using CC 2017 on Mac. @bodymovin is there any way to fix this?

[2017-06-05 16:19] sudeshprathap opened #464 "fast blur + simple choker"
couldn't convert the "simple blur + simple choker" effect into Java script file. Is there any way or It isn't possible?

[2017-06-05 17:21] Jeremy-Knudsen commented on #452
Yeah, I was thinking since this is the _light_ player it should only support the SVG renderer and not even have a case statement here. Removing it would make the "light" player even lighter :)

[2017-06-05 20:30] DaanDirk commented on #463
Hi,

Didn't need to put the paths in the right form as AE already does that. So no need for polymorph.

So with this you can get the intermediate state between two paths.
`function pathMix(){
	// set the paths of the layers to mix
	A = 'v';
	B = 'h';
	Mix = 'mix';
	var aPath = document.getElementById(A);
	var bPath = document.getElementById(B);
	var mixPath = document.getElementById(Mix);
	var the

[2017-06-05 23:11] #173 closed

[2017-06-05 23:18] bodymovin commented on #462
I just add an extra text layer for each font I need with all the characters I want exported.
I suggest that you set the in point of those text layers to be off the animation segment so they never get really rendered.

[2017-06-05 23:37] bodymovin commented on #463
So where in the rendering do you want to hook to modify shapes?
Are you thinking of setting an initial and final value and let bodymovin interpolate or do you want to set arbitrary middle values?

[2017-06-05 23:53] bodymovin commented on #464
Hi, no sorry, those effects are not supported yet.
They are difficult to replicate and I don't think that for real time rendering they'll be performant enough.
sorry :/

[2017-06-06 00:03] bodymovin commented on #450
hi, can you share the .aep?

[2017-06-06 00:03] #460 closed

[2017-06-06 00:07] bodymovin commented on #440
Thanks! I'll merge it in the next deploy.

[2017-06-06 00:08] bodymovin commented on #438
I'm not sure what is going on.
It seems to be related to the Line Cap and a last segment of the shape, I need to keep looking into it.

[2017-06-06 05:55] Vinothapplife commented on #462
@bodymovin Thanks for you reply ! if you don't mine can you send me the any samples .aep file.

[2017-06-06 06:32] fariskas opened #466 "Control Bodymovin animation on mouse scroll according to page height"
Hi. sorry, but this is more of my technical limit rather than the bodymovin's. but i have a question regarding something im trying to achieve.

I am trying to make my frame 1 of my animation at the top of my page, and final frame of animation at the bottom of a scrolling page. So when you scroll, the animation will animate and reach the last frame at the bottom.

I've manage to do the play on mous

[2017-06-06 07:25] daksamedia commented on #459
Hi, I already sent the file for you..
I sent it to your email.

[2017-06-06 07:58] christianeide commented on #446
Sorry, but I can still not get this to work.

This is my code:

[code]

So the CreateGraphics works as expected. But I cant get UpdateGraphics to work. Is there anything other than updating the keyframes textvalue I need to do?

.json attached

[test2.json.zip](https://github.com/bodymovin/bodymovin/files/1054182/test2.json.zip)

[2017-06-06 13:41] cmalven opened #467 "Optimizing for repeatedly-used elements"
I'm planning out a longer animation sequence using bodymovin, and there are many cases where an object will appear in the scene, then be out of the scene for awhile, and then return to the scene unchanged.

I'm very aware of trying to keep the total size of the output SVG as small as possible, and I assume that  if a layer ends in After Effects, bodymovin will completely hide that "layer" in the o

[2017-06-06 14:19] bodymovin commented on #467
Hiding elements with opacity 0 is an idea I've tried before. I removed it because I didn't want to overwrite user css settings.
But adding it as part of the config is a good idea.

[2017-06-06 14:21] cmalven commented on #467
@bodymovin adding it to a config makes sense. How difficult do you think this would be to add? Is it something that I could reasonably add as a PR or is it complicated enough that you would want to tackle it?

[2017-06-06 14:22] bodymovin commented on #467
I think I need to take care of it. But it shouldn't be too hard. I'll try to do it this days.

[2017-06-06 14:23] cmalven commented on #467
Thanks, that would be amazing, and very much appreciated.

[2017-06-06 16:50] bodymovin commented on #466
If I understand correctly, I think you need to measure the full height of your site and divide scrollTop by the height so you can sync the scroll to the animation.
If you have a codepen or some live link I can take a look.

[2017-06-06 19:25] synxmax opened #468 "Composition Filter Case Sensitive !?"
Is there any reason behind composition filter in Bodymovin windows being case sensitive , Cause it's annoying !?

[2017-06-06 19:46] derfmilar opened #469 "Images are blurry only on some monitors"
This seems to be an issue with all browsers, but each have different problems. I'm just looking for any kind of help on this.

To see what I'm saying -
- go this URL http://guidedtours.devmoore.com/
- select "provider"
- click "next"
- click on "3" in the bottom right
- click "next" one time

The language dropdown animation is blurry on most screens (but not all), and most browsers (but not all).

[2017-06-06 21:22] DaanDirk commented on #463
The time remapping is a distraction.

I only want to set the current shape.

With JnS the 5 keyframes to interpolate between are transcribed in the expression of the path that should get the new interpolated shape.
That is an interpolation between 3 shapes;
  1) center,
  2) horizontal (either left or right),
  3) vertical (either up or down).

So I get those from for example: anim.animdata.layers

[2017-06-06 23:40] bodymovin commented on #469
It's probably because you're using very large images as source files.
When text in an image gets scaled too much, image renderers can't handle it with a good antialiasing.
Have you tried using the assets in their final size?

[2017-06-06 23:40] bodymovin commented on #468
haha
I'll look into it.

[2017-06-07 03:06] fariskas commented on #466
here's a codepen. https://codepen.io/farisk/project/editor/ABaWqw/
ps. the live link was in the original post above

anyway i've managed to calculate the percentage of page scrolled. but im not sure how to apply it to  the animation.
`

[code]

[2017-06-07 03:47] bodymovin commented on #467
done and uploaded :)

[2017-06-07 04:19] fariskas commented on #466
I've kinda solved it. dont have a pen for it but here is the live example :
http://fariskassim.com/stage/typojanchi/v1/index.html

However i have a question. In AE, i did the animation as a 60fps, 4 seconds. which means it should have 240 frames.

anim.totalFrames gives me 240 which is right.
but when i use  anim.goToAndStop(240), it doesnt give me the last frame.
i have to use  anim.goToAndStop(4

[2017-06-07 08:25] UniK commented on #138
OK, I'm working on this.

[2017-06-07 09:01] UniK commented on #138
I have submitted a pull request #470.

[2017-06-07 09:07] fyneDC opened #471 "Impossible de faire un rendu"
Bonjour,

J'ai eu beau lire un peu partout sur git, les messages des autres qui ont eu le même problème, je n'arrive pas à résoudre le mien.
Mon animation n'est pas folle, rien de bien tordu, juste des rotations.
J'ai toujours l'erreur, impossible, erreur à la ligne 311...

Bref, j'ai besoin d'aide...

Merci d'avance

[2017-06-07 12:13] SundancePioneer commented on #464
@sudeshprathap - you can use css-blur effects on certain objects by assigning a class or id to them. You can get around using the simple choker by using masks in most cases!

[2017-06-07 12:15] SundancePioneer commented on #385
Hi - sorry for forgetting to reply. Actually, assigning names to the gradients is helpful for other intents and purposes as well, so i changed the setup. I don't have the original file with the gradient problem anymore, sorry. If it ever turns up again, i will send it to you!

[2017-06-07 13:11] bodymovin commented on #466
By default, the goToAndStop uses milliseconds as the first param.
You need to pass a second param as true in order to use frames.
so, if you try goToAndStop(240,true) it should work.

[2017-06-07 13:22] V-Zhou opened #472 "4.7 Unable to export text elements"
I'm using the latest version 4.7, why can't I export my own simple text elements?
What additional settings do you need to export text?
When you export any text element, there is a pop-up, about the font
Also, I've tried the Chinese version of version 4.6. You can export text elements, but you can't export any elements with 3D rotation effects

[2017-06-07 13:24] bodymovin commented on #472
hi, can you share the .aep so I can take a look?

[2017-06-07 13:29] V-Zhou commented on #472
Sorry, I can't provide screenshots now. It will need to wait until tomorrow
But I remember that the error tip probably means "unable to render the outline of the font."

[2017-06-07 13:30] fariskas commented on #466
Ah thats what the 'ifFrame' was. Thanks!

[2017-06-07 13:47] bodymovin commented on #472
That's usually related to the used fonts.
Some fonts can't be converted to shapes in AE.
But nothing has changed related to that in version 4.7

[2017-06-07 13:51] V-Zhou commented on #472
Are there any default supported fonts?

[2017-06-07 14:58] cmalven commented on #467
Amazing! Thank you.

[2017-06-07 15:01] teebow commented on #426
Hi,
Thanks for the new version ! ... but it's still not working.
The only way I have found is to use a timeout on IOS to be sure the font is really loaded... otherwise we have no way to know for sure that it's loaded. (The issue only happen for the first loading on a new tab)

[2017-06-07 15:06] bodymovin commented on #426
Can you share a link? I've tested it and it worked fine, even for the first time.

[2017-06-07 18:40] itwasmattgregg commented on #46
I am having this issue as well. It doesn't seem to treat masks as expected

[2017-06-07 19:54] casillasluisn12 opened #473 "html renderer"
Great plugin btw, truly truly amazing.

Just a little issue.

I noticed that changing the renderer from svg to html, creates a div with height 0, checked in both chrome and safari. later changing that height from the console shows nothing. with svg works just great. I'm working with Bootstrap

right now it doesn't really affect my workflow, but I saw that you can apply 3d transformations with css

[2017-06-07 20:24] bodymovin commented on #473
yes, when using the html and canvas renderers, you need to call the resize method on the instance whenever you need for it to resize.

[2017-06-08 02:46] casillasluisn12 commented on #473
Ok, yeah, that was it. Also, it didn't appear with height percentage values, it only worked when a numerical value was assigned.

Thanks for the response. Again what an amazing plugin 🙌🏽

[2017-06-08 13:12] teebow commented on #426
you can try this : [font-test](https://staging.story.tl/font-test/)
Open the link on safari on iPhone with IOS 10 or 11
the monoton and open sans have wrong size the first time only.

[2017-06-08 13:29] bodymovin commented on #426
Should it work on Safari on a desktop Mac?

[2017-06-08 13:52] teebow commented on #426
With your fix it now works on safari :)
As you can see the difference with this [link](https://staging.story.tl/test-cover-export/index.html)
that uses a previous version of bodymovin. (test in private navigation to be sure nothing is cached)
But it does not work on iOS. If you don't have a iPhone it will be hard for you to reproduce... maybe with the iPhone simulator shipped with XCode you might

[2017-06-08 18:04] Teksetta opened #474 "Event 'complete' and 'onComplete' not firing"
I have an animation setup
[code]

I start the animation inside of another function:
[code]

I can't seem to get the event 'complete' or 'onComplete' to fire when the 1 second animation is done. I do get feedback from 'DOMLoaded' so I know I've set it up correctly.
[code]

[2017-06-08 18:53] Teksetta commented on #474
It fired. I should have checked my test AE animation; the entirety of the comp was rendered instead of the 1 second of animation that was created.

I found this out by using currentFrame and totalFrame to see the animation was 'still playing'.
[code]

[2017-06-08 18:53] #474 closed

[2017-06-08 21:28] snfisch commented on #451
Thanks for the update! Still not working for me, though. Did you get it to render?

[2017-06-08 21:46] snfisch opened #475 "Images not Exporting?"
When I export a comp, bodymovin doesn't create an images directory. Is this something I need to do manually? Is it going off from the AE comp's links?

My animation doesn't have any of the images visible (I assume because the links are broken), but I can tell they're still animating correctly by inspecting the demo.

[2017-06-08 22:57] bodymovin commented on #475
hi, can you share the .aep and the demo.html file?

[2017-06-08 23:07] bodymovin commented on #471
Salut, pouvez-vous partager le project .aep pour que j'y regarde?

[2017-06-08 23:10] bodymovin commented on #459
It seems I didn't get it. Can you resend it?

2017-06-06 4:25 GMT-03:00 Daksa Media.Inc <notifications@github.com>:

[2017-06-08 23:12] bodymovin commented on #46
@itwasmattgregg Can you share the .aep so I can take a look?

[2017-06-08 23:25] bodymovin commented on #451
Yes, here's the animation rendered
https://codepen.io/airnan/pen/bb0ad77773f16db55d258d4003729eac
can you share a link where it fails so I can check it out?

[2017-06-08 23:28] bodymovin commented on #463
Yes, exactly, only values with expressions have the x.
if you want it interpolated, try creating 2 keyframes for the shape, one on the first frame and one on the last.
For it to update, change both values in the animationData, and it should work fine.

[2017-06-09 01:43] V-Zhou commented on #472
Thank you very much for your quick answer, and now I have a video to demonstrate my problems

As shown in the video, I wrote a simple text element and exported the JSON file with "bodymovin"
But I don't know how to set it up when it comes to a Font popup

I look forward to hearing from you very much. Thank you very much!
[https://youtu.be/QH9jWB6ExZ8](url)

[2017-06-09 01:49] bodymovin commented on #472
hi, the video doesn't seem to be working.

[2017-06-09 01:50] bodymovin commented on #472
working now, sorry

[2017-06-09 05:30] juanitoddd opened #476 "Flash Support ?"
Hello,
My question is if this Plugin would also work for Flash or is there plans to port to Flash aswell,
Thanks, awesome project :)

[2017-06-09 08:19] UniK commented on #138
All right, so the `bodymovin` package is now registered with Bower.
All semver tags will be available as versions.
You can install the package with `bower install bodymovin`, or list all the available versions with `bower list bodymovin`.

[2017-06-09 11:14] fyneDC commented on #471
Bonjour,

J’ai consolidé le document. C’est vraiment un tout petit truc. Si jamais on arrive à le faire fonctionner, ça peut être pas mal pour notre projet final.

Merci d’avance et encore félicitation pour le plugin et surtout la maj avec les petits effets sur les boutons !

A bientôt !

Jean-Bastien Calatayud

Creative Director & Co-founder

jbcalatayud@fynedc.com <mailto:jbcalatayud@fynedc.com>

[2017-06-09 11:29] bodymovin commented on #471
Les fichiers attachés a un email n'arrivent pas a github, pouvez vouz l'attacher ici?

[2017-06-09 11:33] fyneDC commented on #471
[M dossier.zip](https://github.com/bodymovin/bodymovin/files/1063881/M.dossier.zip)

[2017-06-09 11:44] bodymovin commented on #471
as tu After Effects en francais?
Quelle version de bodymovin as-tu installée?
Ca devrait etre corrigé dans la derniere.

D'autre part, les animations 3d sont seulement supportées dans la Comp principale pour le moment.

[2017-06-09 11:47] fyneDC commented on #471
yes, en français, la version CC 2017.
la version de bodymovin, je n'arrive pas à la trouver mais je sais que le plugin s'est mis à jour tout seul, je l'avais téléchargé à partir du store adobe.

OK, ça doit être pour ça, du coup je ne sais pas trop comment faire pour faire tourner mon objet en plus des formes...

[2017-06-09 11:49] bodymovin commented on #471
aujourd'hui la version du store s'est actualisée, tu peux essayer avec celle ci.
Peux tu utiliser des Null Objects en lieu de Précomposer?

[2017-06-09 11:54] fyneDC commented on #471
malheureusement, je ne suis pas assez calé en after pour te répondre...
je vais essayer quand même aujourd'hui.

[2017-06-09 13:08] snfisch commented on #451
Looks good! I've managed to replicate your codepen. I'm using the generated demo file to preview it. Is the problem that I'm testing locally with the demo?

[2017-06-09 14:06] snfisch commented on #475
[BM-Image_Test-folder.zip](https://github.com/bodymovin/bodymovin/files/1064250/BM-Image_Test-folder.zip)

[2017-06-09 18:16] raquelx commented on #475
I also just noticed a problem with images exporting – it had been working fine yesterday morning, and when I exported new updates this afternoon, the image files export into a folder but are not showing up when I look at the animation in the browser.

[2017-06-09 18:22] raquelx commented on #475
[reference.zip](https://github.com/bodymovin/bodymovin/files/1064913/reference.zip)
* also including .aep and demo file for reference, thanks!

[2017-06-09 22:32] bodymovin commented on #451
might be.
Can you share the demo you're testing?

[2017-06-09 22:33] bodymovin commented on #476
Hi, Flash is not in the plans for the moment.

[2017-06-10 11:04] daneial opened #477 "Body movin export failed"
Hi @bodymovin
I have two strange problem in export with bodymovin. My file created in Ai & my animate is so simple but i have this problems:

1. My file works well in AE, but when export it just show solid color!
2. When export my file, some shapes messed up. like this:
![other problem](https://user-images.githubusercontent.com/20255843/27002250-2a1a27ca-4df2-11e7-9840-f2ab7be033f6.png)

I Attach

[2017-06-10 11:59] #477 closed

[2017-06-10 12:19] bodymovin commented on #475
Found the issue, it will be fixed on the next release.

[2017-06-10 12:51] #476 closed

[2017-06-10 12:51] #473 closed

[2017-06-10 12:52] bodymovin commented on #472
does it work when you export it as Glyphs?

[2017-06-10 12:53] #467 closed

[2017-06-10 12:53] #466 closed

[2017-06-10 12:54] #461 closed

[2017-06-10 12:54] #457 closed

[2017-06-10 12:54] #456 closed

[2017-06-10 12:55] #453 closed

[2017-06-10 12:55] #448 closed

[2017-06-10 12:55] #434 closed

[2017-06-10 12:55] #433 closed

[2017-06-10 12:56] #431 closed

[2017-06-10 12:56] #432 closed

[2017-06-10 12:56] #429 closed

[2017-06-10 12:57] #424 closed

[2017-06-10 12:57] #423 closed

[2017-06-10 12:57] #422 closed

[2017-06-10 12:58] #416 closed

[2017-06-10 12:59] #415 closed

[2017-06-10 12:59] bodymovin commented on #409
fixed

[2017-06-10 12:59] #409 closed

[2017-06-10 12:59] #406 closed

[2017-06-10 13:00] #404 closed

[2017-06-10 13:00] #402 closed

[2017-06-10 13:01] bodymovin commented on #405
No, I reported it to a microsoft dev and he told me they have an internal log.

[2017-06-10 13:01] #405 closed

[2017-06-10 13:02] #391 closed

[2017-06-10 13:02] #389 closed

[2017-06-10 13:02] #375 closed

[2017-06-10 21:42] gabrieltintarescu commented on #445
Any solution please?

[2017-06-11 07:48] awingit opened #478 "Single stage with multiple animated elements to be controlled individually"
Hi,

I am not sure of this is a feature request or can be done already.

I am trying to improve the work flow from animator to developer.

What comes to mind is allowing the animator to have a single stage which then has individual animated elements/characters which I can then control individually. Instead of having to export individual animations. This would allow the animator to position and ani

[2017-06-11 07:52] awingit opened #479 "Animation loops within a single animation"
Hi,

Is there a way to use a single animation provided by an animator to be able to loop segments of the animations?

The first idea that comes to mind is simply using time and detecting when an animation reaches a certain time then the animation either resets to the beginning of the loop or reversing.

What this would allow is the animator to be able to determine varies loops within a single anim

[2017-06-11 08:19] daneial opened #480 "My Shapes Messed Up!"
Hi @bodymovin
I create animation in AE and exported with bodymovin and now have json file.
but i have problem.
when i use it in [lottiefiles](https://www.lottiefiles.com/) it's worked well but when my iOs coder use it, some shapes messed up. like this:
![about](https://user-images.githubusercontent.com/20255843/27009419-07e635a2-4ea3-11e7-8be9-ff2da33d77d9.png)(I tested with [LottiePreview](https:

[2017-06-11 15:31] VBUZZE opened #481 "No animation showing up when I try to play a JSON rendered using Bodymovin"
Hi,

I made a simple test site to display the JSON I'm trying to render using Bodymovin.
I tried to use the JSON files provided in Lottie's examples. It works just great I can see the animations.

So I just made a quick composition in After Effects CC 2017, allowed scripts to write files and access network, I tried then to render my composition using Bodymovin. I generated the JSON file but when I

[2017-06-11 18:09] VBUZZE commented on #481
Should I include the images along with the JSON file ? if yes what is the folder hierarchy ?

[2017-06-11 18:29] VBUZZE commented on #481
My bad I just didn't know you had to give the images along with it.

Now that I can see it I might have spotted a bug though. When you use several paths to mask something in after effects the paths are applied successively while when rendered using Bodymovin, all the paths are applied simultaneously.
In most case we can manage to have only one path for everything in after effects and therefore byp

[2017-06-11 18:29] #481 closed

[2017-06-12 04:09] daneial commented on #480
I Contact with Lottie support and find out problem is Lottei.
They said "if you use fill rules, Lottei Only support it in Android now but we hope to add support for it on iOS soon."

I use fill rules in illustrator. I changed it to stroke and problem solved!

[2017-06-12 07:10] #480 closed

[2017-06-12 07:31] 7iomka opened #482 "CliPath don't work in Microsoft Edge if is defined inside <defs>"
Hello!
I noticed a strange bug that I could not fix with the help of answers on the Internet, however I randomly moved the <clippath> definitions from <defs> to the body <svg> and hurray - it worked!
The real question is how do I interact with the received json file to get the clippaths from the defs before the animation starts?
Of course, I can first render to the scene, then move with js, and th

[2017-06-12 11:58] jackhone commented on #466
@fariskas can you share the final code you used? Your live example has changed now.. I'm trying get the same thing to happen inside of Framer

[2017-06-12 12:10] cj-rogers opened #483 "Is it possible to use outside of RequireJS when RequireJS is loaded on the page?"
Hi,

I'm trying to get this to load onto a site where I only have partial control over whats loaded/how it loaded onto the page. The part I don't have control over uses RequireJS to add their own scripts.

When I try to load this script the 'normal' way, this causes a conflict with RequireJS because of the define global variable. Then If i try loading it within a requireJS function, all other scri

[2017-06-12 13:30] tobgt opened #484 "Key animation issue"
I'm really didn't understand what happened here , but when i run script it divided the animation , so it doesn't work smoothly as it is in after effects , in unity each loop it stops for a part of a second and it continues in the other loop .
![keyissue](https://user-images.githubusercontent.com/28784190/27036075-fb434768-4f83-11e7-8cc4-1eae3da4418d.jpg)

[2017-06-12 23:02] bodymovin commented on #479
you can use playSegments() to achieve that. It takes an array with an initial and final frame, and a flag to force it right away.

[2017-06-12 23:05] bodymovin commented on #482
Hi, can you explain a little more of the use case?
You'd like to modify masks before animation starts?

[2017-06-12 23:09] bodymovin commented on #483
Hi, unfortunately there is no build without the define method checked.
If you use the unminified version you could do a quick fix changing the validation
typeof define === "function" && define.amd
to something else

[2017-06-12 23:10] bodymovin commented on #484
can you subtract one keyframe from the animation Work Area?

[2017-06-13 05:32] awingit commented on #479
Thank you. Does playSegments allow for infinite looping? For instance, if I play a segment, would it loop infinitely by default?

[2017-06-13 09:49] tobgt commented on #484
iam sorry what do you mean ??!

[2017-06-13 10:35] bodymovin commented on #479
if the loop param is set to true, yes

[2017-06-13 10:48] awingit commented on #479
Thats awesome. Thanks for an awesome plugin!

[2017-06-13 10:48] #479 closed

[2017-06-13 11:36] tobgt commented on #484
Please explain more , all what i did in after effects is a rotation key from 0 : 360 and i run the script . and when i opened it in unity i found it divided to 4 keys and it didn't work smoothly

[2017-06-13 12:50] UniK commented on #138
This issue can now be closed.

[2017-06-13 13:09] snfisch commented on #475
Is there a way to link these up manually within the json? I've unminified it in order to find where it calls my images, but I don't know the syntax for hooking up a path. I'm just hoping to troubleshoot before a deadline!

[2017-06-13 13:26] raquelx commented on #475
Wondering also if this bug is linked to the most recent version of creative
cloud; I noticed the image exporting broke the morning after my creative
cloud auto-updated. Also curious if you have an idea of when the next
release will be – aiming to launch a project this coming Monday.

thanks much!!!
R

On Tue, Jun 13, 2017 at 9:09 AM, snfisch <notifications@github.com> wrote:

--
+  +  +  +  +  +

[2017-06-13 13:33] cj-rogers commented on #483
Hi, thank you for the quick response!

In the end, I had to remove the define and object creation conditionals to get this working!
This is very much so an extreme edge case.

Thanks again for your help! Closing ticket.

[2017-06-13 13:33] #483 closed

[2017-06-13 14:26] mountaindata opened #485 "Font Rendering not working in some cases"
I am trying to export some text layers that use special characters using the "fonts to shapes"-feature. I had no issues while rendering other files with the same specifications but this time the script doesn't work:

![1](https://user-images.githubusercontent.com/29404675/27087069-4dcffcd0-5054-11e7-9755-4d2aac23e26d.jpg)
![2](https://user-images.githubusercontent.com/29404675/27087067-4dbecc4e-50

[2017-06-13 14:51] irenama commented on #440
Since this issue is still open I wondered why [this statement:](https://github.com/bodymovin/bodymovin/commit/ebbd70d7ac1a2c417cb1792f391a3adc8cd244a4#diff-c13f3df43f937a4d59cf3d2b085135dfL1)
`var inBrowser=(typeof navigator !== "undefined");(inBrowser) && ` ...
didn't make it into master? It seems like this addition is essiantial for my server-side rendering use-case.

Thank you and keep the good

[2017-06-13 15:01] DaanDirk commented on #463
Yes. It works: http://www.daandirk.com/
So silly it's impossible to do adjust the paths vertices in AE.
Would still like to put the calculation into the json. Would that be possible?

Also I keep putting this part into the json by hand:
"p":{"a":1,"k":[{"i":{"x":0.833,"y":0.833},"o":{"x":0.167,"y":0.167},"n":"0p833_0p833_0p167_0p167","t":0,"s":[0,0,0],"e":[0,1,0],"to":[0,0,0],"ti":[0,0,0]},{"t":92

[2017-06-13 17:35] RTDQ opened #486 "Using Stroke Effects For Text Animation"
I've been trying to do a simple handwriting animation test in after effects but when loading the export in chrome it only plays the last letter of it. I'm using the stroke effect for it and from reading the wiki the support for it is only partial. Would it just be a case of this not being compatible with the extension or am I missing something? This is what the output looks like in chrome:

![body

[2017-06-13 19:22] 7iomka commented on #482
https://j.gifs.com/X64qml.gif
I want the clippath to be rendered out of defs because the edge does not support the clippath declaration inside the defs! How it works I showed on the animated screenshot.
There is no existing customization in api to do this at the export level from AE via bodymovin I did not find

[2017-06-13 22:38] bodymovin commented on #440
I don't want to pollute the global scope with the "inBrowser" variable.
Is there another solution for this?

[2017-06-13 22:41] bodymovin commented on #482
I don't think the problem is having it inside the defs tag. Usually Edge works correctly once you modify something from the console.
Can you create a simple demo where it shows clip paths don't work?
It doesn't have to use bodymovin at all, just a basic demo.

[2017-06-14 00:59] jackmcdade opened #487 "Extremely high CPU usage"
Hey there, I'm seeing a 130% CPU usage for my animation. The JSON file is 1mb, which i'm assuming has something to do with it. Do you have any recommendations for optimization?

[2017-06-14 04:46] bodymovin commented on #487
Hi, can you share the .aep so I can take a look?

[2017-06-14 04:47] jackmcdade commented on #487
Sure thing! Here's a download link: <http://d.pr/f/MGGx9>

[2017-06-14 05:44] 7iomka commented on #482
You are right about something.
https://codepen.io/7iomka/pen/YQGwvG - without gsap & bodymovin animations
https://codepen.io/7iomka/pen/YQGwdp - only bodymovin animations
https://codepen.io/7iomka/pen/OgRMqz - gsap & bodymovin animations
All works
However, with site styles (moved as is)
This bug is observed:
https://codepen.io/7iomka/pen/EXgKyP?editors=0110 - not working correctly
I'm scratching m

[2017-06-14 10:00] awingit commented on #315
@processprocess and @bodymovin, can you share an example of this? I am not sure how to specifically use DOMLoaded. Is the event listener added to the bodymovin object or the animation instance?

[2017-06-14 10:48] bodymovin commented on #315
@awingit it's added to the animation instance.

[2017-06-14 10:56] awingit commented on #315
thanks @bodymovin , would it be used like this:

`var _anim = bodymovin.loadAnimation(_options);
_anim.addEventListener('DOMLoaded ', function(e) {
      console.log('element loaded');
});`

[2017-06-14 10:58] bodymovin commented on #315
yes, exactly.

[2017-06-14 11:01] awingit commented on #315
Is there anything in the options that would prevent that event from firing? The animation loads but that event does not trigger...

[2017-06-14 11:04] bodymovin commented on #315
you have an trailing space: 'DOMLoaded ', if you remove it, it should work.

[2017-06-14 11:05] awingit commented on #315
Typical :P . Thanks bodymovin! Really enjoying the project I am working on using this plugin!

[2017-06-14 11:22] awingit opened #488 "QUERY: How are animations rendered?"
When I debug the animated SVG with chrome dev tools, I notice there is a hide/show animation of individual frames. I am just curious to know if this is the only way it would render or if animated paths and shapes could be rendered, not as frames?

The reason I ask is because I would assume the file size would be much less if a single vector shape is loaded and then the actual vector points be modi

[2017-06-14 11:29] bodymovin commented on #488
The plugin actually updates a single vector if it comes from the same AE layer.
Hidden shapes are layers that are no longer in the composition's current frame.

[2017-06-14 11:35] awingit commented on #488
Ok cool. I then assume it has to do with the animation itself. Thanks.

[2017-06-14 11:35] #488 closed

[2017-06-14 13:02] marcelbold commented on #143
Hi bodymovin, we experience a lot of strange (not displaying correctly) behaviour in alpha or inv. alpha masks in IE / Edge. It seems to me that you can't use masks in edge?

[2017-06-14 15:39] samiam2017 opened #489 "JSON output not matching Normal AEP output"
Hey guys,

I've been trying to troubleshoot a number of issues with the JSON output of this looping animation.

Any help would be appreciate.

best,
-S

Issues I'm running into:

Playback is not smooth in JSON
Glitches are appearing during playback in iOS emulator
The sweep of lines from the pie chart back to the loader is cutting out in the JSON movie.
JSON Pie chart not same thickness as in AEP

[2017-06-14 19:19] erikalutz commented on #444
@gpeal @bodymovin Looks good, thanks for the fix guys!

[2017-06-15 08:19] OpherV opened #490 "Animation doesn't export properly"
This is my animation in AE
![forest1](https://user-images.githubusercontent.com/3951311/27171966-1a212530-51bc-11e7-8e85-e0a8d7186797.gif)

When exported with Bodymovin:
![forest_rendered](https://user-images.githubusercontent.com/3951311/27171973-20aa0818-51bc-11e7-93ff-7ab30907c1ed.gif)

Looks like something weird is going on with masking.

Here's the composition
[forest.aep.zip](https://github.

[2017-06-15 17:59] samiam2017 commented on #490
issue is with the inverted alpha on your tree comp. If you turn that off the project will render the green part. I think bodymovin doesn't support inverted alphas.

[2017-06-16 14:28] ryaboshtanov commented on #451
Currently I'm working on project where I want to use Bodymovin plugin.

I've created an object (Simple shape) with a simple animation (to check if it works fine) and I want it to move with cursor or click or etc. I've seen example with Interactive Hand but nothing works for me like on that example.

1. I've created JSON from AE.
2. I've added an ID for my shape in JSON file.
3. I've successfully t

[2017-06-16 16:03] samiam2017 commented on #489
Being answered in another channel [https://github.com/airbnb/lottie-ios/issues/260]

[2017-06-16 16:04] #489 closed

[2017-06-18 12:48] OpherV commented on #490
Got it. Thanks @samiam2017!

[2017-06-18 12:48] #490 closed

[2017-06-18 14:57] bodymovin commented on #485
there seems to be a character in some of your layers that can't be exported:
#65279 is the Unicode Character 'ZERO WIDTH NO-BREAK SPACE'
for example in your layer 99: ﻿"Virtual Reality wird behandelt von Finanzen"
if you delete it, it should work fine.
I'll try to fix this on the extension side on the next update.

[2017-06-18 15:07] bodymovin commented on #478
Good idea but it's not that simple because they all run in a single instance.
You could play around with in points and time remapping to achieve this, but not sure how flexible it will be.

[2017-06-18 19:02] bodymovin commented on #475
Fixed and uploaded.
sorry about the delay but I've been away this week.

[2017-06-18 19:26] mountaindata commented on #485
Thank you for looking into this. I appreciate your support very much.

[2017-06-18 21:29] bodymovin commented on #487
Yes, there are a lot of paths in this animation. A quick count gave me 1938.
There is an issue converting AI layers to AE shapes.
AE adds an unnecessary square path and a merge path.
For example in your composition "square", on any of the layers (smoke_3/House in Mountains Outlines for example), inside Contents > inside "Group 1" and "Group 2" if you remove the inner Group 1 and the Merge Paths in

[2017-06-18 21:31] bodymovin commented on #143
have you tried the Luma mask?
Can you share the aep or a link where it fails?

[2017-06-18 23:42] bodymovin commented on #445
Hi, I've been trying to debug this and it's getting really complicated.
Nevertheless, the animation works fine outside of the demo.html file.
Have you tried implementing it in your own project?

[2017-06-19 12:54] marcelbold commented on #143
[170613_LOGO_Animations_v2.aep.zip](https://github.com/bodymovin/bodymovin/files/1084932/170613_LOGO_Animations_v2.aep.zip)

Luna mask does't work for my 'layer 15',
alpha mask for layer 8 & 12 doesn't render for IE / edge

[2017-06-19 20:33] alopezsanchez opened #491 "Installation problem with Bower"
Hello.

Bower installation is ignoring `build/player` directory because of the `bower.json` ignore propertie, being `build/player/bodymovin.js` the main file.

![screen2](https://user-images.githubusercontent.com/15221596/27304306-dbfbd3f6-553d-11e7-8a0b-fa15f4efdf81.png)

I'm doing a PR.

[2017-06-20 09:31] matthijsotterloo opened #493 "Problem with installing"
Hi!

I'm trying to install this on Adobe After Effects CC 2017, but I can't manage to install it.
ZXP Installer says: "Installation failed because the extension is not compatible with the installed applications" and installing it trough the command line with `./Contents/MacOS/ExManCmd --install bodymovin.zxp` gives `Failed to install, status = -403!`.

How can I solve this?

[2017-06-20 10:55] radiovisual commented on #440
I am not 100% familiar with the architecture choices of bodymovin, (since I just started looking into the code), but @bodymovin, if you are afraid to pollute the global scope with the `inBrowser` variable, what about exposing some helper functions on the `bodymovin` object?

That way we can do:

[code]

[2017-06-20 16:12] cesaraugust0 commented on #133
Hi @bodymovin , sorry to bother you, I´m getting this message: "unable to execute script at line 314. p is undefined "

I dont even need to have a comp on the project, It worked fine the first days but now I´m unable to use it, any suggestions?

[2017-06-20 16:13] inessashillo opened #494 "Some layers look fine, but some look like they felt from mask, although no masks were applied"
Hi! I have a strange issue. I have fully prepared and simple file from AI https://tppr.me/NixYo with super simple animation in AE. No extra dots in paths. Although, when I render it with bodymovin I've got this https://tppr.me/jkSy3.

Do you know something about that problem and how can I solve it?

[2017-06-20 16:13] bodymovin commented on #133
@cesaraugust0 can you try closing the bodymovin panel and reopening it?

[2017-06-20 16:14] bodymovin commented on #494
hi, can you share the .aep so I can take a look?

[2017-06-20 16:15] cesaraugust0 commented on #133
I did that, closed and reopened after as weel, uninstalled and re installed bodymovin twice...

[2017-06-20 16:17] bodymovin commented on #133
can you share a screenshot with the error in it's context?

[2017-06-20 16:21] inessashillo commented on #494
[twist.zip](https://github.com/bodymovin/bodymovin/files/1088877/twist.zip)
Sure!

[2017-06-20 16:22] cesaraugust0 commented on #133
![when i open the panel](https://user-images.githubusercontent.com/29578644/27344064-a913f636-55aa-11e7-8710-4e2c00fb184d.jpg)
![when i open after effects nd the panel is already open](https://user-images.githubusercontent.com/29578644/27344066-a9b17154-55aa-11e7-90e1-52c527ecb41c.jpg)
 Sure @bodymovin

[2017-06-20 16:23] cesaraugust0 commented on #133
@bodymovin first one is when I open the panel, second one is when I left the panel open and then close and re open after effects

[2017-06-20 16:24] machinefixer commented on #421
For mac user (I'm using macOS Sierra with AfterEffect CC 2017), just download modified version of bodymovin from @bigxixi 's repo: https://github.com/bigxixi/bodymovin, I installed it through ZXP Installer, replaced original bodymovin, then the black border is gone, everything comes great again.

[2017-06-20 18:07] cesaraugust0 commented on #133
any clue?

[2017-06-20 18:11] bodymovin commented on #133
I'm guessing it's related to CC 2014, but I need to check it further

2017-06-20 14:07 GMT-04:00 cesaraugust0 <notifications@github.com>:

[2017-06-20 21:33] phantomboogie opened #495 "json file not cropping properly"
My json export has an animation that goes off frame but when i export it as a json file and load it on a page, it gets cropped weird. Any ideas whats up or if this is a bug? Thanks

https://www.dropbox.com/s/tp0y80hfm4tm0k1/Screenshot%202017-06-20%2014.33.27.png?dl=0

[2017-06-20 21:39] #495 closed

[2017-06-20 21:51] cesaraugust0 commented on #133
Thanks @bodymovin lety me know if you find a solution please

[2017-06-21 00:22] bodymovin commented on #494
that zip doesn't seem to have the .aep file.
I only got the .ai and .json

[2017-06-21 08:27] inessashillo commented on #494
Shoot! sorry!
[twist aep.zip](https://github.com/bodymovin/bodymovin/files/1090816/twist.aep.zip)

[2017-06-21 08:31] irenama commented on #440
@bodymovin I tried a webpack-workaround but unfortunately the server always breaks before anything else because of the navigator variable.

@radiovisual that seems like a terrific idea

[2017-06-21 11:47] bodymovin commented on #494
I see it working fine here. Is it possible that you're using an older version of the player?
Can you share a link where it fails?

[2017-06-21 13:14] jhughes000 commented on #97
Hey I get this error and have the same issue closing it every time I start up AE w/ bodymovin actively docked in my workspace. Essentially, if I use bodymovin and forget to close the panel before quitting AfterEffects, the next time I open AfterEffects, I always get this error. It's been happening since day one and I've been using Bodymovin for a few months now :( Hopefully there's a fix? Here's m

[2017-06-21 16:18] inessashillo commented on #494
https://svgsprite.com/demo/bm/player.php?render=svg&bg=333 here

[2017-06-21 17:05] bodymovin commented on #494
That is an old version of the player, that must be the reason why it fails.
It's usually best to use the player equal or newer than the animation.

[2017-06-21 20:47] TheRealSmaft opened #497 "Stacked/Swapped animations behave inconsistently"
Firstly, bodymovin is a dream come true. Excellent work!

But I am having an issue with fluctuating SVG sizes.

I am using the included 'complete' event listener in a few places on my site to destroy one animation and replace it with another in the same position to keep the animations smaller among other reasons. This works perfectly just about everywhere I have tried it. But some devices are disp

[2017-06-22 10:47] inessashillo commented on #494
can you share a newer player?

[2017-06-22 11:25] DaanDirk opened #498 "valueAtTime() to dynamically get a Path from a shape layer"
Hey Hernan,
I'm trying to make a little letter writing exercise interactive.
Got started here: http://www.daandirk.com/write-on-test/
(Touchscreen version works in chrome.)

I was hoping to get the shape of the letter from a shape layer path with an expression:
`thisComp.layer("lettershapes").content("Path 1").path.valueAtTime(thisComp.layer("#writeon").effect("current letter")("Slider")/25)`
But

[2017-06-22 12:03] bodymovin commented on #498
That link doesn't seem to have the json working.
http://www.daandirk.com/wp-content/uploads/letters.json returns not found.

[2017-06-22 12:06] bodymovin commented on #494
on the bodymovin panel in After Effects, select Get the Player and you can get your current version.

[2017-06-22 12:29] DaanDirk commented on #498
Oh sorry, my bad, was planning to replace it when i ran into the expression problem.

[2017-06-22 12:36] bodymovin commented on #498
Where does it break? exporting the json file or when playing?
Also, instead of the long if statement, can't you do an array with all the characters and do something like:
[code]
assuming c+f starts at 0 in this case.

[2017-06-22 12:48] DaanDirk commented on #498
Bodymovin breakdances when rendering the json.

If I try:

f = thisComp.layer("#writeon").effect("current letter")("Slider")/25;
var characters = ['a','b','c','A','B','C'];
thisComp.layer(characters[c+f]).content("Path 1").path

After Effects keeps telling me:

Which is weird because it does. But maybe i can't reference a path that way?

[2017-06-22 12:57] DaanDirk commented on #498
Oh wait that does work.

[2017-06-22 14:20] elzanzibar opened #499 "Rendering Issues"
Hi! Loving the Bodymovin extension but having some real difficulties exporting...

Sometimes they work and other times they render out static, out of position and out of scale! I can't seem to get any consistency out of it...

I've attached my most recent render and the .AEP file.

Please help me crack this!! Got deadlines...

[Lovemoney.zip](https://github.com/bodymovin/bodymovin/files/1095066/Lo

[2017-06-22 14:39] DaanDirk commented on #498
I figured i can use index more easily.
Which does work in AE if i refer to the numbers from the Array, otherwise not.

f = thisComp.layer("#writeon").effect("current letter")("Slider");
var characters = [8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40];
thisComp.layer(characters[c+f]).content("Path 1").path

Unfortunately i get these errors with bot

[2017-06-22 14:40] bodymovin commented on #498
can you send me the exported json?

[2017-06-22 14:47] DaanDirk commented on #498
Yes.

[2017-06-22 15:44] inessashillo commented on #494
Yeah, it works! I struggled it for so long and it was only the player issue 😅  Thank you!

[2017-06-22 15:45] #494 closed

[2017-06-22 16:41] Khachatour opened #500 "Does this awesome library works with Angular 1.x"
Hey there folks!

I am now trying to make bodymovin work with angular 1.x, does anyone managed to do this ?

[2017-06-22 17:18] Khachatour commented on #500
Nevermind folks, I've wrapped it in a service, but now I do have interesting error which says
`Unexpected token < in JSON at position 0`

[2017-06-22 17:20] bodymovin commented on #500
that looks like the json was not found in that specified url.
Can you share a link where it fails?

[2017-06-22 17:23] Khachatour commented on #500
I am using minfied CDN

[2017-06-22 17:29] bodymovin commented on #500
yes

[2017-06-22 17:33] Khachatour commented on #500
![screen shot 2017-06-22 at 9 31 05 pm](https://user-images.githubusercontent.com/8447007/27447502-39a019bc-5792-11e7-8ac2-ce254ccf010f.png)

In the left you can see, landing folder, in which is data.json, and in the same folder you can see landing.controller.js in which I've added JSON path, as jsut path: 'data.json'

[2017-06-22 17:35] bodymovin commented on #500
the json path is probably relative to your index.html, not to the .js file
your templateUrl path is pointing to 'app/user' and that path is not there.
Try doing the same with the json path moving it to the client folder.

[2017-06-22 17:37] Khachatour commented on #500
Oh, thanks mate, it was a stupid mistake :)
Can I continue with that and try to make an open source wrapper for Anuglar 1.x users ? Do you approve ?

[2017-06-22 17:38] bodymovin commented on #500
yes of course :+1:
thanks

[2017-06-22 17:58] Khachatour commented on #500
Great!! :))

[2017-06-22 19:22] dotcomartist opened #501 "Flickering on frame-by-frame animation"
I'm experiencing an issue with the opacity of a frame-by-frame animation I created. In this animation the flag unfurls and flaps 4 or 5 times, then recedes. I'm repeating multiple states of the flag on the same layer. In order to do this, I had to set the opacity on a keyframe from 0% to 100% and back to 0% with no empty frames between. It looks fine when played within After Effects, but when I re