[2015-06-19 20:54] louiesolomon opened #1 "No animation using AE CC 2015 + OSX"
I've created a simple movement animation using After Effects CC 2015 on Mac Yosemite (10.10.3), and I am unable to get any animation to play.  I can see the first screen of the animation, but it never animates.

I've also tried plugging in the exported data.js file directly into working examples without any luck.

[2015-06-20 14:23] bodymovin commented on #1
This issue is fixed. It was a problem with non rounded framerates when prerendering animations. Thanks louie for your help to find it.

[2015-06-20 14:23] #1 closed

[2015-06-23 00:01] randallagordon opened #2 "What license?"
Just curious what the intended license is for this magical bit of code you've written? :)

[2015-06-23 00:28] bodymovin commented on #2
Good point! I've uploaded the basic MIT license.

[2015-06-23 00:28] #2 closed

[2015-06-23 01:37] randallagordon commented on #2
Awesome, thanks! :+1:

[2015-08-14 13:18] tom2strobl opened #3 "Trying to open extension panel fails"
Hi, when I try to open the panel with Windows > Extensions > bodymovin, nothing really happens.
Because I see the extension in the menu (http://files.wild.as/sLVu/2U7815Uc) I've probably put it in the right place (Library/Application Support/Adobe/CEP/extensions) though.

Could it be the case that not having AE booted in english causes the panel to not show up? Are there some logs I can post?

I'm

[2015-08-14 13:42] bodymovin commented on #3
What version of AE are you using? CC 2015?

[2015-08-14 13:47] tom2strobl commented on #3
Yeah, sorry forgot to mention.

[2015-08-14 18:40] bodymovin commented on #3
Yes, I can see the issue on a different computer.
Since CC2015, Adobe seem to want all extensions to go through their store.
I'm waiting for the Creative Cloud add-ons team to approve the plugin so you can get it from their store.

Meanwhile, there are 2 options to get it to work.

you can edit the registry key:
On Mac, open the file ~/Library/Preferences/com.adobe.CSXS.4.plist and add a row with

[2015-08-17 08:31] tom2strobl commented on #3
I'm afraid there's only a 5 & 6 plist files, didn't want to break anything in there, so I opted for the second approach, though it threw an error:

[code]

Well getting it directly from their store would be a dream obviously, I'll keep my fingers crossed

[2015-08-17 11:02] MickCoelho opened #4 "Trying to refresh the comps fails"
After opening my aep project and opening the bodymovin extension, I can't seem to refresh the comps layer:
https://www.dropbox.com/s/3fy0s1e0ua0c3nq/Screenshot%202015-08-17%2012.01.16.png?dl=0

[2015-08-17 14:18] bodymovin commented on #4
I added a JSON polyfill. Apparently it's not built-in in Extend .Script.
This should fix the issue.

[2015-08-17 14:32] MickCoelho commented on #4
Thanks, seems to work fine now!

[2015-08-17 14:35] bodymovin commented on #4
Nice!
Closing the issue.

[2015-08-17 14:35] #4 closed

[2015-08-17 15:26] MickCoelho opened #5 "totalFrames not being an integer"
I noticed that sometimes `totalFrames` into the data.json isn't always an integer, and so it breaks the JS. Editing the value (to an integer) into the json file seems to fix the problem.

[2015-08-17 16:20] bodymovin commented on #5
good catch! thanks!
I've updated the builds.

[2015-08-19 15:30] bodymovin commented on #3
I changed the paths, it should work if you edit the file on
~/Library/Preferences/com.adobe.CSXS.6.plist

Meanwhile, Adobe rejected my first attempt to upload the add on because there were some preview images missing.
I already sent a new version and I'm waiting for their response.

[2015-08-19 15:47] LindyInc commented on #3
We've had the same issue. We'll be interested to see how this resolves. We only saw a 3.plist file in our library.

[2015-08-19 16:15] bodymovin commented on #3
@LindyInc are you using CC 2015?

[2015-08-19 16:25] LindyInc commented on #3
Yes we are, we found the correct file and followed your extra steps. But still can't get it to work.

Enjoy Your Day,
The Lindy Team

[2015-08-20 03:02] bodymovin commented on #5
This is fixed with the new build.
Closing the issue.

[2015-08-20 03:02] #5 closed

[2015-08-24 17:24] afdavies opened #6 "Invalid value for <path> - mask issue"
Hi there,

I'm using an inverted Add Mask in my comp, but when I load in the JSON, inspector's throwing this error:

`Error:
Invalid value for <path> attribute d="M0,0 hundefinedvundefinedhNaNvNaN M659.75,505.75 C634.483,505.75 614,526.233 614,551.5 C614,576.767 634.483,597.25 659.75,597.25 C685.017,597.25 705.5,576.767 705.5,551.5 C705.5,526.233 685.017,505.75 659.75,505.75"`

Without the mask it

[2015-08-24 22:33] bodymovin commented on #6
Hi are you using the canvas renderer or the svg?
would you send me the .ae project or the exported json to my email?
hernantorrisi@gmail.com

[2015-08-24 22:51] afdavies commented on #6
I'm using svg - I'll send the files in a moment. Thanks!

[2015-08-25 20:49] #6 closed

[2015-08-27 13:26] tom2strobl commented on #3
Any updates here? Could use it so bad right now :-)

[2015-08-27 13:29] LindyInc commented on #3
We got the extension working, but the files that it created wouldn't work when implemented. When we use the example bodymovin files, the animation works flawlessly.

[2015-08-27 13:45] bodymovin commented on #3
@tom2strobl The plugin has been rejected. They answered "After Effects doesn't support ZXP file installations", when actually it does, but for some reason they don't support it officially.
So they said I have to create another type of installer. But right now I'm looking into what kind of installer I can use and there's no info.
I'd suggest you to use the instructions on their page:
https://helpx.

[2015-08-27 13:46] bodymovin commented on #3
@LindyInc can you send me the exported file or the .ae project to check it out?
hernantorrisi@gmail.com

[2015-08-27 16:28] tom2strobl commented on #3
@LindyInc What did you do to resolve the issue?

[2015-08-31 09:16] Minigoer commented on #3
@tom2strobl, @LindyInc, I've got the same issue on mac os 10.10.3 / CC 2015 AE (13.5.0347).
Nothing happends when I try to open the panel with Windows > Extensions > bodymovin.

But I can successfully render comps to data.json file, opening the render panel opening body_movin_parser.jsx script, located in Bodymovin/build/parser.

[2015-08-31 11:10] bodymovin commented on #3
@Minigoer The jsx is the old parser, some things won't work with the player. Have you tried following the instructions on adobe's help page to install the extension?

[2015-08-31 12:36] Minigoer commented on #3
@bodymovin , no but I'll try soon.
Thanks for your input, I'll tell you.

[2015-08-31 14:30] tom2strobl commented on #3
@bodymovin Ridiculous that they have the MacOS typo, but even more ridiculous that I didn't notice that. Good god. Now the Exman-shizzle worked out. Thanks a bunch!

[2015-09-09 02:50] RTakes commented on #3
@bodymovin I'm also having the same issue, with the panel not displaying.  I've tried both install methods.  Fixed Adobe's typo and ExManCmd still throws `Failed to install, status = -160!`.
mac os 10.10.4, CS2015

[2015-09-09 03:17] bodymovin commented on #3
Hi. I'm not sure what that error means. Maybe some user permits issue?
I found this link that apparently helped to fix it.
https://forums.adobe.com/thread/1906325

[2015-09-09 16:37] strikeout opened #7 "Exporting has missing attributes, breaks player"
Hi,

we're trying to get the plugin working (with CC2015) but the exported json seems to be missing the attributes ````layerName````and ```an```

Can you tell us if we're trying to export a wrong scene/composition or if this is a bug in the exporter.

Original export JSON here:
[code]

[2015-09-09 16:49] bodymovin commented on #3
@RTakes I think I found your issue. When you run this command,
./Contents/MacOS/ExManCmd --install .zxp, make sure you put the name of the zxp file like so:
./Contents/MacOS/ExManCmd --install bodymovin.zxp
Let me know if this helps!

[2015-09-09 17:00] bodymovin commented on #7
@strikeout Hi. Are you using the bodymovin.js file that comes with the plugin? I can play your animation fine on my end. On AE, open the bodymovin extension, go to Info and press "Get player".
If you need more help, write me an email and I'll send you the file.
hernantorrisi@gmail.com

[2015-09-10 07:27] strikeout commented on #7
Hi Hernan!
Its working perfectly now with the latest player.js. (I guess we copied an old player from the codepen.io examples).
Thanks for clearing things up :)

[2015-09-10 07:27] #7 closed

[2015-09-10 23:44] cmisura opened #8 "SVG is just blackbox"
Hi,
Bodymovin is fantastic.

I have a bit of a strange issue. I'm using bodymovin with angular - everything works fine when navigating to the main route 'http://mysite.com'.
However, when I load any other route, the SVG just appears as a black box (I can still see it animate), even if I load the exact same template.

any ideas?

Thanks for your help.

[2015-09-11 00:19] bodymovin commented on #8
@cmisura Hi. Are you using the destoy method when changing routes?
Is the svg container replaced when changing routes?
do you have a demo so I can take a look?

[2015-09-11 00:26] cmisura commented on #8
No, I don't have a demo up - the project is under-wraps until we launch in October.
When I change routes I'm using  `scope.$on('$destroy', bodymovin.destroy);`

The relevant code is:

HTML
`<div svg-animate path="/animations/search_icon.json" scroll-enter on-enter-then="render()" use-boundary="middle"></div>`

JS

[code]

[2015-09-11 00:45] bodymovin commented on #8
@cmisura Is it possible that the json-loaded event passes both times the same object with the data?
I did a test on my side and if that is the case, the second time won't load.
Instead of passing the data as an object to handleLoad, try passing it as a string and parse it when creating the animateOpt object.

[2015-09-11 00:46] cmisura commented on #8
Thanks, I'll try that and let you know how it turns out.

[2015-09-11 01:06] cmisura commented on #8
@bodymovin Didn't work, still the same issue - and I double check that the object being used is the right one for each (this is what I'm seeing)
<img width="380" alt="screen shot 2015-09-10 at 6 05 12 pm" src="https://cloud.githubusercontent.com/assets/1302996/9804831/97a53b94-57e6-11e5-9480-107652a26537.png">

[2015-09-11 01:10] bodymovin commented on #8
@cmisura When you say you can still see it animate, you mean you can see the svg loaded inside the div? could you send me the json file or a screenshot of the svg markup in the console?

[2015-09-11 01:15] cmisura commented on #8
@bodymovin Sure thing.

 I can see that black box animate ( in the case above contract horizontally). The same json/svg on the home page looks perfect, but on any other route ('/contact', etc) it appears like the screenshot above.
<img width="1321" alt="screen shot 2015-09-10 at 6 14 59 pm" src="https://cloud.githubusercontent.com/assets/1302996/9804936/e70161b2-57e7-11e5-8273-e6621758f1b7.png">

[2015-09-11 01:24] bodymovin commented on #8
@cmisura is the black box a part of the real animation?
Sorry I didn't make myself clear. I wanted a screenshot of the div where the animation is loaded from the chrome developpers tool.
But can you send me also the exported json file?

[2015-09-11 01:28] cmisura commented on #8
No worries. Here's a screenshot of the DOM  -
<img width="1264" alt="screen shot 2015-09-10 at 6 26 24 pm" src="https://cloud.githubusercontent.com/assets/1302996/9805084/934526ce-57e9-11e5-9996-64b7350e5e83.png">

and here's the exported json

[code]

[2015-09-11 01:42] bodymovin commented on #8
ok. It seems that for some reason the masks aren't getting applied to the rects even if the ids look correct.
I'll have to look further into this
just three more questions:
- Have you tried it in another browser?
- Is this behaviour happening even if you navigate directly to this route without coming from the main route?
- Is there another svg or animation in the pages?

[2015-09-11 01:43] cmisura commented on #8
@bodymovin
1. Yes - same problem
2. Yes
3. No

[2015-09-11 01:51] bodymovin commented on #8
@cmisura does the div have a width and height? can you try setting it a fixed width and height of 400x96?

[2015-09-11 01:59] cmisura commented on #8
@bodymovin Yup, it does have an explicit width and height. If I switch templates, for example, use 'contact.html' for the home route, then everything works on the offending template - I'm assuming it has something to do with the route, but unsure what it is.

[2015-09-11 02:12] bodymovin commented on #8
@cmisura Is the DOM different between two different routes?

[2015-09-11 02:13] cmisura commented on #8
@bodymovin No, I can use the same template - and on '/' bodymovin works,  but on '/contact' it doesn't

[2015-09-11 02:17] bodymovin commented on #8
@cmisura wow that's really strange. I would try to do a console.log on the handleLoad function to see if it gets called more than once.
Another possibility to debug would be to set a random timeout with at least a 3s offset on bodymovin.loadAnimation(animateOpt) to see if it animates first well and gets overriden afterwards.

[2015-09-11 02:18] cmisura commented on #8
@bodymovin  ok, I'll try that. Thanks for your help.

[2015-09-11 12:46] bodymovin commented on #8
@cmisura are you using html5 mode?
I think the issue is related to this:
https://github.com/jeffbcross/angular-svg-base

[2015-09-11 13:26] bodymovin commented on #8
@cmisura here's a thread on angular talking about this
https://github.com/angular/angular.js/issues/8934

[2015-09-11 16:18] cmisura commented on #8
@bodymovin Thanks, that solved the issue - I needed to use ` $locationProvider.html5Mode({enabled: true, requireBase: false});` instead of `$locationProvider.html5Mode(true)`;

[2015-09-11 16:49] bodymovin commented on #8
@cmisura great. I'll add on my side a param to use full paths instead of relative paths on the animations.

[2015-09-15 16:58] #8 closed

[2015-09-16 13:40] iwo111 opened #9 "Help with exporting svg"
Hello there. First of all, greatly appreciate your plugin, really helps. Thanks, keep up.  I tried using it, really works, although I had to draw manually, without shape blend modes. Here I have one project file
https://www.dropbox.com/s/e62wsfha1catxwq/shape_reveal.aep?dl=0
I cannot see what's the problem, but when I try to export, I get blank screen. Json file is generated. I'm bit confused, bec

[2015-09-16 13:52] bodymovin commented on #9
@iwo111 hi.
you issue is indeed related to the varying amount of vertices between keyframes. There are some frames with 8 and some with 9 on the layer outer box2 for example.
The plugin doesn't support this yet.
sorry :/

[2015-09-16 14:05] iwo111 commented on #9
Cool, I never expected your answer this fast. Thanks a lot. I assumed that it can be due the unconstant number of vertices, and did add vertices manually, and double checked that it's 8 of them all the time, but...
Nevermind, problem solved, I know now what is the problem and how to avoid it.
Thanks a lot!

[2015-09-16 22:32] bodymovin commented on #9
no problem!
If I can help you with anything else, let me know

[2015-09-21 22:00] berendvaneerde opened #10 "player controls"
First of all: You're a hero. I think this is a great tool for animatiors/webdesigners that is very promising.

I am struggling with getting the player to work for me. I like using the data-attributes for specifying the animationdata etc. But I would still like to control the playing of the animation in javascript/jquery

For instance. I would like to play the animation once when the element is hov

[2015-09-21 22:28] bodymovin commented on #10
@berendvaneerde Hi. I think the loadAnimation method might work for you.
you pass an object with the necessary params (look on the readme file for all the possible configurations). You can set the autoplay and loop flags to false on your case.
It returns an animation instance you can control and call the play, stop, pause, gotoAndStop and other methods on it.
I will update the documentation to ref

[2015-09-21 22:47] berendvaneerde commented on #10
Thank you for your quick response.
I tried the loadAnimation method before, but no succes. I am not sure how to load the json file in animationData param: do I just route to it?
 like: {animationData: JSON.parse('../animatoins/logo_reveal/data.json')}

[2015-09-21 22:52] bodymovin commented on #10
@berendvaneerde Instead of using animationData, use path and pass the json path.
something like:
bodymovin.loadAnimation({
  wrapper: element, // the dom element
  animType: 'svg',
  loop: true,
  autoplay: true,
  path: '../animatoins/logo_reveal/data.json'
});

It's not on the documentation either :/
I'll update it.

[2015-09-21 23:00] berendvaneerde commented on #10
Thanks for your help. Getting further

Still no luck though: I get the following error

Uncaught TypeError: this.animationItem.wrapper.appendChild is not a function
SVGRenderer.configAnimation @ bodymovin.js?ver=4.2.5:2
AnimationItem.configAnimation @ bodymovin.js?ver=4.2.5:4
AnimationItem.setParams.r.onreadystatechange @ bodymovin.js?ver=4.2.5:4

[2015-09-21 23:02] bodymovin commented on #10
@berendvaneerde what did you pass as wrapper? you need to pass a dom element.

[2015-09-21 23:07] berendvaneerde commented on #10
as following

var logoReveal = $('#logoreveal'); //corresponding to a dom element in my html

    bodymovin.loadAnimation({
      wrapper: logoReveal, // the dom element
      animType: 'svg',
      loop: false,
      autoplay: true,
      path: 'wp-content/themes/botoboto/library/animations/anim/data.json'
    });

[2015-09-21 23:14] berendvaneerde commented on #10
GOT IT! appears that my jquery doesn't work... Does it need to be pure javascript?

[2015-09-21 23:16] bodymovin commented on #10
@berendvaneerde  nice!
yes, for the moment it only supports pure javascript.

[2015-09-21 23:17] berendvaneerde commented on #10
aha! So how about calling bodymovin.play('name') inside a jquery function?
Is that the reason why that is not working?

[2015-09-21 23:47] bodymovin commented on #10
@berendvaneerde no, I think that might be another issue. If you have a working example, I'll take a look.

[2015-09-21 23:57] berendvaneerde commented on #10
I'm on the right track now! Thanks to your hint on the goToandStop method. Logical to reset the animation to a starting point, before you can play it again, but I never saw that method before your post ;) I've got a mouseover working now. Is there also a method to give the animation another frame at load or so?

Perhaps I just need to dive into the code more, but your plugin definitely deserves so

[2015-09-22 00:00] bodymovin commented on #10
@berendvaneerde what do you mean by giving another frame at load? to display another frame by default on load?
I'm glad it works :)

[2015-09-22 00:03] berendvaneerde commented on #10
yes! That's what I mean

[2015-09-22 00:08] bodymovin commented on #10
@berendvaneerde no it doesn't but it makes sense. I'll add it to my todo list

[2015-09-22 00:11] berendvaneerde commented on #10
Great! Thanks again...

[2015-09-23 22:50] drw158 opened #11 "Q: Where can I find the bodymovin extension in the repo?"
Is this the correct file path?

`bodymovin/build/extension/bodymovin.zxp`

[2015-09-23 22:53] #9 closed

[2015-09-23 22:53] bodymovin commented on #11
hi!
yes that's the path.
are you having trouble installing it?

[2015-09-23 22:59] drw158 opened #12 ""Failed to install" message using ExManCmd"
Adobe CC 2015
OS X Yosemite 10.10.5

I'm getting an error message whenever I follow the instructions to use the ExManCmd utility:

It's not on their error message page.

I made sure to run the correct command from their instructions:

`./Contents/MacOS/ExManCmd --install .zxp`

Adobe instructions page: https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
Error page: https:

[2015-09-23 23:01] bodymovin commented on #12
that command is not specifying the name of the zxp file
change it to
./Contents/MacOS/ExManCmd --install bodymovin.zxp

let me know if it works

[2015-09-23 23:03] drw158 commented on #12
This seems to work, although their command for checking to see if it has been installed doesn't return anything: `./Contents/MacOS/ExManCmd -- list all`

Thanks! I see the extension panel.

[2015-09-23 23:03] #12 closed

[2015-09-23 23:03] drw158 commented on #11
Got it working, thank you!

[2015-09-23 23:03] #11 closed

[2015-09-24 14:18] drw158 opened #13 "Demos don't work"
I downloaded the latest, and I can't seem to get the demos to play. I open the html files in my browser, but nothing happens. It's just a blank gray div.

I ask because I am having a hard time understanding how to set bodymovin up. It would be helpful to have some demos!

[2015-09-24 14:30] bodymovin commented on #13
You're right, I will upload updated demos this weekend.
Where are you having trouble setting things up?

[2015-09-24 16:42] drw158 commented on #13
@bodymovin Thanks for the quick response! I'm not too familiar with JS, so getting it to work isn't very easy for me.

Here is what I have so far: http://codepen.io/drw158/pen/yYaqom

I uploaded the files to my own server and added them in Codepen. Not sure if that works.

[2015-09-24 17:08] bodymovin commented on #13
@drw158 There are a couple of issues.
first of all, your server isn't returning the right headers, so codepen can't load the json file.
You can inline the exported json to see the animation.
I've forked your pen here http://codepen.io/airnan/pen/xwEJQq
If you try it on your own server, loading the json will work, so you can do one of both techniques you've tried.
I will upload later two examples o

[2015-10-01 20:16] rlavoie opened #14 "Scaling SVG"
Is there a way to control the size after initialization. I want the SVG to scale full screen, but maintain the aspect ratio?

[2015-10-01 20:19] bodymovin commented on #14
@rlavoie  If you scale the contaning div, the svg element will scale maintaining the aspect ratio.
Let me know if there is any issue with that.

[2015-10-01 20:48] rlavoie commented on #14
It does I guess I was looking for a fill effect but still maintain aspect ratio. So either the right or bottom would be cut off depending on screen size.  preserveAspectRatio="xMinYMin slice" seems to do the trick

[2015-10-02 17:36] bodymovin commented on #14
@rlavoie yes. you can do it manually after initializing the animation. I will add to to a config at some point.

[2015-10-08 13:11] snorpey opened #16 "Include demos for most recent version of the player"
I noticed that all demos in the [demo](https://github.com/bodymovin/bodymovin/tree/master/demo) folder seem to be using an older version of the player.

It would be nice if the repo could include demos that are working with the most recent version of the player in [``build/player/bodymovin.js``](https://github.com/bodymovin/bodymovin/tree/master/build/player/bodymovin.js).

I also noticed that the

[2015-10-08 15:00] wanbinkimoon opened #17 "Can't install the plugin"
Hi everyone,
I'm trying to install this plugin (I really wanna do this) but I can't find the CEP folder you are talking about, searching on internet I understood that is some sort of adobe sdk but I still can't understand how the folder should be created.

thanks for the help

[2015-10-08 17:12] bodymovin commented on #17
@wanbinkimoon Hi! Are you using CC 2015? and what OS?

[2015-10-08 17:13] bodymovin commented on #16
@snorpey yes, all demos are outdated. I'll upload them again this weekend.
the player/index.html usually points to animations exported locally. You should add your own on that folder.
But I will upload a working example you can replace.

[2015-10-08 19:42] wanbinkimoon commented on #17
I'm using cc 2015 and Mac OS X El Capitan

--
Nicola Bertelloni
Mobile: +39 328 4559247

[2015-10-08 19:49] bodymovin commented on #17
@wanbinkimoon did you try instructions on this page? they seem to work fine.
https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
go to "Install third-party extensions".
where it says:
Run the command ./Contents/Mac OS/ExManCmd --install .zxp to install the extension.
change it to
./Contents/MacOS/ExManCmd --install bodymovin.zxp

[2015-10-09 08:20] wanbinkimoon commented on #17
Yes, i get a dialog box which says that the xml file has been corrupted. 

On 8 October 2015 at 21:49:52, hernan (notifications@github.com) wrote:

@wanbinkimoon did you try instructions on this page? they seem to work fine.
https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
go to "Install third-party extensions".
where it says:
Run the command ./Contents/Mac OS/ExManCmd

[2015-10-09 09:37] bodymovin commented on #17
@wanbinkimoon can you attach a screenshot of the dialog box?

[2015-10-12 19:06] mattdesl opened #18 "WebGL & Canvas2D"
It might be nice to build some docs around the JSON output format so that developers could start to build other renderers. In many cases Canvas2D/WebGL will out-perform SVG.

[2015-10-12 19:27] bodymovin commented on #18
@mattdesl I will as soon as I add expressions.
They will change the json format and won't be compatible with the current one.
Regarding a canvas renderer, the plugin has one. But svg filters outperform canvas pixel manipulation.
I don't know if it's easy to implement similar svg filters in Webgl. I'll look into this. Any suggestions where to start?

[2015-10-12 19:44] mattdesl commented on #18
What kind of filters do designers typically go for? I imagine a WebGL/Canvas2D renderer might be more limited, i.e. only implementing certain features, and maybe no support for filters at all, but providing greater performance for certain scenes.

[2015-10-12 19:51] bodymovin commented on #16
updated demos

[2015-10-12 19:51] #16 closed

[2015-10-12 19:55] bodymovin commented on #18
@mattdesl I think AE alpha/luma track mattes are a must. I need to get a layer to work as a mask for another one.
next on the list would probably be blur effects, and some layer styles like strokes.

[2015-10-13 02:41] cjgammon commented on #17
May want to consider submitting this to the adobe add-ons portal
https://creative.adobe.com/addons

This way users can install it automatically through the creative cloud, extension manager is EOL (https://www.adobeexchange.com/resources/27).

[2015-10-13 03:50] bodymovin commented on #17
@cjgammon I tried to do it twice. but I got an email informing me that zxp extensions are not accepted for AE plugins and I should create another type of installer. I haven't figured out what installer is acceptable. I guess they mean native installers.

[2015-10-13 13:23] wanbinkimoon commented on #17
Hi,
I tryied againg and again and again.
I made some progresses but, still not working, at the moment I'm dealing with an error 403 given by the ExManCmd, I did find any documentation on the web regarding ExManCmd errors, can you help me?

[2015-10-13 13:40] bodymovin commented on #17
@wanbinkimoon Hi.
Another user told me it happened the same to him. But he tried again and it worked. Here is a list of error codes.
http://www.adobeexchange.com/resources/19#errors
Have you tried editing the registry key?

[2015-10-13 13:46] wanbinkimoon commented on #17
Hi,
I tried a lot of times but the error still come up, what do you mean editing the registry key?

[2015-10-13 22:32] anitadavinci opened #20 "Made After Effects Unusable after installation"
After the installation of this plugin, After Effects started crashing and stopped recognizing the source files of the composition. I've been on this computer for the last two weeks, it's brand new and AE had never ever crashed before on this machine. I'm an experienced user of After Effects (6+ years), and I can tell this won't do any good to your machine or your OS.

Do not install this.

I also

[2015-10-13 22:40] bodymovin commented on #20
@anitadavinci Hi, what OS are you working on?
Would you mind sharing the project you had problems with?
I've never experienced this behaviour.

[2015-10-13 22:47] anitadavinci commented on #20
I'm on Windows 7 Pro, After Effects CC 2014. It's not only one project, it just turned the software almost unusable. It's slow, even on a new project, and although I have opened some other projects I had worked on before, it's the same behaviour. I'm sorry, I had high hopes for this plugin, but now I have wasted almost an entire afternoon, between installation, removal, restaring the software and

[2015-10-13 22:56] bodymovin commented on #20
@anitadavinci  The plugin doesn't do anything out of the ordinary. Did you get to open it or run it once at least?
How did you install it? Did you edit the registry key?

[2015-10-13 23:12] anitadavinci commented on #20
No, sir. I just checked that the panel was under "Window » Extensions", then I started working on the test file, and AE stopped recognizing the source files of my project... It crashed, then I reopened it, it crashed again and this time I was able to read something about "Premiere 2014 blah". I installed it manually, ExMan /install bodymovin.jzp, then checked through the command line, it showed me

[2015-10-13 23:22] bodymovin commented on #20
@anitadavinci If you didn't run it even once, it's even stranger, because all the ExMan.exe does is extract the content in a folder.
As far as I know , the ExMan.exe is meant to work for CC2015 since they deprecated the extension manager, but I don't think it would mess up with older versions of AE.
I'm sorry I can't help you any further, if I get Adobe to help me with an official installer I'll l

[2015-10-13 23:23] anitadavinci commented on #20
Thank you very much, you are very kind, sir.

[2015-10-14 15:30] cjgammon commented on #17
@bodymovin sent you an e-mail

[2015-10-14 16:12] wanbinkimoon commented on #17
Can you send it again, I never receive it :)

On 14 October 2015 at 17:30:48, CJ Gammon (notifications@github.com) wrote:

@bodymovin sent you an e-mail

—
Reply to this email directly or view it on GitHub.

[2015-10-14 19:39] jkosoy opened #21 "Puppet Tool Support"
Are there any plans for bodymovin to support Puppet Tool animation? Looks like anything we render with that doesn't animate. Will post a demo shortly as soon as I can.

[2015-10-14 19:40] cjgammon commented on #17
I sent an e-mail to bodymovin, regarding submitting the plug-in to the adobe add-ons portal. sorry for the confusion.

[2015-10-14 23:38] bodymovin commented on #21
@jkosoy Hi, I don't think the Puppet Tool can be a real time rendering feature.
Besides, I don't know the complexity of the implementation, but I'm guessing it would be very difficult to imitate it.
sorry :/

[2015-10-15 16:19] villedieumorgan opened #22 "README :"
Just to let you know for the installation process that you've got a problem on MAC there is a corrected version of your readme :

Option 1:

1 - Extract the bodymin.zip folder
2 - Open your terminal and copy past this line :

cp -R YOURUNZIPEDFOLDERPATH/extension /Library/Application\ Support/Adobe/CEP/extensions/bodymovin

BE CAREFULL THIS FOLDER WITH THE ~ IS A DIFFERENT FOLDER : ~/Library/Appli

[2015-10-19 00:23] bodymovin commented on #22
thanks!

[2015-10-19 00:23] #22 closed

[2015-10-19 00:24] bodymovin commented on #13
demos updated

[2015-10-19 00:24] #13 closed

[2015-10-19 00:24] #10 closed

[2015-10-21 06:47] iwo111 opened #23 "Rounded rectangle issue"
Hello there again. Like your plugin a lot. I have some issue with newest release. When I use parametric shape in AE, and I want to animate between circle to square using rounded rectangle, I end up with strange shape in between (circle part of animations. It looks like not complete rounding, more like some rectangle with soften edges) I didn't try with bezier path because takes some time to conver

[2015-10-21 07:55] bodymovin commented on #23
@iwo111 hi! do you have a simple ae example so I can take a look at your issues?

[2015-10-21 07:58] iwo111 commented on #23
Here's the .json file!

--

*Ivo Marinović*
Motion graphic & 3D animation

*NSoft d.o.o*
Bleiburških Žrtava bb,
88000 Mostar, BiH

*T/F:* +387 36 317 710
*M:* +387 63 304 071

*marinovic.ivo@nsoft.ba <marinovic.ivo@nsoft.ba>*
www.nsoft.ba

On Wed, Oct 21, 2015 at 9:55 AM, hernan <notifications@github.com> wrote:

[2015-10-21 14:32] snorpey opened #24 "Please add some documentation on the code or add comments"
I've been trying to make a few adjustments to the bodymovin player for use in one of my projects.

While experimenting with the player, I noticed that it sometimes takes me quite a while to find the right piece of functionality in the code.

I think it would be immensely helpful for developers if there was a little more documentation about what the individual classes are doing, and how they're tie

[2015-10-21 14:37] bodymovin commented on #24
@snorpey My bad. I need to document the code, the exported json structure and do a video about how it works.
As soon as I finish implementing expressions, I will do all of them. By then the code will be more stable.
Meanwhile, feel free to email me and ask me anything you need.
cheers!

[2015-10-21 14:38] jhadenfeldt opened #25 "License is missing full copyright info"
It only says:

[code]

[2015-10-21 22:23] mgravish1 opened #26 "Exported data.json file has no animation attributes"
I'm trying to get started with bodymovin, but when I try to export a simple comp (1 shape layer with position keyframes) the resulting data.json file has nothing in the "animation:" brackets and I can't seem to get any animations to play in the test environment. Wondering if I'm missing something simple?

[2015-10-21 22:43] mgravish1 commented on #26
Found an error in my setup. Working now.

[2015-10-21 22:43] #26 closed

[2015-10-21 23:38] bodymovin commented on #25
@jhadenfeldt thanks!
fixed

[2015-10-21 23:38] #25 closed

[2015-10-21 23:39] bodymovin commented on #23
@iwo111 both issues fixed.
thanks!

[2015-10-21 23:39] #23 closed

[2015-10-26 21:39] areus opened #27 "Play one json file in segments?"
Is there any way I can output my timeline into 1 `.json`, then break it up into segments?

For example:
- Have a 6 second animation @ 180 frames (180f)
- Export entire animation to 1 `.json` file.
- Import and load player and generated `.json`
- Loop 0f-50f in `#element1`
- Loop 50f-100f in `#element2`
- Loop 100f-180f in `#element3`

Just trying to keep everything as lightweight as possible! Than

[2015-10-26 21:54] bodymovin commented on #27
@areus  hi! do the three animations share layers?
If they don't, you can export all three separately and import them in a single js file as three vars.
If they do, you can use "playSegments" on each "anim" instance and set the segment for each.
something like:
anim1.playSegments([0,50],true);
anim2.playSegments([50,100],true);
anim3.playSegments([100,180],true);
the second parameter "true" is to f

[2015-10-26 22:29] areus commented on #27
Yes! That worked perfectly!

I'm extremely thankful for the work you're putting in on this. It's bringing a lot of my work to life, and something I'll probably use frequently going forward. If there's anything I can ever help out with (design? frontend?), please feel free to reach out to me.

[2015-10-26 22:29] #27 closed

[2015-10-28 17:57] jbruchanov opened #28 "Android implementation"
Just curious, if this generates SVG for web.
How hard would be to convert SVG generator into java/android and render it there by some SVG lib ?

[2015-10-28 21:49] bodymovin commented on #28
@jbruchanov it actually exports a json with the animation data. You could create your own player and render it on svg, canvas or any native android / java api that supports some basic drawing functionality, like bezier curves, strokes, masking.

[2015-10-28 21:52] jbruchanov commented on #28
@bodymovin
thanks for quick response.
I actually exported svgs as frames and trying to animate them...
however seems it's not fast enough to have nice animation :/

[2015-10-28 21:54] bodymovin commented on #28
@jbruchanov how did you export each frame? and what did you use to animate them?

[2015-10-28 21:57] jbruchanov commented on #28
@bodymovin
basically wrote simple JS to export SVG during animation...
currently http://bigbadaboom.github.io/androidsvg/ and wrapped into View to animate them...
it kinda works, but GC is too much obvious, seems that the svg lib needs optimization because memory usage constantly grows during animation and then GC "kill" the performance

[2015-11-03 13:24] mientjan opened #30 "bodymovin player not working with new exports."
All new exports we create do not work with the current player.

First we are seeing a discrepancy between the exports we are creating and shown in the examples.
 - demo/bodymovin/data.json has a different base structure than when we run the generated code.
   *demo/bodymovin/data.json* {animation:{layers:[], ,"ip":0,"op":103,"fr":30,"w":1820,"h":275}}
   *our export* {animation:{layers:[], ,"total

[2015-11-03 13:30] bodymovin commented on #30
@mientjan Hi!
Yes, the old player is not compatible with the new exported jsons.
Just get the one that comes with the AE plugin. ("Get Player" button in the top right corner).
Or use the player in the github folder:
[https://github.com/bodymovin/bodymovin/tree/master/build/player](https://github.com/bodymovin/bodymovin/tree/master/build/player)

If that doesn't work, write me an email with the jso

[2015-11-04 00:00] Tolmark12 opened #31 "Animation Events"
Curious if you had any plans on adding animations events. Maybe something like :

[code]

[2015-11-04 01:43] bodymovin commented on #31
@Tolmark12 yes, it's next on my list.
as soon as I finish this big refactoring. probably next week

[2015-11-04 03:23] areus commented on #31
+1 for this feature!

[2015-11-04 16:05] sanderson commented on #31
+1 for this feature!

[2015-11-04 16:16] Tolmark12 commented on #31
Sounds great, no rush :-)

Absolutely amazing project, great work!!

[2015-11-06 07:34] bodymovin commented on #31
@Tolmark12, @areus , @sanderson
events are ready!
let me know if they work this way or you need any other.

[2015-11-06 16:37] areus commented on #31
:tada: :tada: :tada:

[2015-11-06 16:51] sanderson commented on #31
Awesome! Thanks!

[2015-11-08 19:07] #31 closed

[2015-11-08 19:08] #30 closed

[2015-11-10 21:51] sanderson opened #32 "HTML IDs/classes based on AE Layer Names?"
Is it possible to generate HTML IDs/classes, on SVG elements (`g`) based on AE layer names?

[2015-11-10 21:58] bodymovin commented on #32
@sanderson It's not that easy right now because elements don't get nested into g tags unless necessary.
I do that to improve performance.
But that's definitely something I have considered and should look into it.

[2015-11-10 22:04] bodymovin commented on #32
@sanderson how would you use it?

[2015-11-10 22:13] sanderson commented on #32
Essentially what I'd like to do is target specific elements within the SVG and apply different states to them using CSS. For example, a dynamic color shift when hovering on a certain element within the animation without have to load an entirely new animation.

Quick example:

##### html
[code]

##### sass
[code]

[2015-11-10 23:29] sanderson commented on #32
Something I've seen before in Illustrator SVG export scripts is assigning classes/IDs based on a naming convention in the layer name. Optimizing the SVG by removing groups is great and I totally understand why you do it. I wonder if users could "opt-in" to certain things being grouped with an ID based on the layer name.

For example, if a layer name was prepended with `>#`, it would get exported w

[2015-11-10 23:39] bodymovin commented on #32
@sanderson yes it absolutely makes sense.
It's a good trade off.
I'll look into it soon.

[2015-11-10 23:45] sanderson commented on #32
@bodymovin Awesome, thx!

[2015-11-12 00:01] Tolmark12 commented on #31
Awesome, just tried it out, works great. Thanks!

[2015-11-13 01:37] bodymovin commented on #32
@sanderson I've uploaded a first attempt at this.
I'm no longer setting svgs properties, I've moved them to css.
But they still are inlined, so in order to override them, you'll need to use !important on your stylesheets.
Another use for ids is adding interaction to specific elements.
Regarding naming, I'm not modifying the original name set on AE, so you should use the exact same name removing th

[2015-11-13 01:48] sanderson commented on #32
Great! I'll give it a go tomorrow and let you know how it goes.

[2015-11-13 22:24] sanderson commented on #32
@bodymovin, I've downloaded the updated .zxp file and updated the extension, but in my tests, the IDs aren't being assigned to the outputted svg elements.

[2015-11-13 23:08] bodymovin commented on #32
@sanderson That's strange, it works here.
Can you email me the .ae or the exported .json?

[2015-11-13 23:15] sanderson commented on #32
I just created a repo with my test files: https://github.com/sanderson/bodymovin-id-test

[2015-11-13 23:22] bodymovin commented on #32
@sanderson I see the issue now. I didn't clarify correctly.
It needs to be prepended by a '#', not a '>#'.
Sorry for the misunderstanding.
Nevertheless, is there a reason you thought adding two chars instead of only a '#'?

[2015-11-13 23:25] sanderson commented on #32
I tried both, but neither worked. Initially the thought process behind two characters was a "barrier to opt-in", preventing unintentional output if users are already using naming conventions with hashes. But I actually prefer the single character. I know there may some looking for classes as well (`.`), but I'm happy with IDs.

[2015-11-13 23:27] bodymovin commented on #32
@sanderson can you send me a json exported with only the '#' to check it out?

[2015-11-13 23:33] sanderson commented on #32
Oh, sorry about that. Just pushed the updated json file and AE file to that repo.

[2015-11-13 23:40] bodymovin commented on #32
@sanderson the exported json has the layer name correctly set.
And I can see the g tag with the id correctly set. Did you update the player with the one from the latest plugin?

[2015-11-13 23:41] sanderson commented on #32
I thought I did. Let me test again.

[2015-11-13 23:46] sanderson commented on #32
:expressionless: Looks like I forgot to update the player. So sorry to bug you. It's working great.

[2015-11-13 23:49] bodymovin commented on #32
@sanderson no problem!
I'm glad it's working.
I'm going to upload a small fix later related to transforms. With this modification they stopped working on older browsers and even the plugin has the animations corrupted.
I'm closing the issue. If anything turns up let me know!

[2015-11-13 23:50] sanderson commented on #32
Sounds good. Thanks again!

[2015-11-14 00:02] #32 closed

[2015-11-16 07:54] ArkRide opened #33 "Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https, chrome-extension-resource."
Hello! First of all, thank you for the great plug-in. It's a great tool for the designers knowing little of coding (like myself) to finally be able to integrate their animation on the web.
I'm having an issue whenever i try to play back my animation in the browser. Browser console is returning me "Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension,

[2015-11-16 11:14] bodymovin commented on #33
@ArkRide Hi, are you loading your html through a web server? If you are loading it via file:// it won't have the permissions to load a json file.

[2015-11-16 13:52] ArkRide commented on #33
@bodymovin No, I don't, unfortunately. My assumption was that JSON file, simply containing animation data - wouldn't be needed having a web server. Which one would you recommend to use - is it XAMP or WAMP that you would recommend?

[2015-11-16 14:13] bodymovin commented on #33
@ArkRide You can load the animation data as a js file and you won't need a webserver.
If you want write me an email and I will send you an example on how to do that.

[2015-11-16 14:48] ArkRide commented on #33
@bodymovin Thank you, I appreciate your help. E-mail sent.

[2015-11-16 14:48] #33 closed

[2015-11-17 03:03] Tolmark12 commented on #18
Is the canvas demo in the readme accurate? I've tried that code snippet, but it appears that the library is still generating a svg.

[2015-11-17 03:48] bodymovin commented on #18
@Tolmark12  Have you changed the animType to 'canvas'?

[2015-11-17 03:54] Tolmark12 commented on #18
@bodymovin No sir I did not :facepalm: Working great now, sheesh!

[2015-11-17 23:03] Tolmark12 opened #34 "Browser Support"
Do you know which browsers support the technology bodymovin uses to animate svgs? It would be nice to list that in the readme.

[2015-11-17 23:03] nathansearles commented on #34
I'd check out http://caniuse.com/#search=svg

[2015-11-17 23:19] boulabiar commented on #18
Hi,

If you can export to svg, it can be self contained and added to more
content in a web page.
Any idea how to do the same in webgl?
Imagine I have a bigger scene, how to add the animation exported feom
bodymovin as an element in that scene?

Thanks
On Nov 17, 2015 04:54, "Mark" <notifications@github.com> wrote:

[2015-11-17 23:43] bodymovin commented on #18
@boulabiar There's also the canvas renderer. I guess you could render on a canvas outside the dom and then draw the result on the webgl.
But ideally, a webgl renderer would be the best option, where you could add the animation as a geometry or texture.
Right now, a webgl renderer is not on my pipeline. I explored some time ago integrating with three.js and was promising.

[2015-11-17 23:46] bodymovin commented on #34
@Tolmark12 It's svg and javascript. Unless you're using the fancier features, it should work fine on modern browser and up to IE9.
Although all browsers have some bugs, usually they are not noticeable.
The caniuse link is helpful to find out support.

[2015-11-20 18:50] jkosoy commented on #21
Ah!!! Bummer! I'll close the issue then. :frowning:

Awesome repo though!. :+1:

[2015-11-20 18:50] #21 closed

[2015-11-20 18:51] etx commented on #21
If you can somehow bake the puppet tool animation to keyframes this could work.

[2015-11-20 18:59] bodymovin commented on #21
as far as I know, the puppet tool does some kind of mesh distortion to the elements.
Keyframes wouldn't help if that is the case.

[2015-11-21 05:03] mcpdob commented on #34
Any idea why performance in Mozilla Firefox 43 on Mac OS El Captain slightly slower as in Chrome newest version please?
Seems to be the V8 JS engine in Chrome?

[2015-11-21 05:14] bodymovin commented on #34
@mcpdob are you using the svg or the canvas renderer?
do you have an .ae I can take a look?

[2015-11-22 10:14] peteringram0 opened #35 "Not Opening"
I have installed bodymovin and i can see bodymovin under windows and extentions however clicking on it does not open up any windows.

Im running After effects CC 2015 and have set the network pref's and the registry key.

Any ideas?

[2015-11-22 11:54] bodymovin commented on #35
@peteringram0 That usually means the registry key is not correctly set.
Are you on a mac or windows?

[2015-11-22 15:20] peteringram0 commented on #35
Im on mac,

I have the following:

<img width="411" alt="screen shot 2015-11-22 at 15 19 24" src="https://cloud.githubusercontent.com/assets/6588942/11324532/7830ffa8-912c-11e5-880a-404a33e47cac.png">

Thanks for your help :)

[2015-11-22 15:26] bodymovin commented on #35
@peteringram0 it seems right.
For Mac users it seems that instructions on this page work fine:
https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
Ignore the first part and go directly to "Install third-party extensions".
And where it says:
./Contents/Mac OS/ExManCmd --install .zxp
change it to:
./Contents/MacOS/ExManCmd --install bodymovin.zxp

[2015-11-22 15:35] peteringram0 commented on #35
Ive also tried that way and i get the error:

➜  Adobe Extension Manager CC.app   ./Contents/MacOS/ExManCmd --install /Users/peter.ingram/Desktop/bodymovin-master/build/extension/bodymovin.zxp
Failed to install, status = -403!
2015-11-22 15:34:29 : INFO  get service manager executable name

Any idea? Thanks for the help by the way.

[2015-11-22 16:22] peteringram0 commented on #35
Its suddenly working now :P No idea why lol.

thanks for the help

[2015-11-22 19:57] KyleDEV commented on #17
I'm using cc 2015 and Mac OS X El Capitan

it doesn not show up on window>extentions

[2015-11-22 20:20] bodymovin commented on #17
@KyleDEV how did you install it?
Instructions here usually work well.
https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
ignore first part and go directly to "Install third pary extensions"

[2015-11-22 20:52] KyleDEV commented on #17
@bodymovin
just before your answer, I succeeded.
I find out this link: https://www.adobeexchange.com/resources/27
and that takes me to: https://www.adobeexchange.com/resources/28
I followed the instructions

Although  the command accually was..
cd THEPATHofMY_ExMan_root
./Contents/MacOS/ExManCmd --install bodymovin.zxp
./Contents/MacOS/ExManCmd --list all

I think it basically the same as your ans

[2015-11-23 15:47] peteringram0 opened #36 ".destroy() method issue"
There is an issue on the later versions of the javascript file. Im not really sure whats causing it but my animation works fine on the 3.0.8 version.

example:
http://peteringram0.github.io/ninjabot/
https://github.com/peteringram0/ninjabot

If you change bodymovin.js script to the latest version when running .destroy and then .loadAnimation you can see in the DOM that the animation is running how

[2015-11-23 16:18] bodymovin commented on #36
@peteringram0 yes, there seems to be an error. I'll fix it tonight.
thanks!

[2015-11-23 16:24] peteringram0 commented on #36
Ive spent half the day on it lol, good luck :+1:

[2015-11-23 16:36] bodymovin commented on #36
@peteringram0 temporarily, you can pass a new object with the animation each time like so:
JSON.parse(JSON.stringify(nodHead))
JSON.parse(JSON.stringify(shakeHead))

[2015-11-23 16:44] #35 closed

[2015-11-24 18:01] Tolmark12 opened #37 "Playhead control"
Curious if there is anything like the following is in place:

[code]

I'd like to help out / create pull request, but as I look at the source code, there are a few things I'm not sure I follow. Maybe a few comments or documentation would help with collaboration. Thanks again, love the project!

[2015-11-24 18:28] bodymovin commented on #37
@Tolmark12 There is a goToAndStop that accepts milliseconds or frames.
percentage should be easy to implement. I'll take a look at it.
Markers is not as simple, because composition markers are not exposed to scripting unfortunately. I'm looking into using a layer's markers as reference.

Documentation is coming. Hopefully before the end of the year. I need to finish some features first.

[2015-11-25 08:19] peteringram0 commented on #36
Did you have any luck on finding a longer term solution for this please?

Thanks

[2015-11-25 11:58] bodymovin commented on #36
@peteringram0 I found the issue, and I will upload a quick fix tonight.
I will deploy a final fix on the next big update.

[2015-11-25 22:41] kirillminiaev commented on #37
@bodymovin Is there any function that can tell me the total number of frames in an animation? I am hoping to tie the svg playback to mousewheel scroll, and I can use `goToAndStop` to dynamically cycle through the next 'x' number of frames, based on scroll distance. But it would be great to know when I've reached the last frame so that I can do other things.

Maybe you've already thought about anim

[2015-11-25 22:56] bodymovin commented on #37
@kirillminiaev there is not an official API that will get you the number of frames, but the anim instance has an exposed property "totalFrames" that holds that value.
I haven't considered specifically mousewheel as a "timeline" for the animation, but yes, in the future, using something else than the current time, like a swipe gesture, is on my pipeline.

[2015-11-25 23:16] kirillminiaev commented on #37
@bodymovin Hmmm, doing `bodymovin.totalFrames` doesn't yield anything. Do I need to do something else specifically to get the anim instance?

Also, about done with a quick mousewheel script I will post here that does what I want. Its not thoroughly tested, but might be worth something :)

[2015-11-25 23:26] kirillminiaev commented on #37
@bodymovin Never mind. Found how to access the variable.

[2015-11-25 23:28] bodymovin commented on #37
@kirillminiaev totalFrames is a property of an animation instance, not the library itself.
How are you instantiating your animation?

[2015-11-25 23:45] kirillminiaev commented on #37
@bodymovin So here is what I came up with as a quick test/proof-of-concept:

[code]

This replaced the `<script>` tag in your bodymovin demo page. __Maybe there is a better way to figure out when an animation has loaded?__ Maybe you already have an event listener for animation loaded state?

[2015-11-26 02:46] bodymovin commented on #37
@kirillminiaev yes there is an event "data_ready" you can hook to

[2015-11-26 12:52] ratchetdrums commented on #17
@bodymovin

I've tried installing the plugin using the above instructions as well as trying to install it manually, but when I copy the code into terminal, I get an error:

Failed to install, status = -156!

I've tried the troubleshooting area of the Adobe website but can't seem to find this error anywhere.
I've edited the registry key.

Can you please explain the installation process as if I am 5

[2015-11-26 13:02] bodymovin commented on #17
@ratchetdrums that error usually means the zxp file is missing or corrupted.
can you copy the command you are running to install it?

If you want to try it manually, you can follow instructions on this video:
https://vimeo.com/144533677
they are in spanish but you can follow them visually :)

[2015-11-26 14:26] ratchetdrums commented on #17
Ahh I've got it working now, thank you for that video link :)

I hadn't renamed the extension folder in the CEP extensions to 'bodymovin'

[2015-11-27 06:43] atyndall opened #38 "Trim Multiple Shapes setting not respected"
When the "Trim Multiple Shapes" setting is set to "Individually" for a trim over a set of paths, bodymovin still behaves as if the setting is set to "Simultaneously".

Expected view (animated gif):
![working](https://cloud.githubusercontent.com/assets/1833303/11435360/c4151e7c-9514-11e5-8ffa-9cae6e1a6662.gif)

Actual view (animated gif):
![broken](https://cloud.githubusercontent.com/assets/1833303

[2015-11-27 06:54] atyndall opened #39 "Masks that do not affect AE composition affect bodymovin output"
Some compositions produces a blank bodymovin export when the "Masks" section of the shapes layer is present. It appears that bodymovin incorrectly interprets the non-effectiveness of these masks.

Expected output:
![working](https://cloud.githubusercontent.com/assets/1833303/11435530/6e3756c6-9516-11e5-96ff-bb9426dcac6d.png)

Actual output: Blank image

Sample AE project file; https://www.dropbox.

[2015-11-27 07:34] bodymovin commented on #38
@atyndall  yes, individual trim is not supported yet

[2015-11-27 07:36] bodymovin commented on #39
@atyndall I'm getting those masks as difference masks when exporting them. I can see on the .ae project they don't have a mode. How did you do that?

[2015-11-28 01:58] atyndall commented on #38
@bodymovin Thanks for letting me know. Is support for it planned in the near future? If not, I'll need to rework the comp to not use the effect.

[2015-11-28 02:00] atyndall commented on #39
@bodymovin I was sent the .ae by a designer, and my AE upgraded it from CS6 to CC 2014 on open. I'm not entirely sure how it got to be this way unfortunately.

Perhaps it's a bug in AE?

[2015-11-30 16:44] griable opened #40 "Unable to execute script at line 90. undefined is not an object"
Hi all,

First thank you for this amazing plugin,

While trying to export my animation, I'm getting this error. Any hint?

<img width="1919" alt="screen shot 2015-11-30 at 17 44 10" src="https://cloud.githubusercontent.com/assets/193908/11477806/027e5ac6-978a-11e5-8fc0-71646d108758.png">

[2015-11-30 16:46] griable commented on #40
Here is some complementary info about the problematic layer

<img width="1276" alt="screen shot 2015-11-30 at 17 45 25" src="https://cloud.githubusercontent.com/assets/193908/11477865/385595ba-978a-11e5-9193-0f164162e2ea.png">

[2015-11-30 16:56] bodymovin commented on #40
@griable hi!
yes, it doesn't support 3d yet and I haven't handled that error yet.

[2015-11-30 16:58] griable commented on #40
Thanks a lot for this quick feedback. I'll find a way to workaround :)

[2015-12-02 11:06] digamber89 commented on #40
i'm facing the same issue @griable did you find any workarounds?

[2015-12-02 11:08] griable commented on #40
Nope @digamber89, I simply tried to reproduce the 3d effects using 2d animations or simplified the interpolations if not possible.

[2015-12-02 11:27] bodymovin commented on #40
@digamber89 do you have 3d layers?

[2015-12-02 11:41] digamber89 commented on #40
@bodymovin Yes, the transformations are 3D transformations, i'm actually editing compositions sent by someone else, tried converting to 2D but without much success

[2015-12-02 11:45] bodymovin commented on #40
@digamber89 3d is not ready yet. It will be available probably in february.
I will fix the error soon though.

[2015-12-02 11:58] digamber89 commented on #40
@bodymovin thanks for the info, waiting for the update

[2015-12-03 13:57] Leomaker opened #41 "Can I take only the animated SVG?"
In some projects only the SVG is neccessary like make animated buttons. There are this possibility?

[2015-12-03 14:04] bodymovin commented on #41
@Leomaker I'm not sure I understand correctly.
Do you mean animate the svg without javascript?

[2015-12-03 15:22] Leomaker commented on #41
Like this guy did for Flash, but for After Effects: https://github.com/TomByrne/Flash2Svg

[2015-12-03 15:32] bodymovin commented on #41
@Leomaker that library relies on SMIL to animate svg.
Unfortunately, SMIL is being deprecated on browsers, so I am not maitaining the SMIL export anymore.

[2015-12-03 21:31] sanderson opened #42 "Unexpected End of Input"
With a somewhat complex animation (moving lots of bezier points), the animations render fine, but when trying to play them in browser, I get the following errors:

[code]

The json file can be found [here](https://gist.github.com/sanderson/9b7cc0ac845a42750e06).

[2015-12-03 21:34] bodymovin commented on #42
@sanderson can you upload the images?

[2015-12-03 21:41] bodymovin commented on #42
@sanderson are you using separate dimensions por position? I think that's the issue.
I'll have it fixed tomorrow EOD.

[2015-12-03 21:43] sanderson commented on #42
Sure, you can find them here:

https://github.com/sanderson/images-tmp

I didn't notice the images getting generated. I'm not sure why they are. They are shape layers inside of a nested composition.

[2015-12-03 21:46] sanderson commented on #42
Ah, yes I am. Great! Thank you. I didn't realize that wasn't supported.

[2015-12-03 21:47] bodymovin commented on #42
@sanderson yes, it should be.
bug :/

[2015-12-03 21:59] sanderson commented on #42
No worries. They happen ;)

[2015-12-03 22:06] bodymovin commented on #39
@atyndall did you find a workaround for this?

[2015-12-03 22:07] #28 closed

[2015-12-03 22:12] iamstevemckinney opened #43 "No compositions showing up"
Clicking refresh doesn't appear to do anything.

Using the new After Effects CC 2015

[2015-12-04 02:31] atyndall commented on #39
@bodymovin I did, the masks were empty so I just deleted them. Found it strange though.

[2015-12-04 06:44] bodymovin commented on #43
@iamstevemckinney that's strange.
does it happen with any project?

[2015-12-04 06:51] bodymovin commented on #42
@sanderson hey! I've uploaded the fix.
let me know if everything works fine.

[2015-12-04 09:41] lavruk commented on #43
Yeah, same for me.
Just downloaded latest After Effects CC 2015, the refresh button in the plugin window does nothing.
OS: MacOS 10.10

[2015-12-04 10:22] tom2strobl commented on #3
Just found out this is still open, so closing it.

[2015-12-04 10:22] #3 closed

[2015-12-04 11:31] bodymovin commented on #43
@iamstevemckinney @lavruk fixed!
please download the latest build.

[2015-12-04 15:05] sanderson commented on #42
Works perfectly! Thanks so much for the quick fix. Love this plugin.

[2015-12-04 15:09] bodymovin commented on #42
@sanderson nice!
did you fix the layers exported as images?

[2015-12-04 15:11] sanderson commented on #42
I didn't. Still looking into it.

[2015-12-04 15:13] sanderson commented on #42
Nevermind. My mistake. Long day yesterday. It's fixed :)

[2015-12-04 17:35] lavruk commented on #43
Thank you,  @bodymovin! It works now, great job!

[2015-12-05 02:26] iamstevemckinney commented on #43
Works for me as well!

[2015-12-05 02:26] #43 closed

[2015-12-05 21:59] #42 closed

[2015-12-09 03:14] orglennon opened #44 "Using frames to trigger other items on the page"
Hi there,
First off, this extension/library is amazing.

I'm rendering my animation as svgs and I want to be able to use the point in time in the animation to trigger other events (ex: fading in divs) on the page. I've been trying to use the currentFrame property of the animation to measure against, but it seems like I'm having inconsistent playback across computers (same browser, chrome on mac).

[2015-12-09 07:38] bodymovin commented on #44
@orglennon hi!
yes currentFrame should work for your case.
What kind of inconsistencies are you seeing?

[2015-12-09 14:36] orglennon commented on #44
Thanks for the quick response!
It looks like I had a bit of old code and was setting a variable to the value of currentFrame onFrameEnter, but when there was lag it either wasn't always updating, or something else fishy was going on there.
Now I am measuring directly against animation.currentFrame and it seems to be working. So now even if there is lag, things still get fired, just choppily, inste

[2015-12-09 14:36] orglennon commented on #44
(Closing for now)

[2015-12-09 14:36] #44 closed

[2015-12-09 15:16] bodymovin commented on #44
@orglennon I see. Do you know why is there lag? are animations too complex?

[2015-12-09 21:16] kirillminiaev commented on #37
@bodymovin Just got back to this. I'm trying to do this:

[code]
And it's not quite working. Am I linking to the event correct?

[2015-12-09 21:26] Tolmark12 commented on #37
@kirillminiaev try:

[code]

[2015-12-09 21:28] kirillminiaev commented on #37
@bodymovin Perfect. Thank you!

[2015-12-09 21:35] Klustre commented on #17
You can have a look at this [ZXP Installer](zxpinstaller.com). And the extension seems to load perfectly fine without debug mode on (CC14 & 15), since it's signed. I was wondering why you ask the user to turn on debug mode?

[2015-12-09 22:49] bodymovin commented on #17
@Klustre nice! I didn't know about it. I'll try it out.
I ask to set debug mode to tru because if you install it manually, you need debug mode for it to work.

[2015-12-10 00:44] Klustre commented on #17
@bodymovin Actually as long as it's signed and none of the files are changed by the user, you can simply copy an extension's root folder to the extensions folder and it works, without setting debug mode to true.

[2015-12-10 11:42] bodymovin commented on #17
@Klustre I'm not sure that is enough. I've received many mails telling me the extension was visible on the menu but wouldn't open. When they added the debug mode, it started working.
But I'll look further into it.

[2015-12-10 14:37] Klustre commented on #17
@bodymovin What I've found is that it depends on how the ZXP is being extracted. On OSX when extracting the ZXP using The Unarchiver, everything runs just fine. But when changing .zxp to .zip and extracting it with the native unzipper corrupts the package and therefore it shows up in the menu, but doesn't work. I'd be happy to hear your findings!

[2015-12-10 20:11] mcpdob commented on #17
Confirmed had the same ting on OSX ElCaptain you need to use a 3rd party extractor.

From:  Klustre <notifications@github.com>
Reply-To:  bodymovin/bodymovin <reply@reply.github.com>
Date:  Friday, 11 December 2015 at 3:37 AM
To:  bodymovin/bodymovin <bodymovin@noreply.github.com>
Subject:  Re: [bodymovin] Can't install the plugin (#17)

@bodymovin What I've found is that it depends on how the ZXP

[2015-12-16 23:39] ConradIrwin opened #45 "Doesn't interpolate between different numbers of vertices"
Right now the player re-uses the same number of vertices for each key-frame, however After Effects may have different numbers of vertices per key-frame.

Either the exporter or the player should be able to add extra vertices by splitting the bezier curves, as is done by After Effects itself.

See https://gist.github.com/1655e593b75402df88e4, it should be a circle -> star -> circle, but the star re

[2015-12-17 00:05] bodymovin commented on #45
@ConradIrwin yes! it's a feature I'm not supporting yet.
Will be available soon after 3d support is ready.
sorry :/

[2015-12-17 00:10] ConradIrwin commented on #45
hey! no worries :) I'd have implemented it myself, but it was easier to just add more vertices to the circle in After Effects :)

[2015-12-17 17:41] ratchetdrums opened #46 "Masks no longer supported? 3.1.7"
Since updating to V3.1.7 on CC2015 13.6, I'm having trouble with the outputs.

I seem to need to convert every shape path to bezier.

Also masks don't seem to be working - this is evident in the bodymovin example where the second O (the one that's vomiting) doesn't preview properly.

Rending out a project that worked previously, now seems to ignore all the mask data.

[2015-12-17 17:44] bodymovin commented on #46
@ratchetdrums do you have an example of this issues?
I'll take a look at the O in the bodymovin example but everything was working correctly on my side.
What kind of shapes you need to convert to bezier?

[2015-12-17 19:55] ConradIrwin opened #47 "Convert bodymovin' JSON into SVG film-strip animations"
Hey! This isn't really an issue, but I wanted to share a tool I made.

For us animating with javascript on the live site is a no-go, because the CPU is usually busy doing other things while we're trying to animate. To fix this, we use SVG filmstrips that we can animate using CSS and avoid the need for CPU work.

I've made a little tool to export bodymovin animations to filmstrips, https://superhum

[2015-12-17 20:12] bodymovin commented on #47
@ConradIrwin nice! have you seen a big difference on performance using filmstrips?
I'm wondering because there's a lot of discussion about comparing css vs js animation.
See here: [http://greensock.com/css-performance](http://greensock.com/css-performance)
And filmstrips means a big filesize increase.

[2015-12-17 21:15] ConradIrwin commented on #47
@bodymovin Thanks for the video, fascinating!

As he observes in that video, the CSS animations are much smoother even if the main thread is doing other stuff — though I didn't anticipate that would be at the expense of speed :).

This is huge for us because we do a large amount of DOM rendering on the main thread, and it really sucks to drop a frame in the animation because of something loading.

[2015-12-17 23:43] bodymovin commented on #47
@ConradIrwin check out the conversation on the comments between the guy from greensock and Paul Irish that works at google. A lot of interesting stuff there.
I'd compare which options turns out to be the best. Sometimes js can outperform css.

[2015-12-18 11:43] bodymovin commented on #46
@ratchetdrums hi! the bodymovin animation works fine. do you have an .ae I can take a look at?

[2015-12-18 12:02] ratchetdrums commented on #46
Hmmm, that's really strange, I wonder why I'm seeing it differently. I'll email you a link to download the .aep I'm working on as well as a few of the json outputs that I've had.

[2015-12-18 12:17] ratchetdrums commented on #46
Have just emailed you

[2015-12-21 16:45] Komsomol opened #48 "Control Framerate"
Hi,

Awesome plugin. But I have question. I would like to control the frame rate of the playback.

Bit confused where to change this.

Editing anim directly doesn't seem to work as it's just the data itself.

I can see that I can change the 'speed ' by using bodymovin.setSpeed(1); but I would like granular control over the frame rate playback?

How is this possible? Thanks!

[2015-12-21 17:22] bodymovin commented on #48
@Komsomol hi.
there's a property on the instance returned by the "loadAnimation" method that you can use to change the framerate.
something like this:
var anim = bodymovin.loadAnimation(params);
anim.frameRate = 25;

[2015-12-21 18:24] Komsomol commented on #48
Hi thanks for you reply. This is my code and there is no effect on frameRate via anim.frameRate

This is my code... am I missing something basic?

      var animData = {
          wrapper: document.getElementById('bodymovin'),
          animType: 'svg',
          loop: true,
          prerender: true,
          autoplay: true,
          path: 'data.json',

    };
    var anim = bodymovin.loadAnima

[2015-12-21 18:28] bodymovin commented on #48
@Komsomol yes, sorry I didn't clarify that.
If you're loading the animation data asynchronously, you need to wait for the "data_ready" event to fire, or it will overwrite your manual setting.
anim.addEventListener('data_ready', function(){anim.frameRate = 60});

[2015-12-21 18:48] Komsomol commented on #48
Sorry to keep bothering you but I can't seem to get that working at all. This is my code.

Frame rate stays at 28. I see the data_ready function being called. I took the latest lib from
https://raw.githubusercontent.com/bodymovin/bodymovin/master/build/player/bodymovin.js

I looked at the examples but can't seem one where FrameRate is controlled. Thank you so far for your help!

    var animData =

[2015-12-21 18:51] Komsomol commented on #48
I got it working by changing all 3 vars controlling the frameRate

    anim.addEventListener('data_ready', function(){
        anim.frameModifier = 0.120;
        anim.frameMult = 0.120;
        anim.frameRate = 120;
        console.log('rate?', anim);
    });

Is this how it's supposed to be?

[2015-12-21 19:12] bodymovin commented on #48
@Komsomol sorry, I don't have the code here and couldn't test it right.
modify those values and then to get an update do anim.setSpeed(1);
out of curiosity, why wouldn't you use the setSpeed directly?
If you have the original frameRate it would be simply doing: setSpeed(newFrameRate/originalFrameRate);

[2015-12-22 09:46] Komsomol commented on #48
@bodymovin

I didn't know that you can do that with "setSpeed(newFrameRate/originalFrameRate);"

My animator was against using setSpeed as I and he thought it would just do a range from 0 to n.

Thank you for all your help. Great Lib!

[2015-12-22 19:53] #48 closed

[2015-12-28 15:11] bgkillertavu commented on #17
Hey there,

I followed the tutorial you shared : https://vimeo.com/144533677
Everything looks fine except that the "Extensions" Tab doesnt show up in "Window". Anyone ?...

Thx a lot,

[2015-12-28 15:13] Klustre commented on #17
@bgkillertavu Which After Effects version are you using?

[2015-12-28 15:15] bgkillertavu commented on #17
CS6 and CC v.12.2.1.5
I've changed both plist and checked them.

Should i try with CC2015 ?

[2015-12-29 09:52] bgkillertavu commented on #17
It works just fine with CC15...

[2015-12-29 14:02] Klustre commented on #17
@bgkillertavu Extensions have been supported only since AE CC14, so that's why. And Extension Manager has been killed, also never supported AE. Use the ZXP Installer as noted a few posts up.

[2015-12-30 23:29] blastframe opened #49 "Preloading JSON"
Hi,
Excellent work on bodymovin! I am currently rendering out a JSON file for each of my After Effects compositions. Each composition starts & ends with the same frame so when I replace it in the wrapper, it will appear seamless. I am having an issue though - each time I destroy the previous animation, there is a flash of nothing while the next animation loads. Is there a way to preload the JSON s

[2015-12-30 23:42] blastframe commented on #49
My apologies, I just found the animationData object. I'm loading my JSON into this and it seems to work.

[2015-12-30 23:42] #49 closed

[2016-01-05 18:07] juancabrera opened #50 "looping"
I don't think is possible to do it right now, but would be great to being able to loop just a part of the animation, not the whole thing. I currently have a flag animation that rises and them it waves. I think would be better to being able to loop just the "waving" part of the animation instead of having 2 different animations and loop just the second one.

Does it makes sense ?

[2016-01-05 18:12] bodymovin commented on #50
@juancabrera yes, absolutely. That way you don't need to load information twice.
You can do it right now:
set loop in true
and then, once the animation is loaded, set
anim.playSegments([[0,20],[21,80]],true)
where [0,20] would be the first segment and [21,80] the second, both in frames.
if you need any help, let me know.

[2016-01-05 21:13] juancabrera commented on #50
@bodymovin that worked perfectly! Thanks!

[2016-01-05 21:13] #50 closed

[2016-01-06 13:28] loopHere opened #51 "can't refresh"
report "Unable to execute script at line 314. p is undefined"

I reinstalled twice, but still not working , don't where was wrong

[2016-01-06 13:29] bodymovin commented on #51
@loopHere does that error show when you hit Render?

[2016-01-06 13:39] loopHere commented on #51
when i hit the Refresh~

[2016-01-06 13:40] bodymovin commented on #51
@loopHere what OS and AE version are you using?

[2016-01-06 13:42] loopHere commented on #51
mac OSX 10.10.5 & AE 13.5

[2016-01-06 13:42] bodymovin commented on #51
@loopHere is it with a particular project or with any?
can you send me the .ae?

[2016-01-06 13:45] loopHere commented on #51
Just a simple test .aep for Bodymovin

[test1.aep.zip](https://github.com/bodymovin/bodymovin/files/79850/test1.aep.zip)

[2016-01-07 03:43] bodymovin commented on #51
@loopHere It's really strange. Even more because no file I can think of from the extension has more than 300 lines.
Can you send me a screenshot with the error?

[2016-01-07 06:44] loopHere commented on #51
Here it is ~ Does it  working on your AE?
![screen shot 2016-01-07 at 14 42 35](https://cloud.githubusercontent.com/assets/14327009/12164009/0718f95c-b54d-11e5-8827-b9d583fc573a.png)

[2016-01-09 00:08] Tolmark12 opened #52 "Error when loading an animation"
` Cannot read property 's' of undefined`

When I use chrome to try to see where that's being thrown, I think it might be getting thrown in the matrixManagerFunction... but it's hard to tell because the lib is compressed.

Any idea where to start poking around?

Here's the animation src : http://aristotle.gopagoda.io/episodes/episode2/animations/firewall_burn_bad_upper.json

[2016-01-09 00:21] bodymovin commented on #52
@Tolmark12 I see the animation fine. Are you using the latest player?
Can you post a link to see the error?

[2016-01-09 00:25] Tolmark12 commented on #52
Just updated to be sure, but still getting that error. Let me push it up to a live url..

[2016-01-09 00:33] Tolmark12 commented on #52
Nevermind, it was an issue of not having the latest lib, whew! I updated the lib via bower just now, but forgot that gulp didn't automatically update bower libs. Thanks for the ultra quick response on a Friday night.

[2016-01-09 00:37] bodymovin commented on #52
@Tolmark12 no problem!

[2016-01-12 00:28] #52 closed

[2016-01-12 00:29] #47 closed

[2016-01-12 00:29] #46 closed

[2016-01-12 00:29] #41 closed

[2016-01-18 21:25] dionysiusmarquis commented on #18
Rendering svg exclusively in GL context isn't trivial. You need to tesselate every vector -shape, -line… etc. See  [nanovg](https://github.com/memononen/nanovg), [libtess2](https://github.com/memononen/libtess2). Tesselating in js will be very slow. Complex 2d vector graphics isn't really what GL is meant for.

[2016-01-20 21:32] Tolmark12 opened #53 "animation.destroy() clean up"
I've noticed running `animation.destroy()` leaves a lot behind in memory. For instance, consider the following:

|                               | Memory Used |
|------------------------------:|-------------|
| Before Animation is Loaded    | 66mb        |
| After Animation is Loaded     | 123mb       |
| After animation is Destroyed* | 96.5mb      |
_* I force garbage collection to make sure all

[2016-01-20 21:51] bodymovin commented on #53
@Tolmark12 Thanks, I'll take a look at it. So you're using the svg renderer and you have png images animating?

[2016-01-20 22:03] Tolmark12 commented on #53
Yeah, some of the time. The vector assets were sometimes so complex, that replacing them with pngs was needed to speed things up.

[2016-01-21 01:21] Tolmark12 commented on #53
@bodymovin I just downloaded the new lib and ran a test, and as far as I can tell, it looks like items remain in RAM even after destroying an animation. See the following video for clarity : https://www.youtube.com/watch?v=5oUGoqLMczY

[2016-01-21 01:27] Tolmark12 commented on #53
Any data, or DOM elements that have a a variable with it's value assigned to that item (a pointer) won't be removed from RAM during garbage collection. Event handlers can be especially troublesome. ie: if you set an event handler on some object and even remove all pointers, but don't remove the event listener, the object won't be garbage collected

(Just tell me to shut up if you already know all

[2016-01-21 03:05] bodymovin commented on #53
@Tolmark12 yes, every reference to dom elements should be removed when calling destroy. I'll keep looking into it.

[2016-01-21 04:15] Tolmark12 commented on #53
I think all the dom elements may be cleared, but maybe there is data elements still in memory?

[2016-01-25 00:26] walkingfearless opened #54 "Convert JSON to SVG"
Hi all!

First, thanks for bodymovin. Really great idea, but I still didn't take advantage of it.
I don't even know if this is possible or if this is just a dumb question.
I've found bodymovin because I was looking for a way to export an AE animation to SVG. But when I use bodymovin, all I got is a JSON file. Am I missing something? Can you guys help me to have just an SVG file?

Thanks in advance

[2016-01-25 01:42] bodymovin commented on #54
@walkingfearless hi!
If you want an animated svg compatible with all modern browsers you need to use css or javascript to animate it.
This plugin relies on js to render the animation so you need to load it with the js player for it to work.
Look at the demos folder to see examples on how to do it.
If you need further help let me know

[2016-01-31 13:18] shokrizorid opened #55 "How to update my version?"
Hello,

Thank you so much for this plugin, it's just awesome.

Today I want to update the bodymovin 4.0.1 extension, but I would like to know how to do this.
Do I have to uninstall the old plugin manually?
Or I just need to install directly the new bodymovin extension manually?

Best

[2016-01-31 13:21] bodymovin commented on #55
hi!
you shouldn't need to uninstall the old version.
just do the same steps you did before

[2016-01-31 13:25] shokrizorid commented on #55
Thank you for your fast answer :)
Last questions,

I would like to know if the mask works now with bodymovin?
And where can I find the number version of bodymovin? Because when I use cmd with "ExManCmd.exe /list all" he said I have the v1.0.0 : /

[2016-01-31 13:31] bodymovin commented on #55
you're right, I didn't update the version on the extension. I'll do it in the next release.
You can check the version on the js player.
What kind of masks are you using?
masks should have already been working

[2016-01-31 13:38] shokrizorid commented on #55
Ok for the version.
For the masks I'm using the tool:
Effect/generation/line.

Maybe it's not the right mask system?

[2016-01-31 13:55] bodymovin commented on #55
I see. Those masks are not supported
you can animate normal masks or use the trim path property for strokes.

[2016-01-31 13:58] shokrizorid commented on #55
Yes, I have just seen this on your example Bodymovin_Github.aep

Thank you so much
Have a nice day!

Nerisson

[2016-01-31 13:58] bodymovin commented on #55
thanks. you too

[2016-02-01 16:28] kevinman1234 opened #56 "Animation not showing in any web browser except for firefox"
Hi I just have one main question, i cant seem to get the animation to work in chrome, or safari. It works in firefox. All web browser are up to date. Im not sure if i messed up anything or if im missing anything. If anyone could please help it would be awesome.
[bodymovin 2.zip](https://github.com/bodymovin/bodymovin/files/112555/bodymovin.2.zip)

[2016-02-01 16:30] #55 closed

[2016-02-01 16:30] #54 closed

[2016-02-01 16:35] bodymovin commented on #56
@kevinman1234 I see your animation fine in chrome.
I guess you're not serving the files through a web server.
Is that possible?

[2016-02-01 17:26] kevinman1234 commented on #56
Hi yes, im only viewing from desktop, no server. Is that the reason why it's not working?

[2016-02-01 17:31] bodymovin commented on #56
@kevinman1234 yes, very likely

[2016-02-01 18:46] kevinman1234 commented on #56
Hi thank you there much it works now!!!

[2016-02-01 19:41] orglennon commented on #44
@bodymovin I wanted to let you know that I ended up using bodymovin for the intro to a project that the firm I work for (@fathominfo) recently did for ge: ge.com/transformation

Thanks for your work on this project! It made getting our designer's animations web-ready so much easier!

[2016-02-03 20:57] bodymovin commented on #44
@orglennon nice!
I'm glad it was useful.
any feedback is welcome :)

[2016-02-05 16:03] etx commented on #17
I was getting the -403! error with ExManCmd also.

I unzipped the ZXP file and moved the resulting folder into /Library/Application Support/Adobe/CEP/extensions/ and then the plugin worked for me.

I'm on OSX 10.9 w/ AE CC 2014

[2016-02-07 22:34] SmartArtsStudio opened #57 "Should 'fills' and 'strokes' generated via effect still work?"
Are fills and strokes generated by 'fill' and 'stroke' Effects unsupported because "Only slider effects are supported at the moment"?
I get the following error thrown when processing a layer which contains  only a fill, but it was generated via 'fill effect':
"Unable to execute script at line 305. undefined is not an object"

The composition consists only of animated fills and strokes, however not

[2016-02-07 22:40] bodymovin commented on #57
@SmartArtsStudio can you send me the .ae project so I can take a look?
filling as an effect is not supported, but it shouldn't break the export process.
my email is hernantorrisi@gmail.com

[2016-02-07 22:47] SmartArtsStudio commented on #57
Will do, thankyou.

[2016-02-10 13:02] amanda-- opened #58 "Is there a way to set the preserveAspectRatio to none?"
I would like the svg to fill up the container div completely, without keeping the aspect ratio.

[2016-02-10 13:13] bodymovin commented on #58
@amanda-- not yet. But you could do it manually after the animation is loaded if you're using the svg renderer.

[2016-02-10 13:38] amanda-- commented on #58
First of all; thank you for your fast reply!

We changed the attribute manually like you suggested.

It would be nice if this would be a setting. Maybe a nice feature for a future version?

Thanks anyways!

[2016-02-10 13:46] bodymovin commented on #58
@amanda-- absolutely. will be there soon.

[2016-02-11 13:29] a10k opened #59 "Possible to add class/id to svg elements?"
To add some interactivity to the animation on the webpage, I would like to know if it is possible to add ID/classes to the svg elements to later add event listeners to them (after loading the animation) to control some parts of the animation with JS. Also, please let me know your advise on the best way/recommendation  to add interactivity to the animations as I'm planning to use them for some UI e

[2016-02-11 13:44] a10k commented on #59
Sorry to bug you, just found out this is a duplicate of #32

Thanks though! Great Library.

[2016-02-11 13:44] #59 closed

[2016-02-12 14:32] amanda-- commented on #58
@bodymovin

Hi,

A new issue we've got:
We use the 'onEnterFrame' to manually change the preserveAspectRatio. This works when autoplay is set to true. When set to false it doesn't.

Is there another event we can use? Like when the svg is loaded?

Thank you again!

[2016-02-12 14:37] bodymovin commented on #58
there is a new event coming. I'll upload it this weekend.
for now you can manage listening to the event "config_ready".
After that event is triggered, the svg element will be present after the thread is complete so you could do:
setTimeout(changeSvgProperty,0);
let me know if it's not clear.

[2016-02-12 14:43] #20 closed

[2016-02-12 14:51] amanda-- commented on #58
Thanks!

Good to know, we are not in a hurry, we'll check next week.

For now it works when setting autoplay to true and using a stop.

[2016-02-14 18:44] deborabm opened #60 "AE CS6"
Hey,
I'm trying to install it in CS6, but its not working.
Is it compatible?

[2016-02-14 19:20] bodymovin commented on #60
hi!
no, only CC2014 and up unfortunately

[2016-02-16 03:59] bodymovin commented on #58
@amanda-- hi! I've uploaded the new event. It's called "DOMLoaded"

[2016-02-16 16:14] amanda-- commented on #58
@bodymovin Thank you!

Unfortunately I can't get it to work with the setAttribute preserveAspectRatio to none.
When using DOMLoaded it just keeps the aspect ratio as it originally is.

[2016-02-16 23:06] bodymovin commented on #58
@amanda--  that's strange. it's working on my side.
do you have a link I can take a look at?

[2016-02-16 23:43] Emasoft opened #61 "This plugin is the future of the web... What about an OSX version?"
Do you plan to release an OSX version of this amazing plugin?

[2016-02-16 23:49] Emasoft opened #62 "What about using SMIL to export animations?"
Have you considered using SMIL for exporting SVG animations? It is much better for synchronization, and does not have the troubles of webanimations (still lacking support).

P.s.
Do not listen to those who say that SMIL was deprecated... It is not. It is just polyfilled by some browsers using webanimations.

[2016-02-16 23:51] bodymovin commented on #61
@Emasoft The plugin exports a json file so it should be possible to implement a library for OSX to render animations.
Unfortunately I'm not an OSX developer and it would take me a lot of time to learn.
Doing the web version is already a full spare time job :)

[2016-02-16 23:53] bodymovin commented on #62
@Emasoft My first version exported to SMIL and I was very pleased with the result.
All those rumors about deprecation made me put that renderer on hold.
Besides, right now the plugin supports AE expressions and some other features that don't translate to SMIL capabilities; so it would need an hybrid solution nonetheless.

[2016-02-17 09:25] amanda-- commented on #58
@bodymovin http://codepen.io/amandavannoordenne/pen/NxmdNe

- it works when you change DOMLoaded to onEnterFrame. But in my project that causes problems I can't reproduce on codepen.

[2016-02-17 10:43] bodymovin commented on #58
@amanda-- You should use it like this:
anim.addEventListener('DOMLoaded',function(){});
I will for next release.

[2016-02-17 11:16] amanda-- commented on #58
Thank you!

It works on my codepen, but in our project it still doesn't, while I'm doing the same thing.
I'll go and try to figure out why...

[2016-02-17 11:45] bodymovin commented on #58
@amanda-- make sure you have the latest player

[2016-02-17 12:23] amanda-- commented on #58
Yes I have. I think it's an issue in combination with React.

[2016-02-17 12:55] bodymovin commented on #58
I see. Let me know if I can help you with anything.

[2016-02-18 18:14] shokrizorid opened #63 "Error with the version 4.0.7"
Hello,

I have exported an animation with bodymovin v4.0.7 but I have this error when the animation is loading:

TypeError: v[f].pt.k is undefined

Do you know why I have this? I attached my animation contact.json

Thank you

[2016-02-18 18:19] bodymovin commented on #63
@shokrizorid hi! can you send me the .ae so I can check it?
Did it work with the previous version?

[2016-02-18 18:22] #60 closed

[2016-02-18 18:22] #57 closed

[2016-02-18 18:23] #53 closed

[2016-02-18 18:23] #36 closed

[2016-02-18 18:24] #39 closed

[2016-02-18 18:25] #56 closed

[2016-02-18 18:25] #14 closed

[2016-02-18 18:29] shokrizorid commented on #63
Element are in french, but if you have any question please feel free to ask me.

[2016-02-18 18:30] shokrizorid commented on #63
The file is in french, but if you have any question feel free to ask me !
http://infinit.io/_/3mR6FZR

[2016-02-18 18:32] bodymovin commented on #63
no problem.
je parle francais :)

[2016-02-18 18:35] shokrizorid commented on #63
Haha, super !

Concernant mon fichier ae, j'ai rencontré quelques soucis au niveau des compositions. Par exemple, je ne peux pas coller plusieurs compositions dans 1 seul... Du coup j'ai dû utiliser des masques.

Sinon, j'ai remarqué un truc étrange aussi, si tu colles côte à côte 2 compositions, bodymovin laisse à l'export 1 micro pixel entre les 2... Ce qui explique mes petits rafistolages de 1p

[2016-02-18 21:47] bodymovin commented on #63
@shokrizorid j'ai essayé exporter ton projet et ca marche bien.
As tu mis a jour le bodymovin.js player aussi?
Veux-tu m'envoyer un lien?

[2016-02-19 14:13] AntoineW commented on #63
Voici l'erreur exact :
`15:08:50,772 TypeError: t[a].ks.k is undefined
s() bodymovin.js:1
s() bodymovin.js:1
t() bodymovin.js:1
t() bodymovin.js:1
a() bodymovin.js:1
t() bodymovin.js:9
AnimationItem.prototype.waitForFontsLoaded</<() bodymovin.js:9
AnimationItem.prototype.configAnimation() bodymovin.js:9
AnimationItem.prototype.setParams/i.onreadystatechange() bodymovin.js:9
1 bodymovin.js:1:6488
`

[2016-02-19 16:05] bodymovin commented on #63
Je vais t'envoyer cet apres-midi un lien avec ton animation marchant avec le player 4.0.7.
Si tu as un lien ou ca ne marcha pas, passe-le moi s'il te plait.

[2016-02-20 15:21] bodymovin commented on #63
@shokrizorid @AntoineW
J'ai créé un lien avec votre animation:
http://codepen.io/airnan/details/NxVQWV/
Je n'ai pas vu l'erreur mais j'ai vu le pixel qui sépare les compositions.
J'ai corrigé une erreur que ne montrait pas bien le layer "Bloc rose central". Vous pouvez télécharcher le nouveau build.
Mais l'autre erreur du pixel doit etre un arrondissement que fait le browser.
Je vais rechercher un

[2016-02-22 07:21] swolfish opened #65 "Player controls"
On the start I want to show the last frame of animation and then after some time (trigger) animate it reverse, from last frame to the first. Can I do that?
It's problem to show last frame first. I tried a lot of scenarios, nothing worked.

[2016-02-22 10:44] shokrizorid commented on #63
Merci pour la correction :) Je fais comment pour le télécharger le fichier ?

Par contre est-ce que tu peux juste retirer l'animation de codepen stp ? Car c'est une animation qui provient d'un projet encore confidentiel ^^

[2016-02-22 11:03] bodymovin commented on #63
@shokrizorid effacée. excusez moi.
vous pouvez le télécharger d'ici, github.

[2016-02-22 11:07] bodymovin commented on #65
@swolfish you can set autoplay to false on the animation params and then do:

anim.addEventListener('DOMLoaded',function(){
    anim.goToAndStop(anim.totalFrames,true);
    anim.setDirection(-1);
    anim.play();
});

[2016-02-22 11:52] swolfish commented on #65
'DOMLoaded' helped.
Thank you. :)

[2016-02-22 11:52] #65 closed

[2016-02-22 17:15] AntoineW commented on #63
Voici un exemple qui reproduit l'erreur que nous avons : http://codepen.io/anon/pen/xZomzX

L'animation ne se joue pas et nous avons l'erreur JS "TypeError: e.k is undefined"

[2016-02-22 17:19] bodymovin commented on #63
@shokrizorid cette animation est exportée avec la version 3.x et le player est version 4.x
elles ne sont pas compatibles. C'est pour cela que ca ne marche pas.
Vous devez faire l'installation de la derniere version du plugin et exporter les animations a nouveau.
désolé :/

[2016-02-22 17:28] shokrizorid commented on #63
Comment ça se passe la mise à jour du plugin ?
Car j'a utilisé la méthode "option 2" :
_"Install the zxp manually following the instructions here: https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
Jump directly to "Install third-party extensions"_

[2016-02-22 17:31] bodymovin commented on #63
meme methode avec le dernier fichier .zxp
as-tu essayé et ca n'a pas marché?

[2016-02-22 17:34] shokrizorid commented on #63
Oui, j'ai pris le fichier .zxp de la version 4.0.9 dernièrement et lorsque je fait la commande /list all il m'affiche toujours la version 1.0.0.0.

Je vais retenter de suite avec la version 4.0.10.

[2016-02-22 18:42] shokrizorid commented on #63
On a réussi au final à faire fonctionner notre export avec la dernière version.
Merci pour ton aide. Je t'enverrai l'url du projet une fois le tout terminé.

[2016-02-23 00:32] bodymovin commented on #63
merci!
si vous avez besoin de quelque chose d'autre n'hesitez pas.
et excusez mon francais precaire :)

[2016-02-23 19:43] andy-kelly opened #66 "Could not create outlines from selected characters."
When trying to render my composition I get this error part of the way through the process of converting the type to outlines. I then have to hit cancel on the bodymovin render and get the following error:

I then have to hit cancel again to close bodymovin.

The typeface I'm using is Myriad Pro.

Any help would be greatly appreciated!

[2016-02-23 19:45] bodymovin commented on #66
@andy-kelly I've seen this issue only with terminal fonts.
What font file do you have? .ttf or .otf installed?

[2016-02-23 19:48] andy-kelly commented on #66
They're the standard .otf files that come installed on OSX. I haven't tried with any other typefaces yet!

[2016-02-23 19:57] bodymovin commented on #66
@andy-kelly are you using any special characters or a basic character set?

[2016-02-23 19:58] andy-kelly commented on #66
Just upper and lowercase characters, space, and period.

[2016-02-23 20:00] bodymovin commented on #66
ok I'll have to try that font.

[2016-02-23 20:03] andy-kelly commented on #66
Aha, I figured it out! I think I was using soft returns (shift and return) rather than hard returns. Once I turned them into hard returns it rendered!

[2016-02-23 20:05] bodymovin commented on #66
@andy-kelly nice! I'll take it into account for next build.

[2016-02-23 20:48] andy-kelly commented on #66
I'm now having a different issue where only the first 3 seconds of my comp play and only one element of the animation appears.

[2016-02-23 20:49] bodymovin commented on #66
can you send me the .ae and the exported .json so I can take a look?

[2016-02-23 20:58] andy-kelly commented on #66
Just sent you an email, thanks!

[2016-02-23 22:13] bodymovin commented on #66
@andy-kelly unfortunately you are using some things that aren't supported yet by the plugin:
- There is a repeated expression using velocityAtTime, that is not yet in production, and that's what's breaking the animation. It's almost ready but not there yet.
- fill effect is not supported. You need to change shapes fill on the contents if you need to change the color.

[2016-02-24 14:53] andy-kelly commented on #66
Thanks for your help. I was planning on creating a simpler version for HTML5 use anyway so I should be able to get by without the expression & fill effects.

Thanks again!

[2016-02-24 22:19] Arthurtharaud opened #67 "3D layers no rendering / Pas de rendu avec un calque D"
J'ai découvert cette incroyable plugin, il est vraiment génial.
Je voudrais savoir s'il est possible de faire un rendu (export) avec des calques 3D.
Je suis sur cc 2015 et j'essaie le plugin 4.0.10, l'export de calque en 3D ne marche pas.
Y-a t-il une solution ? Merci

![00-test](https://cloud.githubusercontent.com/assets/17462110/13302987/fa3de438-db4c-11e5-8e18-0be1f6f54728.png)

[2016-02-24 22:25] bodymovin commented on #67
peux-tu m'envoyer le fichier?
ca devrait marcher bien avec des layers 3d.

[2016-02-24 22:26] #63 closed

[2016-02-25 08:22] Arthurtharaud commented on #67
Bonjour,
Voici mon fichier test : https://www.dropbox.com/sh/99siz4cagwrmk01/AADxXMs75Bf3Gq4xmvNLVCyMa?dl=0

[2016-02-25 09:19] bodymovin commented on #67
j'ai essayé avec ce fichier et tout marche bien.
Mais je ne vois pas un layer qui s'appele "Calque de forme 1".
Est-ce le meme projet?

[2016-02-25 14:12] Arthurtharaud commented on #67
Merci beaucoup, oui c'est le même projet, j'ai renommer les calques.
Je vais essayer de réinstaller le plugin pour voir si ça marche.
Je n'ai pas préciser que je suis sur windows 8.
Merci pour tout, c'est un très bon plugin.

[2016-02-29 14:04] meodai opened #68 "publish on NPM"
`npm install bodymovin` is not working. Looks like bodymovin is not registered. Can someone `npm publish` ?

[2016-02-29 15:07] danem025 opened #69 "No popup window appears on AE when clicks on Bodymovin"
Hi,

I run AE on a IMAC Yosemite 10.10.5. AE CC 2015.
I ve been able to install the extension but when I click on it, nothing happens.

I would need help...

Thx

[2016-02-29 15:09] bodymovin commented on #69
@danem025 hi! how did you install it?
manually or from the add-ons page?

[2016-02-29 15:10] danem025 commented on #69
I put the extension files on the Extension folder.
It appears on AE. just doesnt work
I guess is manually then

[2016-02-29 15:14] bodymovin commented on #69
If you do it manually you need to set debug mode to true.
Someone made a video with instructions on how to do it. It's in spanish but you can follow them visually.
https://vimeo.com/144533677

[2016-02-29 22:19] agencia opened #70 "Decompile"
Hi,

I have a webpage with an animation using bodymovin but I would like to decompile to use the imagery, is this possible? how can I reuse imagery? I cannot get any image from the animation

I got this webpage as legacy so the guy who did this is no longer available

I would appreciate any help, Regards

[2016-02-29 22:21] bodymovin commented on #70
if it's rendered as svg you could pause the animation and get the svg data from chrome dev tools.
Would that work?

[2016-03-01 03:36] bodymovin commented on #68
published

[2016-03-01 03:55] thrillerist opened #71 "Unable to execute script at line 27.Cannot convert to /c/Program%20Files/Adobe/Adobe%20Effects%CC%202015/Support%20Files/extension/jsx/esprima.jsx"
Hi all, thanks for developing this plug-in
I put the extension folder on "c:/Program Files/Adobe/Adobe Effects CC 2015/Support Files"
While adding bobymovin panel in AE, I got this error.
something wrong here?
![error](https://cloud.githubusercontent.com/assets/7190154/13417206/6c8c238c-dfa4-11e5-8951-083b718a2d7c.png)

[2016-03-01 04:00] bodymovin commented on #71
hi.
you need to install the extension since it is not a script.
get the bodymovin.zxp file from the folder build/extension/
and then follow instructions here:
https://helpx.adobe.com/x-productkb/global/installingextensionsandaddons.html
skip to where it says:
"Install third-party extensions"

if you need more help let me know

[2016-03-01 07:29] meodai commented on #68
Thank you!

Am Dienstag, 1. März 2016 schrieb hernan :

[2016-03-01 08:28] thrillerist commented on #71
thanks for replying.
I read the instruction and  install the extension through the Creative Cloud
but when I open the extension in AE, still got a error
![image](https://cloud.githubusercontent.com/assets/7190154/13421538/ef07c288-dfc9-11e5-868e-577657a35540.png)

then I selected a  layer and destination folder, then clicked render
but there's no output file, and no preview too.
![image](https://c

[2016-03-01 09:03] bodymovin commented on #71
can you check if that file is present in that path?

[2016-03-01 09:24] thrillerist commented on #71
yes, it is

[2016-03-01 09:24] thrillerist commented on #71
yes, it is.

[2016-03-01 12:03] bodymovin commented on #71
can you try replacing that file with this one and restarting after effects?

[esprima.zip](https://github.com/bodymovin/bodymovin/files/152704/esprima.zip)

[2016-03-01 23:18] #68 closed

[2016-03-01 23:18] #62 closed

[2016-03-01 23:18] #61 closed

[2016-03-02 09:31] danem025 commented on #69
Hi again,
Everything is working great...
I don't really understand what I did on the terminal but now my CSS3ps plugin doesn't work anymore.
Did it block the server connection to adobe ?
It's really a problem ? Is there a way back ?

[2016-03-02 09:34] thrillerist commented on #71
Same mistake here.
How to export the text animation, did you write a expression parser or something like that?

[2016-03-02 09:41] bodymovin commented on #71
it's an open source javascript parser called esprima
I'm using it to parse expressions

[2016-03-02 11:32] bodymovin commented on #71
I'm guessing it could be some character breaking the evaluation.
Do you have After Effects or your OS on a language different than english?

[2016-03-04 11:58] wanbinkimoon commented on #17
still open? nobody fixed this?

[2016-03-04 12:20] Klustre commented on #17
@wanbinkimoon Do you mean none of the above options worked for you?

[2016-03-04 12:30] bodymovin commented on #17
@wanbinkimoon it's available on the adobe addons store.
[https://creative.adobe.com/addons/products/12557](https://creative.adobe.com/addons/products/12557)
If that doesn't work for you and need to do it manually I'd suggest using instructions on this video.
[https://creative.adobe.com/addons/products/12557](https://vimeo.com/144533677)
They are in spanish but you can follow them visually.

[2016-03-08 18:15] song0119 commented on #71
I faced the same problem. Changing the OS language to English(US) works for me. Thank you very much.

[2016-03-08 18:31] bodymovin commented on #71
@song0119 good to know. I'll see if I can fix this.
thanks!

[2016-03-11 12:46] #70 closed

[2016-03-11 12:47] #67 closed

[2016-03-14 21:00] shokrizorid opened #72 "Lock position of mask with alpha matte"
Hello :)

I want to use a lock position of mask with alpha matte but when I see my render, I can see the form who I want to mask and the mask without alpha... Have you an idea?

Here is my file :
http://infinit.io/_/k7pe95V

[2016-03-14 21:09] bodymovin commented on #72
hi!
what renderer are you using?

[2016-03-14 21:13] shokrizorid commented on #72
Hum, what is renderer?
I use this on the mask form to mask the ball:
http://infinit.io/_/38vKPvP

[2016-03-14 21:14] bodymovin commented on #72
I mean, is it rendering on svg or canvas on your browser?

[2016-03-14 21:16] shokrizorid commented on #72
Svg

[2016-03-14 21:17] bodymovin commented on #72
hmm ok, I'll take a look

[2016-03-14 21:20] shokrizorid commented on #72
Thank you

[2016-03-15 07:23] bodymovin commented on #72
I see you're using the Stencil Apha mode.
Unfortunately it is not supported yet.

[2016-03-15 08:38] shokrizorid commented on #72
Do you know another solution to do the same animation?

[2016-03-15 09:39] shokrizorid commented on #72
I found a solution :)
I duplicate the floor and I added a simple mask :)

[2016-03-15 14:52] bodymovin commented on #72
nice!

[2016-03-15 14:53] #72 closed

[2016-03-16 03:32] #51 closed

[2016-03-17 19:30] dionysiusmarquis opened #73 "Premultiplied alpha / black halo png"
Hi,

i recently tried to use bodymovin for an animation consisting of multiple images imported via psd. The exported images got all the good old premultiplied alpha issue. I tracked it down to the `saveFrameToPng` function. Same issue: https://forums.adobe.com/thread/1347389?start=0&tstart=0

I don't know if this is fixable.

[2016-03-17 19:50] bodymovin commented on #73
I had read about it but didn't come up with that problem myself.
The issue with importing a render setup is that it is too invasive on the project.
I'll look further into it.
Meanwhile can't you replace the exported images with the layers exported from Photoshop?

[2016-03-22 14:40] dionysiusmarquis commented on #73
Thank you!
Yes, replacing the images would fix this.

[2016-03-22 23:23] ibanezm opened #74 "RequireJS AMD loading breaks requirejs"
UMD wrapper currently seems to break next loaded module by requirejs.

Seems to be solved after removing nested _define_ (nested after built) in js/3rd_party/seedrandom.js

![bodymovin-requirejs-test](https://cloud.githubusercontent.com/assets/5395780/13970866/ed1c3fc6-f08b-11e5-8f27-322999715662.jpg)

In both cases the code is the same, but of asynchronous loading of modules, the next one after l

[2016-03-22 23:46] bodymovin commented on #74
thanks for the heads up.
And for finding the fix. Would have taken me some time.

I've uploaded the fix. Let me know if everything works fine.

thanks!

[2016-03-23 02:50] ibanezm commented on #74
Thanks to you for this awesome plugin!

Current version (v 4.1.6) seems to work like a charm :+1:

thanks!

[2016-03-28 11:38] vk011 opened #75 "Show the whole image straight away, and play once"
Is it possible to show the image straight away? I want to show it straight up and then play it once on hover.

[2016-03-28 12:36] bodymovin commented on #75
@vk011 I'm not sure I understand the question. Do you mean show the first frame paused?

[2016-03-28 13:17] #69 closed

[2016-03-28 13:17] #66 closed

[2016-03-28 13:18] #34 closed

[2016-03-28 13:46] vk011 commented on #75
@bodymovin  Hello and first of all thank you for replying.

Well I guess in my case it would be last frame, basically I want to show the end of the animation straight away, and then replay the animation ONCE on hover.

This is how it's setup:

[code]
I guess I should be using `goToAndStop` for the first issue, but it's not working for me, I tried something like : `anim.anim.goToAndStop(1500, true)

[2016-03-30 01:33] wonnage opened #76 "crash on `this.v.i` is null"
I am getting an "Uncaught TypeError: Cannot read property 'i' of undefined". Looking through the source, i see the offending line is line 468. Looks like you were trying to debug this at one point too:

https://github.com/bodymovin/bodymovin/blob/71cd416fc3f7d74d946d7e079ee58daae61ce3df/player/js/utils/expressions/ExpressionManager.js#L451

[2016-03-30 01:35] bodymovin commented on #76
@wonnage can you share with me the .ae project?
It might be a method in an expression that is not yet supported.

[2016-04-02 03:12] #74 closed

[2016-04-02 03:13] bodymovin commented on #71
@thrillerist @song0119 finally fixed on the latest build.

[2016-04-02 03:13] #71 closed

[2016-04-17 01:17] calvinhui opened #77 "playSegments reverse direction"
Hi, for playSegments, which allow to play from frame 24 to frame 600.
anim.playSegments([24, 600], true);

But it doesn't seem to work if I want to play that segment in reverse direction.
anim.playSegments([600, 24], true);

Is the following the only way to work?
`anim.goToAndStop(600, true);`
`anim.setDirection(-1);`
`anim.play();`
`setTimeout(function(){`
`anim.pause();`
`}, 24000);`

Can you pl

[2016-04-17 02:45] bodymovin commented on #77
@calvinhui yes, to play in reverse you should do that. But there is no need to pause it in the end if loop is set to false.
I didn't set automatically the direction to negative when the first value is larger than the second because I don't think it will work for multiple segments.

[2016-04-17 02:53] calvinhui commented on #77
I need to pause it, because I want it to stop at the frame of 24 or other specific frame.

[2016-04-18 07:10] #77 closed

[2016-04-24 19:30] zp0303 opened #78 "play animation on mouseover event"
Is it possible to start an animation paused, play on hover, then return to paused state after mouse over?

[2016-04-24 20:37] bodymovin commented on #78
you can set autoplay to false and then play the animation instance when hovered.

[2016-04-25 03:15] zp0303 commented on #78
first, thank you for the response.
I've added this to the style div and paused the autoplay, but all I get is a paused animation. What am I doing incorrectly?
#bodymovin:hover{
          animation-play-state: running;
        }

[2016-04-26 15:40] zp0303 commented on #78
var params = {
        container: document.getElementById('bodymovin'),
        renderer: 'svg',
        loop: true,
        autoplay: false,
        animationData: animationData

    };

    var anim;

    anim = bodymovin.loadAnimation(params);

should I add an .eventListener for the mouseover? if so, where?

[2016-04-26 16:22] bodymovin commented on #78
yes, add an eventListener to the mouseover event on the container document.getElementById('bodymovin')
something like:
`document.getElementById('bodymovin').addEventListener('mouseover', function(){
anim.play();
}`

[2016-04-26 19:58] viptv opened #79 "Can i use bodymovin in Google AdSense"
Does anyone know? Can I link bodymovin.js from an external server ?

[2016-04-26 22:48] bodymovin commented on #79
I'm not sure how Google AdSense works.
I can't help you on that, but I'll look into it.

[2016-04-27 14:50] LucianParaian commented on #17
Hello.
I've got a similar problem. It doesn't show in AE. (Window>Extensions)
Extension is installed, shows in extension manager. I retried manually as well following the options suggested here. Still no results. (AE CC 2015.2 - on Win 10)

Thank you.

[2016-04-27 15:39] #78 closed

[2016-05-02 13:20] shokrizorid opened #80 "BodyMovin / call the graphic cards"
Hello,

I would like to know if bodymovin can call the graphic card to animate.
I ask you this, because the perf are so different between Chrome & Firefox.

On Firefox, if we have 3 big animations, the browser is slow.
I already cleaned each illustration to help the processor, but it's slow yet.

Our website will be launch in 2-3 weeks max!
Can't wait to credits your awesome tool :)

[2016-05-02 13:24] bodymovin commented on #80
hi
depending on the type of animation you can use the canvas renderer or the html one that should perform better.
if you want to send me the .ae project I can take a look and see if I can help

[2016-05-02 23:25] toth-robert opened #81 "blend modes"
hello,
firstly, thanks for this great plugin, I really like the fact that I can save svg from AE.
It's very nice plugin, thank you for creating it!
My question is that how can I use blend modes?
I have 3 circles and I need to blend each with multiply blend mode.
can you help me with this?

thanks a lot, and keep up the good work!
Robert

[2016-05-03 00:11] bodymovin commented on #81
hi
unfortunately blendmodes are not easy to replicate from AE to svg.
It's something I've been trying to support but I haven't been succesful yet.

[2016-05-03 11:11] mairod opened #82 "Bridge with C4D ?"
A little thought off topic

Here's my problem, I do both Motion Design and Web design in my work, and I had the occasion to use Bodymovin several times and really enjoy this plug. On the other hand I've looking for a way to **export/import vector animation from After Effect to C4D** with a Spline animation, or a .obj sequence, or something like that.

Here my thought : **Can you think that bodymov

[2016-05-03 21:56] Emasoft commented on #81
What problem do you find? Multiply blend mode is supported in SVG:
http://www.w3.org/TR/compositing-1/#blendingmultiply

[2016-05-03 22:41] bodymovin commented on #82
I really don't know much about C4D, so I'm not sure how much work this would be.
I'm starting to build a three.js player for webGL and I guess they might have common primitives

[2016-05-03 23:07] bodymovin commented on #81
yes, those are the possibilities I'm evaluating, but blendmodes on AE apply between layers and svg filters can't have two source layers AFAIK

[2016-05-04 08:10] jeroentradecast opened #83 "Drop shadow support"
I'd really love to have (basic, even without animation) support for drop shadows.
Although new to AE and Adobe scripting, I'd like to help with building the support for it; I'm currently fiddling around with the extension to check how it's actually working.

About the extension: if drop shadows are a layer style, like strokes, I guess I need to add a type and  function to export all drop shadow pr

[2016-05-04 11:40] bodymovin commented on #83
If you don't need the drop shadow to animate, the fastest way would be to set an id on AE to the layer you want the drop shadow on and use css to style it.
Exporting drop shadow as a layer style makes absolute sense though and I'll consider adding it to the plugin.
The only thing that worries me about it is performance.

[2016-05-04 13:00] jeroentradecast commented on #83
True, but that would require some manual post processing which is something I (in my usecase) don't really want.

How are you currently setting up the stroke effect? I'm having trouble understanding if _StrokeEffectManager.js_is the module for adding it, or if it's interwoven in the rest.

[2016-05-04 13:47] bodymovin commented on #83
I've removed stroke layer style support because it's a performance killer on svg. So don't use it as a reference.
drop shadow should be easier to implement, but will probably reside on the SVG base element.
I have to think about it

[2016-05-05 19:39] kaulandb opened #84 "Unable to execute script at line 224. undefined is not an object"
Hello,

This extension is awesome by the way. Going to save me a lot of time.
When trying to render this current test animation, I am receiving the following error. Any idea what is causing this?

Thanks
![render-error](https://cloud.githubusercontent.com/assets/19212857/15054844/183e8f82-12cf-11e6-8ad0-a784461301b8.png)
![layer-details](https://cloud.githubusercontent.com/assets/19212857/15054845

[2016-05-05 20:00] bodymovin commented on #84
@kaulandb hi
I don't see anything strange there.
could you send me the .ae file so I can take a look?

[2016-05-05 20:09] kaulandb commented on #84
@bodymovin just emailed you the file. Thanks for your help and quick response!

[2016-05-06 15:57] #84 closed

[2016-05-09 05:07] bruroar opened #85 "problems with responsive"
First of all, great plugin. It blew my mind that I could do these animations in SVG.

Second: I'm having some trouble with responsive, and I don't know if the images generated by the plugin are compatible with responsive frameworks at all or I'll need to use media queries.

This is the example I've put together: http://kakumagame.com/test1902/

As you can see, it's adopting a fixed height, while t

[2016-05-09 09:45] bodymovin commented on #85
hi.
Are you using the html renderer instead of the svg one for some reason?
If you try the svg renderer you can play around with the preserveAspectRatio attribute of the svg to make your animation fill the empty space.

[2016-05-09 20:38] juancabrera opened #86 "exporting SVG images"
I'm using it and it works great. Thanks for building this!

Only thing is that the export always export assets to PNG, is there anyway that it export the assets to actual SVG ? all of the assets are vectorial (Illustrator)

[2016-05-09 20:43] bodymovin commented on #86
you should convert your layers of illustrator on .ae to shapes.
right click on them and select: Create shapes from Vector Layer.
there are some issues with merge paths but usually it works fine.

[2016-05-09 20:44] juancabrera commented on #86
That did it!
Thank you so much!

[2016-05-09 20:44] #86 closed

[2016-05-10 14:56] juancabrera opened #87 "playSegment not playing in big animations"
I have two `data.json` for two SVG animations, one is `70kb` and the other one is `121kb` (attached to this issue).

when I do `.playSegments([0, 230], true)` to the small one, works perfect, but is not working with the big one, it might be a bug with bigger animations ?

I have to say, that if it's `autoplay: true` the animation works great. It's just the `playSegments` that isn't working.

[anim

[2016-05-11 01:45] bodymovin commented on #87
Hi!
I've tried the animation and it works fine with playSegments.
Do you have a small code demo I can take a look?

[2016-05-16 19:47] killaboss1234 commented on #85
How do you even export as svg?

[2016-05-16 20:42] killaboss1234 commented on #85
Also the code that this produces is super messy

[2016-05-16 20:48] bodymovin commented on #85
hi!
the extension exports a json file that can be rendered as svg, html or canvas on the browser with the player .js
what part do you say is messy?

[2016-05-16 20:51] killaboss1234 commented on #85
Hey how do I get the player? Whats messy is the .json and data.js files it produces from after effects.

[2016-05-16 21:34] brunolazzaro opened #88 "Memory Leak?"
I've noticed that with some animations there seems to be a memory leak.

In my case I had 5 animations looping and after 7-10 minutes FireFox was using 3.5gb of RAM, Chrome 1.5gb but the animations were really choppy (like 5fps). This was tested using *only* bodymovin.js and the animation data on a blank page (no other frameworks or JS involved). Changing renderers didn't help much.

Is there some

[2016-05-16 21:50] brunolazzaro commented on #88
I did try other renderers, with similar results (if not worse than the SVG renderer).

[2016-05-17 00:01] bodymovin commented on #88
Have you tried calling the garbage collector manually and profile memory?
I've been reported this some other times but there was no leak in those cases.
Can you think of any special feature you're using on those cases?

[2016-05-17 00:55] bodymovin commented on #85
it's minified
and the json is reduced as much as possible because of filesize
you can get the player on the AE extension where it says "Get Player"

[2016-05-17 01:12] Emasoft commented on #85
@bruroar border-image CAN be applied to SVG. If you need an example, here is a codepen of mine with a Responsive SVG 9-slice border:
http://codepen.io/Emasoft/pen/PNvbpa

[2016-05-17 02:24] bruroar commented on #85
Hi @Emasoft, @bodymovin.

First of all, thanks for your responses. Second, they don't quite make sense to me at the moment as I have a very limited knowledge of HTML and CSS, so that's completely my fault.

I did some changes to the example and now it's not being displayed properly, but I was wondering: any of you would be interested in helping me go through the issue? I'd pay your hourly rate, an

[2016-05-17 02:30] bodymovin commented on #85
@bruroar Hi!
Depending on the animation, it might be pretty easy to solve.
If you want, send me the .ae project and let me know how you would like it to display on different sizes.
Don't worry about paying, I'll take a look and help you out.

[2016-05-17 04:04] bruroar commented on #85
Thanks Hernan!

I'm at the library right now but I'll send you an email with the brief asap.
And seriously, thanks a lot, I really appreciate your help :)
Thanks!

[2016-05-17 16:31] brunolazzaro commented on #88
I profiled memory and overall animations frames are slow with these animations (15 to 20fps). What special features would you consider to be heavy to animate and could be causing the issue?

[2016-05-17 16:35] bodymovin commented on #88
are they slow from the first time they run or after several times they've played on the browser?
If they run slow from the start, the animation might be too heavy.
some features that are usually a performance problem are:
- very large solids
- multiple track mattes
- lots of specific masks
- using pngs instead of shapes

but it really depends on how the animation is done. Can you describe or share

[2016-05-17 17:05] brunolazzaro commented on #88
Thanks for the info, will talk with the design team and see if they are doing any of those. If I find any more info that I can share I'll keep you posted.

[2016-05-17 19:05] brunolazzaro commented on #88
I have a heap snapshot that is 1GB. The most items under retained size seem to belong to an array called segments.

<img width="1296" alt="screen shot 2016-05-17 at 2 04 58 pm" src="https://cloud.githubusercontent.com/assets/689386/15335547/6fa0b490-1c38-11e6-85e3-d60e17c241d8.png">
<img width="1299" alt="screen shot 2016-05-17 at 2 05 09 pm" src="https://cloud.githubusercontent.com/assets/689386/

[2016-05-17 19:08] bodymovin commented on #88
Are you using trim paths on your animations?

[2016-05-17 19:25] brunolazzaro commented on #88
Yes. I asked the team to remove anything related to that (they told me they were using starshapes and those used lots of trim paths animations) and now I'm not seeing any memory escalation issues.

[2016-05-17 19:27] bodymovin commented on #88
hm ok, I'll look into it. Thanks for all the research!

[2016-05-17 20:17] bodymovin commented on #88
@brunolazzaro here is a demo with 35 stars all with trim paths applied
http://lab.nearpod.com/bodymovin/demo/star_shapes/
even after sevaral minutes animating, there is no leak.
Can you think of something different on your animation compared to this one?

[2016-05-17 20:23] brunolazzaro commented on #88
They are using this: http://www.battleaxe.co/rubberhose/

"So what it does, it creates a starshape and trims a segment of it, and then uses some math to make it work like limbs. But it is a lot of math involved, so I bake everything, erase the trash, and I end up with like 4 or 5 channels of animation keyframes per starshape".

Hope this helps! For now I told them to avoid using RubberHorse to avo

[2016-05-18 16:15] nbashiri95 opened #89 "add click listener to animation inside a canvas"
hi,
how can I add onclick listener to animations that I've loaded inside a canvas?
by the way impressive plugin!

[2016-05-18 16:38] bodymovin commented on #89
do you want the whole canvas to be clickable, or elements on the canvas?
if it's the second, unfortunately in general, it's not possible.
You should use the svg renderer for that.

[2016-05-19 17:55] killaboss1234 commented on #85
how do I download this https://github.com/bodymovin/bodymovin/tree/master/player

[2016-05-19 17:56] killaboss1234 commented on #85
and will it help me get rid of all the lines of code and make it look like your example on the website?

[2016-05-19 18:34] bodymovin commented on #85
@killaboss1234 you can download the whole project as a zip file from github with the download button on the right.
or you can get the player on the extension in AE itself.
regarding the lines of code, I'm not sure what you mean.
The player is minified and you can load it externally.
The instance of the animation can be created with those simple lines of code.

[2016-05-20 06:36] nbashiri95 commented on #89
thanks
so I guess I have to stick to this [https://github.com/bodymovin/bodymovin/issues/32](url)

[2016-05-20 15:16] bruroar commented on #85
Hi Hernan, sorry, a change in the CSS had broken the page and I was trying to fix it so you could see the result before sending you an email.

I just sent you an email, I hope it's something easy to fix and you could help me.

Again, thanks a lot for your help, I really appreciate it :+1:

[2016-05-20 16:28] killaboss1234 commented on #85
can you email me a video or link on how to download and access the player?

I'm trying to get the smallest file size possible. I made a simple animation with a rotating image and the file is massive.
![screen shot 2016-05-20 at 12 26 41 pm](https://cloud.githubusercontent.com/assets/19395548/15434708/46cf11ec-1e86-11e6-808a-25703ddf1668.png)

 My goal is to get this down to 30KB file.

[2016-05-20 16:28] killaboss1234 commented on #85
thanks again for your help

[2016-05-23 16:40] juancabrera commented on #87
@bodymovin yes, still can not get it working.

take a look to the attached file.

[bm-animation.zip](https://github.com/bodymovin/bodymovin/files/277850/bm-animation.zip)

[2016-05-23 16:43] juancabrera commented on #87
actually I don't think isn't working because is a "big" animation, I have one bigger animation that is working fine.

[2016-05-24 02:02] bodymovin commented on #87
Hi, I found out what is going on.
Your animation starts at frame 840 and ends at frame 1261
if you want to play your first 120 frames form that segment, you should do:
.playSegments([840, 960], true)

[2016-05-24 05:57] bodymovin commented on #85
@killaboss1234 The file is large because it includes the player. For doing only a rotation, it doesn't make sense to use the plugin because there is a lot of overhead for the player itself.
If you need it reduced under 30kb I could make a version of it with only the svg renderer and no expression support.
Nevertheless, you should gzip your files when uploading it to your server, it will reduce fil

[2016-05-24 14:27] juancabrera commented on #87
Ohhh, I see.

How could you know the exact frames of the application ?

Thank you so much!

[2016-05-24 14:46] bodymovin commented on #87
if you check the exported data.json, there are 2 params "ip" and "op" that indicate the start and end of the segment of the composition that is being rendered.

[2016-05-24 15:48] #87 closed

[2016-05-27 19:06] watziznehm opened #90 "Play on hover"
Hi!
Is it possible to play an animation on hover?

Seriously love this plug in!

[2016-05-28 01:05] bodymovin commented on #90
hi!
you can set the autoplay to false.
Then add an event listener to the mouseover and call anim.play()

[2016-06-03 16:20] nickion opened #91 "Feature request: Output JSON with dynamic ID definitions"
First, great job with this. It's very exciting. I can see that the layer name can be used to produce an ID on a comp, but as ID's should be unique, if an element with the same definition is used in more than one place on a page and there is the need to reference them by ID, there is a problem.

Could you consider a syntax where the json can also be produced with names that refer to an expression?

[2016-06-03 18:22] hardy613 opened #92 "Button states with one animation file"
I have one animation data.json file that has 5 animation states:

- animate in
- hover
- blur
- click
- animate out

I load the file data file

[code]
then I am setting the segments
[code]

then on a hover event I am trying to only play the hover segment animation:

[code]

I am stuck on how to effectively handle button states without loading multiple separate animations.

[2016-06-03 18:24] bodymovin commented on #92
hi!
You should play the segment directly on the mousenter event:
$(btnAccept).mouseenter(function () {
anim.playSegments([25,38],true);
});

[2016-06-03 19:14] hardy613 commented on #92
Thanks for the quick response!

[code]
is how i gather I should lay out the button state. Should I export the animation from AE as segments for this? Sorry to bother I am still learning this wicked plugin.

Thanks for your time!

[2016-06-03 19:17] bodymovin commented on #92
No you don't need to export as segment,  everything should work fine with a single exported composition.
Let me know how it goes.

[2016-06-03 19:21] bodymovin commented on #91
I need to read it again to make sure I understand what you're suggesting :)
But on the next release, you'll be able to use classes as well as ids to name your layers.
Could that solve some multiple elements using a unique selector?

[2016-06-04 15:10] sajid213 opened #93 "fill whole page"
Hi,

First of all, thanks a lot for this plugin and great job. But I have been running into a lot of difficulties due to the lack of documentation, which is understandable. I have been able to solve most of the problems.

I have been trying to fill the whole page with a  1920x1080 svg on top of everything else. My css code is something like

#container{
width:100%;
height:100%;
position:fixed;
top

[2016-06-04 15:48] bodymovin commented on #93
Hi!
Have you tried changing the svg attribute preserveAspectRatio from meet to slice?
Would that work for your case?

[2016-06-04 16:52] sajid213 commented on #93
Thanks for the reply. Yes I have tried doing that. Just changing the perserveAspectRatio didn't work. However, I have found that changing the viewBox to '0 0 windowwidth windowheight' worked. But this caused the viewBox to stay in the same ratio even when the window is resized. So, I guess I'll have to dynamically change the viewBox everytime the window is resized.

Do you know any other way to do

[2016-06-04 17:16] bodymovin commented on #93
can you post an example of what you're looking for?
The viewbox and the width and height attributes usually should be the real size of the AE composition.
The preserveAspectRatio should take care of filling the ratio difference between the container and the original ratio.
If you set it to "slice xMidYMid" it will fill the remaining space and the exceeding part of the animation will disappear.
If

[2016-06-05 10:37] nickion commented on #91
Naming classes would be good. What I'm thinking though is the case where the same generated json is going to be instantiated multiple times on a page as separate SVG's, and where mouse detection is required on part of each instance (rather than the SVG element itself). If the ID of the relevant part of the SVG can be specified at the time of instantiation, e.g. with a placeholder substituted with

[2016-06-06 21:53] ZachSaucier commented on #17
It lets me add bodymovin through the addons store but doesn't seem to be syncing with AE.

When I try install it manually, it gives me this error when I try to open the .zxp file:

<img src="http://i.imgur.com/Qm5pWQK.png"/>

[2016-06-07 18:07] ZachSaucier opened #94 "Combine JSON exports into one data object"
In cases [like this example](http://codepen.io/airnan/pen/RazwzX), multiple animations are used and it's easiest to combine them into one dataset like the array that you put them into.

Is there a way to generate output from multiple comps in one specified (or set) dataset? Manually going through each generated JSON file is more work than I'd prefer.

[2016-06-07 18:12] ZachSaucier opened #95 "Set destination folder and filenames for multiple exports at once"
When exporting multiple animations from the same AE file, it's inconvenient to manually click on each's destination folder, find the directory to save it to, change the name, and save it.

It would be great to have an ability to set the destination folder for all (or several selected) the same and base the exported file name on the comp name.

[2016-06-07 20:39] pyfave opened #96 "where can i find information on adding interactivity in the animation?"
my css is rusty..
any hint welcome on how we can add hovering , some reactivity ,

something easy to begin :-) ..

but i first wanted to say thanks.
it's beautiful work.

[2016-06-07 23:54] bodymovin commented on #94
Hi, not really.
But a simple console command to bundle all json files into a single javascript object shouldn't be too hard to do.

[2016-06-07 23:55] bodymovin commented on #95
Yes, absolutely, this is something I need to work on and see how to solve.
Thanks for the suggestion.

[2016-06-07 23:56] bodymovin commented on #96
if you want to add a hover to the whole svg, you should treat it as any other svg file or DOM element.
what kind of effect are you looking for?

[2016-06-08 07:36] jorisvanr opened #97 "Error on startup of AE"
When I reopen my AE after a reboot I get the following error: "Unable to execute script at line 1. bm_compsManager is undefined.

I reinstalled the plugin and it worked for a while, until I restarted after effects again. It seems to have started with installing this thing: https://www.npmjs.com/package/ae-to-json. I uninstalled everything that has to do with it but it still errors.

The problem is

[2016-06-08 10:19] pyfave commented on #96
i have no clear objective, but let's say i want one (moving )layer to be a
hyperlink, a call to some javascript.
is it possible?
ideally in a way that would permit me to modify the design, re render ,
and keep these links active while iterating .
i iterate a lot... :-)

perhaps with a hidden text layer , just on top of a precomp with some
[LINK] in it's name.

a kind of what flash does with symbol

[2016-06-08 16:35] ZachSaucier commented on #96
There are tons of possibilities. If you're looking to get help with implementation, you should have a clear idea of what you're trying to accomplish, an attempt at it, and post on a site like StackOverflow, not on Github

[2016-06-08 16:57] bodymovin commented on #96
If you name the layer in AE beginning with a "#", it will add an id to that layer so you can reference it with css of query it via javascript.
That might be a good start for what you're looking for.

[2016-06-08 18:51] hardy613 commented on #92
Hey

I got everything going fine with the animations, but it seems adding URL parameters mess with the animation layers; but without parameters it works fine.

[2016-06-09 01:54] bodymovin commented on #92
what do you mean by url parameters?
can you post an example?

[2016-06-09 01:57] bodymovin commented on #97
That's strange.
I'll try to install that npm package and see if I can reproduce the error.

[2016-06-09 03:13] hardy613 commented on #92
Hey,

Thanks for responding

If you visit http://staging.bsl.com/bodymovinTest/ and hover the button, then visit http://staging.bsl.com/bodymovinTest/? and hover you should notice what I mean.

Thanks again for your help.

Cheers.

[2016-06-09 03:21] bodymovin commented on #92
I think it's related to the tag base you're setting on the head.
Since svgs use relative urls for masks, it might be breaking when it doesn't match.
Can you try removing that tag and see if it works?
I need to find a solution for this on my side.

[2016-06-09 03:38] hardy613 commented on #92
Good news, you're correct.

Looks like I'll have to .... drop the base (had too).

Thanks again for your time.

[2016-06-09 07:06] pyfave commented on #96
ok thanks a lot .
i tried to find this info in some doc but couldn't.
have a nice day !

problem solved for now .

2016-06-08 18:57 GMT+02:00 hernan <notifications@github.com>:

[2016-06-09 17:26] ZachSaucier commented on #95
In terms of how users should select whether or not they want this to happen, I would think after they save using the destination dialog asking, "Would you like all comps to use this same destination folder? <sub>Don't ask me again <input type='checkbox'/></sub>" would be best.

In terms of actually setting the other's, from what I understand viewing [how you set the destination](https://github.com

[2016-06-09 23:55] bodymovin commented on #92
lol
glad it worked

[2016-06-10 10:07] JackMoGraphics opened #98 "Gradient stroke fill"
Hello!

I have a comp composed of 36 shape layers that animate in using trim paths. Export directly from this comp works perfectly as SVG with bodymovin.

However, i have this pre-comped with a alpha track matte image of a gradient. Couldn't get pre-comped gradients to work.

So i tried combining all the shape lines into one using Explode shape layers plugin.

Applying a gradient stroke fill and t

[2016-06-10 10:09] JackPollitt commented on #98
[Helical_SVG.zip](https://github.com/bodymovin/bodymovin/files/308795/Helical_SVG.zip)

Here is an example.

[2016-06-10 10:11] JackPollitt commented on #98
[Logo_SVG.zip](https://github.com/bodymovin/bodymovin/files/308797/Logo_SVG.zip)
Here is my logo i am trying to gradient.

[2016-06-10 10:27] JackPollitt commented on #98
[Logo2_SVG.zip](https://github.com/bodymovin/bodymovin/files/308820/Logo2_SVG.zip)

[2016-06-10 13:18] hardy613 commented on #92
Hey,

Thanks!

I also tested changing the target and none worked as expected, but I couldn't say for sure without testing.

I'll close this issue and create a new issue for the <base /> tag with proper title, and description so it's easy to find if users search.

Thanks again.

[2016-06-10 13:18] #92 closed

[2016-06-10 13:24] hardy613 opened #99 "Animation Masks not clipping"
I have a button that uses an animation mask on http://example.com, and everything works fine; however, when I go to http://example.com/?foo=bar the animation mask does not mask clip.

After discussing with @bodymovin the combination the < base /> tag and URL parameters (?foo=bar for example) causes an issue with the relative URL's used by the SVG clip mask. The quickest solution is to remove the <

[2016-06-14 07:14] jorisvanr commented on #97
Have you been able to reproduce the error? It also has the following error (on startup):

Unable to execute script at line 0. After Effects error: Can not run a script while a modal dialog is waiting for response.

![screen shot 2016-06-14 at 09 12 02](https://cloud.githubusercontent.com/assets/16778969/16034116/2e4d4506-3210-11e6-98ad-9c2462ffe103.png)

[2016-06-15 17:22] gmjoseph opened #100 "Windows 8.1 IE 11 Off By One Issue Causing Animation Errors"
In the function getDistancePerc(perc,bezierData), (line 148 player/js/utils/bez.js) there is an attempt to access an object in an array of segments that returns an undefined object. Accessing the object causes no problems. However there is then an attempt to read a property off of the undefined object in two instances: segments[initPos+1].l on line 160, and segments[initPos+1].p on 170. This seems

[2016-06-15 17:33] bodymovin commented on #100
Hi, I'll check it out.
Do you have an exported json where this is happening?

[2016-06-15 21:39] ZachSaucier commented on #75
If I understand you correctly, you could do `.goToAndStop()` for 1) and `.play()` for 2

[2016-06-15 22:21] ZachSaucier commented on #58
+1 on this request. `DOMLoaded` seems to have been removed...?

Instead, I do this right before calling `anim.play()`

[2016-06-15 23:14] bodymovin commented on #58
DOMLoaded was not removed. Is it not firing?

[2016-06-16 23:45] ZachSaucier commented on #87
@bodymovin A list explaining what each value in the JSON file would be useful. I know you've mentioned it before. Is there an issue for that already?

[2016-06-16 23:56] ZachSaucier opened #101 "Forcing `true` on `.playSegments` restricts future playing"
If we do something like `anim.playSegments([0, 10], true);` and then later, after it finishes, try to do something like `anim.play()` to finish the animation, it does not play.

If we do `anim.playSegments([0, 10], true);` then later, after it finished, do `anim.goToAndStop(0, true);` then `anim.play()`, it only plays until the 10th frame, set by the `.playSegments`.

The only way to play the rest

[2016-06-16 23:59] ZachSaucier opened #102 "Create an `end` keyword for `.playSegments`"
It would be nice to be able to do something like `.playSegments([10, anim.end], true)` where `end` is set by bodymovin.

From an implementation standpoint it'd be pretty straightforward, looking for the highest `op` value in the corresponding animation JSON data and setting that to the animation's properties.

[2016-06-17 00:01] ZachSaucier opened #103 "Implement a `.playFrom(num)` method"
I'd like to have a `.playFrom` or `.goToAndPlay` method for bodymovin.

Right now this can be done using  `.goToAndStop(num, true)` and `.play()`, but it'd be handy to have it in one method, even if it's just a shortcut telling bodymovin to do just what it does now.

[2016-06-17 00:10] ZachSaucier opened #104 "Create an event to fire when a certain frame has been reached"
Right now the only ways to detect when a certain frame has been played is by using either

1) The `enterFrame` event paired with a check of `e.currentTime > frameNum`
2) Using `anim.playSegments([startFrameNum, frameNum], true)` and the `complete` event followed by optionally playing the next segment in the animation.

It would be very handy to have a `anim.addEventListener("frameReached", frameNu

[2016-06-17 00:53] ZachSaucier opened #105 "Canvas renderer not running"
It seems that the Canvas renderer is not working for some animations I'm trying that work when rendered with SVG. I've attached the data from one as a txt file because GH doesn't allow JSON files.

[data.txt](https://github.com/bodymovin/bodymovin/files/319593/data.txt)

I noticed that [this example](http://codepen.io/airnan/pen/PqjwYM?editors=0010) has two formats of data - one for SVG and anothe

[2016-06-17 15:28] bodymovin commented on #105
Some types of masks are not supported on canvas. Can you share the .ae so I can confirm?

[2016-06-17 15:36] ZachSaucier commented on #105
I emailed you the file.

Is there a more full list of the features that don't work with canvas?

[2016-06-17 20:21] bodymovin commented on #105
Subtract masks don't work on the canvas renderer yet.
Only svg for now.

[2016-06-17 21:05] bodymovin commented on #101
playSegments works as if you were changing the "Work Area" in your composition in AE. So if you're looping or changing the speed / direction or controlling playback it will set the limits.
If you need to reset the segment to the original value, you should use resetSegments or as you suggest, set a new segment to play.

[2016-06-17 21:06] ZachSaucier commented on #101
I wasn't aware `resetSegments` existed! Haha. Maybe that should be in the "Usage" section

[2016-06-17 21:08] ZachSaucier commented on #101
But in any case, from a JS animation perspective I expect it to work as I commented above. Maybe both functionalities could be had, changing the name of one?

[2016-06-17 21:12] bodymovin commented on #101
I think this should be handled with events and play - pause actions, otherwise it might get confusing having two similar behaviors that don't work well together.
I'll have a look into it.

[2016-06-17 21:13] bodymovin commented on #103
Sure, goToAndPlay will be available on the next release

[2016-06-17 21:14] #103 closed

[2016-06-17 21:17] bodymovin commented on #104
This could be built on top of the enterFrame event.
I'd rather not add another event check on every frame if it can be calculated from an existing one.

[2016-06-17 21:21] ZachSaucier commented on #101
To be more clear, my idea is to have:

- A `playSegments([start, end], true)` which jumps to the starting frame, plays until the end and allows more playing to occur afterwards if later commanded (without resetting)
- A `setAnimationArea([start, end], true)` (or something named similarly) which restricts the play to those frames (likely changing the current play time to the beginning of that secti

[2016-06-17 23:54] ZachSaucier commented on #102
After looking through the code, I found that `anim.animationData.tf` can be used as this value, so a keyword for it wouldn't help much. It might be good to include in a write up somewhere though.

If you're looking for the last frame of the current segment, `anim.totalFrames` can get you that value.

[2016-06-17 23:54] #102 closed

[2016-06-21 12:29] bruroar opened #106 "Several animations in one page?"
Hi Hernan!

I'm [finishing my site](http://kakumagame.com/test26/), and I'm trying to use one animation in each of the images of the site.

Nevertheless, when I add the second one at the bottom of the page, it appears just after the initial one, no matter where on the page I add the code.

Is this something bodymovin allows doing, and if so, is there a quick fix or something I´m not seeing?

Thank

[2016-06-21 13:16] bodymovin commented on #106
Hi, several animations in a page is possible
it seems you're targetting always the same DOM element.
document.getElementById('bodymovin')
you should give a unique id to each to make it work

[2016-06-21 13:47] bruroar commented on #106
Thanks Hernan, I've changed the second code for this:

[code]

With that it should be working, right?

It is not, but at least if that code is alright I know is because of the CSS.

As always, thanks!

[2016-06-21 13:55] bodymovin commented on #106
yes, but if you name the animation instance "anim" on both cases, one will override the other one.
Same will happen with window.onresize function.

[2016-06-23 00:17] tremby opened #107 "Document the 'loaded' event"
It took me a while of reading the source to find how to detect when the animation is loaded and ready. I found that I can listen for the `DOMLoaded` event on the player object. It would be good if this were documented.

[2016-06-24 00:35] tremby opened #108 "Animations not playing since 4.2.0"
The data files I had which worked with version 4.1.8 do not play with 4.2.0 or 4.2.1.

Perhaps backwards-compatibility was not expected, but it would be nice if breaking changes had a major version number switch with them -- otherwise builds can break unexpectedly when we think all we're doing is updating for new bug fixes and performance improvements.

More specifically, the animations do play, b

[2016-06-24 01:49] bodymovin commented on #108
I thought I had taken care of backwards compatibility.
Colors were just what needed to update.
I'll check the file and upload a fix.
my bad.

[2016-06-24 01:52] bodymovin commented on #108
Can you share the .ae file so I can check the difference? I think see the animation fine on my side.

[2016-06-24 02:19] bodymovin commented on #108
ok found the issue.
Fixed and uploaded.
Thanks for the heads up!

[2016-06-24 02:22] tremby commented on #108
I don't have it; only the json file. In case it wasn't clear, I see the
issue in the browser via the JavaScript player. I have the rendering mode
set to SVG and am loading the json file via the "path" option.

I can try to get you an ae file if it would be helpful.

[2016-06-24 02:23] tremby commented on #108
Oh -- great! I'll check it out when I get home. Thanks.

[2016-06-24 07:55] tremby commented on #108
This did the trick. Thanks.

[2016-06-24 07:55] #108 closed

[2016-06-24 07:56] tremby commented on #108
Looks like github is missing a tag for this, though I do note that the tag exists in NPM.

[2016-07-04 10:41] heavybeard opened #109 "Add the player bodymovin.js on a CDN"
Maybe is useful for all, add the [main script](https://github.com/bodymovin/bodymovin/blob/master/build/player/bodymovin.js) on a CDN.

[2016-07-06 23:02] bodymovin commented on #109
yes, it's on my todo list check how to do it on cloudfront and prices :)

[2016-07-06 23:03] bodymovin commented on #107
yes, I will update the wiki pages with a page about events.

[2016-07-07 10:58] heavybeard commented on #109
Hi @bodymovin. Ok thanks, perfect!!

[2016-07-07 10:58] #109 closed

[2016-07-07 14:24] JackPollitt opened #110 "Stroke Animation Issues"
I recently updated bodymovin to the latest version and since then i have been unable to render my animated logo that worked perfectly before.

The animation is made up from layers from illustrator, converted to shape layers and then trim paths to animate in the stroke. Worked fine before but parts of my animation isn't loading. Rest is working fine. Only 2 out of the 7 letters don't work. one part

[2016-07-07 14:29] bodymovin commented on #110
could you send me the json and ae file so I can check it?

[2016-07-07 14:36] JackPollitt commented on #110
One moment, let me check if i can send the file over or not as it’s for a client.

Thanks

Jack Rogers
Motion Designer

Pollitt & Partners
9–10 Floral Street
London WC2E 9HW  <http://maps.google.co.uk/maps/place?hl=en&georestrict=input_srcid%3A9be3085c7a6e454f>
T +44 (0)20 7379 6709 <tel:+442073796709>
pollittandpartners.com <http://www.pollittandpartners.com/?utm_source=email-sig-logo&utm_medium=

[2016-07-07 14:38] bodymovin commented on #110
ok, meanwhile, are you using the canvas or svg renderer?

[2016-07-07 14:41] JackPollitt commented on #110
To be honest i’m not sure. I am opening bodymovin using window, extensions.

Clicking the cog, selecting all ( just because that seems to work ) then hitting render.. that always worked for me before.. am i missing a step or is this ok?

[2016-07-07 16:35] marcobyburo commented on #104
Hi, can you give an example how to do this with "enterFrame" event?
I have the same question as ZachSaucier.
Thanks.

[2016-07-07 16:40] ZachSaucier commented on #104
Hey @marcobyburo. You can use `anim.addEventListener('enterFrame', changePage);` where `changePage` is a function like so:

[code]

[2016-07-07 16:58] marcobyburo commented on #104
Yes, that's it! :D
Thank you so much @ZachSaucier. I really appreciate that.
Cheers.

[2016-07-10 15:57] CNek opened #111 "Rendering stuck on 3D layers"
Using AE CC 2015.x with OS X 10.10.5

• Create blank project
• Add random shape layer
• Make it 3D
• Export with bodymovin (any options)

Rendering hangs...
When canceling the render, got an alert : "cannot execute script at line 92, undefined is not an object" (translated from french)

Am I missing something ?

Great great plugin BTW 👍

[2016-07-10 20:48] bodymovin commented on #111
hi.
can you share the .ae project so I can check it?
I can't seem to reproduce the issue.

[2016-07-10 21:25] joeshock commented on #99
I've got this same issue.e I've tried removing the base tag for our application but it breaks too many things for it to be worth it. I've tried installing the angular-svg-base module but can't seem to get it working with that. I think it's the right thing to do though by installing his plugin to assist.

https://github.com/jeffbcross/angular-svg-base

Thoughts?

[2016-07-11 13:42] esbowman opened #112 "How to use the JSON file instead of the inline demo method."
I'm admittedly not experienced with code. I know HTML and CSS enough to do simple things, but not much else.

I've had great success thus far using the "demo" option in the Bodymovin' extension window (the version that exports it into one HTML file), but when I try to export a JSON file and include it in an HTML page I'm lost.

I read through the documentation on the Github page but I have to be m

[2016-07-11 16:51] jamblo commented on #93
Hi there

Trying to follow this thread and setup my animation to "cover" the whole page.

`    	var animation = {

    	    wrapper: document.getElementById('anim_container'),
    	    animType: 'svg',
    	    loop: true,
    	    prerender: true,
    	    autoplay: false,
    	    animationData: circles

		};`

How do I do this? Where do I set **preserveAspectRatio**?

Thanks in advance!

[2016-07-11 18:26] joeshock commented on #112
Don't embed the .json file in your page with <script> tags. Just put it here:

animationData: JSON.parse(demo.son)

and you should be good!

[2016-07-11 19:10] esbowman commented on #112
I appreciate the reply and have changed my crappy code. :)

However, I'm still stuck. I moved all of the js stuff into the index.js file. I have the bodymovin.js file in the folder as well as the data.json file. I feel as though the files and links are in the correct places, but obviously I've done something wrong.

If someone would be so kind as to take a peek at this test page I'd appreciate it.

[2016-07-11 19:20] bodymovin commented on #112
if you are loading the data from the external json, don't use the "animationData" param, use the "path" param and pass it the relative path of your json file. In this case I guess it's "data.json"

`var svgContainer = document.getElementById('svgContainer');
var animItem = bodymovin.loadAnimation({
  wrapper: svgContainer,
  animType: 'svg',
  loop: false,
  path: 'data.json'
});`

[2016-07-11 19:57] bodymovin commented on #93
Hi, there is not really an API to set this yet.
I'd suggest that you attach to the DOMLoaded event, and after it fires, set the preserveAspectRatio on the created svg element yourself.
If you use jquery, something like:
`$('#anim_container svg').attr('preserveAspectRatio',value);`

[2016-07-11 21:20] hardy613 opened #113 "I updated version to 4.3.1 and I am now getting JS errors"
Uncaught TypeError: Cannot read property 'roundness' of undefined

Uncaught TypeError: Cannot read property 'size' of undefined

We removed the JS in AE

[2016-07-11 21:54] hardy613 commented on #113
also the link on the readme

https://creative.adobe.com/addons/products/12557

the AF version says 4.2.0, is that correct? Should it be 4.3.1?

Cheers, and thanks for your time

[2016-07-11 22:04] jamblo commented on #93
Thanks, that worked... well, apart from DOMLoaded, which I couldn't get to fire at all.

I ended doing this as using attr was adding it all in lowercase, which meant the settings didn't apply:

`   	    $('#anim_container svg')[0].removeAttribute("preserveAspectRatio");

   		setTimeout(function(){

			$('#anim_container svg')[0].setAttribute("preserveAspectRatio","xMaxYMax slice");

		},50);
`

[2016-07-11 22:57] bodymovin commented on #113
The version on the addons store is usually outdated because it needs to go through the approval process.
Are you having trouble with an older animation or a new one?
Can you share the json and player with me?

[2016-07-12 13:59] hardy613 commented on #113
This would be a new animation, basically the color is not rendering out properly

I could ask if our video team can attach the file and if you would like I can pass it to you to try an export.

As it stands now, we are running player4.3.0 and are not creating assets or modifying assets until the proper updates are out for After Effects.

Cheers.

PS: whats the difference of bodyMovin.js and bodyMo

[2016-07-13 01:02] bodymovin commented on #113
The bodymovin light version has only the svg renderer and expressions are not supported.
playSegments and events work fine on it.
Are you having issues with it?

[2016-07-13 01:03] bodymovin commented on #93
Glad it worked.
How are you attaching to the DOMLoaded event?

[2016-07-13 01:11] hardy613 commented on #113
I tried it out while trying to debug the version miss-match and it couldn't render past the first few frames.

Adobe updates are killer.. I have player 4.3.0 and we had the 4.3.0 extension installed and something changed on Adobes end "updating" our extension to 4.2.0 (the one in the store) and we are trying to revert the extension to 4.3.0 again.

[2016-07-13 01:15] hardy613 commented on #113
Details attached above

[2016-07-13 01:34] bodymovin commented on #113
I see the animation json is version 4.2.0 and the player version is 4.1.8, if you update the player to an older version than the animation it should work fine.
You can use the version from github or the one from the latest extension.

[2016-07-13 11:55] jamblo commented on #93
I'm not – DOMLoaded never worked for me.

I simply have it all in a window.load and the above function to fire before anim.play(); runs a second later (wrapped in a setTimout()).

[2016-07-13 13:02] Sandstedt commented on #58
I would also like a setting to change from `"preserveAspectRatio","xMidYMid meet"` to `"preserveAspectRatio","none"` instead of a event lissener. For now I used changed the source code in the player. Example: http://codepen.io/sandstedt/pen/vKWzWE and player: http://codepen.io/sandstedt/pen/ZOarxj

[2016-07-13 13:05] bodymovin commented on #58
I will add the possibility to override the default value later today.

[2016-07-13 13:56] Sandstedt commented on #58
Amazing! Please tell me if you want some help with testing, documenting or anything else.

[2016-07-13 17:57] hardy613 commented on #113
How can we tell what version our animations our exported as, or what version the player is?

returning null Rectangle Path 1
VM26512:2 Uncaught TypeError: Cannot read property 'size' of undefinedfn @ VM26512:2execute @ bodyMovin.ver2.js:9t @ bodyMovin.ver2.js:2BaseElement.prepareFrame @ bodyMovin.ver2.js:4ICompElement.prepareFrame @ bodyMovin.ver2.js:5SVGRenderer.renderFrame @ bodyMovin.ver2.js:4A

[2016-07-13 17:59] bodymovin commented on #113
for the player, check bodymovin.version.
for the animation, you can check of the json request. It's a "v" attribute in the root of the json.

[2016-07-13 19:43] hardy613 commented on #113
Issues resolved,

Miss matching versions, we couldn't of figured this out without your added efforts.

Please share a donate link (paypal?)

[2016-07-13 21:49] Sandstedt commented on #79
I think you can only use the ad distributors own CDN to be able to not count for the extra weight of external libraries. And non of the largest ad distributors have bodymovin on their CDN as far as I know. [See similar question about Greensock on Adform](http://creative.adform.com/support/adquestions/html5-banners/greensock-animation-library/)

But my experience with Google Adform at least, is tha

[2016-07-14 10:56] fabiteby opened #114 "Compatibility Duik / Bodymovin ?"
Bodymovin is really an awesome tool !
I made some tests with the great Duik, but unfortunately, the scripts generated by Duik are not correctly interpreted by bodymovin.
Is there any chance that they would be in the futur ?

[2016-07-14 11:02] bodymovin commented on #114
hi!
can you send me the .ae file or the exported .json so I can take a look?

[2016-07-14 11:13] fabiteby commented on #114
Hi! :)
Here's the html file of a very simple exemple
[demo.txt](https://github.com/bodymovin/bodymovin/files/363536/demo.txt)

[2016-07-14 11:16] fabiteby commented on #114
here's the .aep file (i can't send the zipped file... don't know why)
[duik.txt](https://github.com/bodymovin/bodymovin/files/363541/duik.txt)

[2016-07-14 13:47] hardy613 opened #115 "How do I donate to the project?"
I would like to support the project and/or the author and contributors.

Is there a donation location?

[2016-07-14 13:54] rgrevatt commented on #115
yes I'd do the same - really appreciate how responsive you've been!

[2016-07-14 14:17] bodymovin commented on #114
There's a velocity property that is not supported yet, but I'll work on it these days and let you know

[2016-07-14 14:47] fabiteby commented on #114
thanks a lot for this return !
this would be really great :)

[2016-07-14 15:35] #113 closed

[2016-07-14 17:19] shaneparsons commented on #17
This link was working recently, now i'm getting an error message, and am unable to find bodymovin anywhere.

[2016-07-14 17:51] bodymovin commented on #17
Yes, no idea what happened, it disappeared completely from the addons store.
I'm trying to find out what is going on.

[2016-07-14 19:25] shaneparsons commented on #17
I don't know if it helps, but I'm able to find it at `https://creative.adobe.com/addons/patches/29687` when i'm logged in. The fact that it's at *patches* rather than *products* make me think something may have gone wrong with an update or something.

[2016-07-14 19:45] l3omtz commented on #17
so if i install it manually successfully and still don't see extension in the window drop down what do I do????

[2016-07-14 19:47] bodymovin commented on #17
@l3omtz can you check in Windows > Extensions ?

[2016-07-14 19:50] l3omtz commented on #17
Yeah I'm in AE and at the top I see  Windows but when I click on it there is no Extensions section

[2016-07-14 19:51] bodymovin commented on #17
what AE version are you using?

[2016-07-14 19:51] l3omtz commented on #17
CC 2015

[2016-07-14 19:51] bodymovin commented on #17
@l3omtz os version?

[2016-07-14 19:52] l3omtz commented on #17
El Capitan

[2016-07-14 19:53] bodymovin commented on #17
someone made a video on how to install it in Mac.
They're in spanish but you can follow them visually.
https://vimeo.com/144533677
let me know if the help.

[2016-07-14 19:54] l3omtz commented on #17
lol well good thing I understand spanish, I'll let you know thank you!

[2016-07-14 19:55] l3omtz commented on #17
AH! I had to update AE, I SEE IT NOW!!!

[2016-07-14 20:33] shaneparsons opened #116 "Feature Request: Export SVG Sequence"
This might be out of the scope of this project, but it'd be awesome to have the functionality to export an svg sequence from AE, much like how you can export a png sequence.

Unfortunately for me, this is what I originally thought this plugin was made to do.

[2016-07-14 21:24] l3omtz opened #117 "Now that.."
now that I got my AE exported, how do I added to my local html page.

[2016-07-14 21:36] l3omtz commented on #117
<img width="401" alt="screen shot 2016-07-14 at 4 35 15 pm" src="https://cloud.githubusercontent.com/assets/11321783/16856657/06895eb8-49e1-11e6-92f9-f13ea1743785.png">

'm getting this issue in the console log and my animation wont load

[2016-07-14 21:56] l3omtz commented on #117
This is my code

`<title>Animated Background Gradient</title>
        <link rel="stylesheet" href="css/style.css">
    <script src="js/bodymovin.js"></script>

  </head>

  <body>

    <div style="width:100%;height:100%;" id="bodymovin"></div>

    <script>

      var animData = {
        wrapper: document.getElementById('bodymovin'),
        animType: 'html',
        loop: true,
        prerender

[2016-07-14 21:57] l3omtz commented on #117
This is my code

<title>Animated Background Gradient</title>
        <link rel="stylesheet" href="css/style.css">
    <script src="js/bodymovin.js"></script>

  </head>

  <body>

    <div style="width:100%;height:100%;" id="bodymovin"></div>

    <script>

      var animData = {
        wrapper: document.getElementById('bodymovin'),
        animType: 'html',
        loop: true,
        prerender:

[2016-07-14 21:58] l3omtz commented on #117
@bodymovin  this is my code

Animated Background Gradient
        <link rel="stylesheet" href="css/style.css">
    <script src="js/bodymovin.js"></script>

  <body>

    <div style="width:100%;height:100%;" id="bodymovin"></div>

    <script>

      var animData = {
        wrapper: document.getElementById('bodymovin'),
        animType: 'html',
        loop: true,
        prerender: true,

[2016-07-14 22:00] l3omtz commented on #117
@bodymovin  This is my code
 script src="js/bodymovin.js"

    <div style="width:100%;height:100%;" id="bodymovin"></div>

    <script>

      var animData = {
        wrapper: document.getElementById('bodymovin'),
        animType: 'html',
        loop: true,
        prerender: true,
        autoplay: true,
        path: 'data.json'
    };
    var anim = bodymovin.loadAnimation(animData);

    </

[2016-07-15 00:47] etx commented on #117
Chrome cannot load local files. That is what the console is telling you.

Run a quick HTTP server with Python and load it from local host. https://docs.python.org/2/library/simplehttpserver.html

[2016-07-15 00:52] l3omtz commented on #117
@etx ah okay thank you... but does the code look right?

[2016-07-15 01:29] bodymovin commented on #117
@l3omtz yes, that code should work running it through an http server.

[2016-07-15 01:31] bodymovin commented on #116
why would you prefer having an svg sequence? to avoid using javascript?

[2016-07-15 01:32] l3omtz commented on #117
@bodymovin Yeah I have a MAMP server running but with the demo files it seems to only run the .js demos and not the .json ones why is that?

[2016-07-15 01:36] bodymovin commented on #117
are you getting the error you posted on the first message or another one?

[2016-07-15 01:38] l3omtz commented on #117
var animData = {
        wrapper: document.getElementById('bodymovin'),
        animType: 'html',
        loop: true,
        prerender: true,
        autoplay: true,
        animationData: JSON.parse(data.json)
    };

error is
<img width="368" alt="screen shot 2016-07-14 at 8 37 57 pm" src="https://cloud.githubusercontent.com/assets/11321783/16861054/e85a11c2-4a02-11e6-84eb-ff9744732473.png">

@

[2016-07-15 01:40] bodymovin commented on #117
when you're passing a json file, you need to use "path" instead of "animationData" and pass the path to the json file, like so:
`var animData = {
wrapper: document.getElementById('bodymovin'),
animType: 'html',
loop: true,
prerender: true,
autoplay: true,
path:'data.json'
};`

[2016-07-15 01:42] l3omtz commented on #117
@bodymovin then i get the first error ... is there a way i can get the .js file of the .json instead? that seem easier to load

[2016-07-15 01:45] l3omtz commented on #117
This is my full code
<img width="673" alt="screen shot 2016-07-14 at 8 44 15 pm" src="https://cloud.githubusercontent.com/assets/11321783/16861165/cb184768-4a03-11e6-96da-0563cf48f01d.png">

[2016-07-15 01:46] bodymovin commented on #117
the first error is because you need to use a valid http url, it won't work accessing it from your local system.

yes, there is an easy way to convert the json file into a js object.
If you open the file "data.js" in the folder demo/grunt and compare it with the json file exported, you'll see they are very similar.
It just creates a variable "animData" and assigns it the json data.

[2016-07-15 02:02] l3omtz commented on #117
so i just add a var animData =
and that will make it a .js format?
@bodymovin

[2016-07-15 02:05] bodymovin commented on #117
yes, but make sure you check the html in the grunt example.
first it loads both script tags:
<script src="../bodymovin.js"></script>
<script src="data.js"></script>
then it creates the animationParams to load the animation

[2016-07-15 02:10] bodymovin commented on #58
I've included a rendererSettings object param where you can override the preserveAspectRatio param, like so:
`var animData = {
        container: document.getElementById('bodymovin'),
        renderer: 'canvas',
        loop: false,
        autoplay: true,
        path: 'data.json',
        rendererSettings:{
                preserveAspectRatio:'none'
        }
    };`

[2016-07-15 02:23] l3omtz commented on #117
when I copy and past the grunt .js code it works and i see the animation
but when i put my own i dont see anything.... could I be exporting it wrong? @bodymovin
<img width="1240" alt="screen shot 2016-07-14 at 9 22 25 pm" src="https://cloud.githubusercontent.com/assets/11321783/16861733/20a544f6-4a09-11e6-8862-d29544ef0238.png">

[2016-07-15 02:48] bodymovin commented on #117
are you using the latest player?

[2016-07-15 02:49] l3omtz commented on #117
what do you mean latest player? @bodymovin

[2016-07-15 03:00] bodymovin commented on #117
where are you loading the bodymovin.js file from? the demo folder or the one on the builds folder?

[2016-07-15 03:08] l3omtz commented on #117
im using build/ player/ bodymovin.js @bodymovin

[2016-07-15 08:00] Sandstedt commented on #58
Works great, thanks!

[2016-07-15 11:08] bodymovin commented on #117
Can you send me the json file so I can check it out?

[2016-07-15 12:42] l3omtz commented on #117
This is my whole code file

Thanks again!

On Fri, Jul 15, 2016 at 6:08 AM, hernan <notifications@github.com> wrote:

[2016-07-15 12:43] l3omtz commented on #117
[animated-background-gradient.zip](https://github.com/bodymovin/bodymovin/files/365957/animated-background-gradient.zip)

[2016-07-15 13:06] shaneparsons commented on #116
Basically I'm trying to use After Effects for the animation in my Unity project. The way I've done it before is using a png sequence, but there's no place for that now that I'm using svgs in Unity.

A great deal of the functionality of this plugin would be ignored in my particular case, but it's the only thing remotely close to what I'm looking for anywhere.

[2016-07-15 15:29] l3omtz commented on #117
@bodymovin actually i got it to work,  I rendered the wrong AE file. So thats why it was blank...
Another question tho, is there a way to have two  AE .json files to animate two separate animations in one screen

[2016-07-15 15:34] bodymovin commented on #117
sure
you can load each on a different html element

[2016-07-15 16:15] l3omtz commented on #117
@bodymovin So i updated the AE and I still dont see anything

var animData = {"assets":[],"v":"4.1.7","ddd":0,"layers":[{"ddd":0.....

is it because the assets [] is empty?

my other .json file is filled in and it works

[2016-07-15 19:01] bodymovin commented on #117
not necessarily, it depends on the animation.
None of them are working or only one?

[2016-07-15 19:12] l3omtz commented on #117
@bodymovin  the only one working is the gear animation which has 2 layers and the code starts like this
var animData = {"assets":[{"id":"image_0","w":700,"h":700,"p":"images/img_0.png"},......

The gradient animation one doesn't work and iit only one layer and its like this
var animData = {"assets":[],"v":"4.1.7","ddd":0,"layers":[{"ddd":0.....

[2016-07-15 19:16] bodymovin commented on #117
not sure if that's the reason, but unfortunately, gradient fills are not supported because AE doesn't expose gradient values.

[2016-07-19 12:29] l3omtz commented on #117
@bodymovin will there be a reason why my the image is coming out pixelated?
<img width="791" alt="screen shot 2016-07-19 at 7 28 28 am" src="https://cloud.githubusercontent.com/assets/11321783/16949845/91b7d9a2-4d82-11e6-9060-d0c2be463635.png">

[2016-07-21 22:06] bodymovin commented on #117
what renderer are you using?
can you share a link with the animation?

[2016-07-21 22:08] bodymovin commented on #116
I guess you could use the plugin and then write a script that gets the innerHTML of the svg element on every frame.

[2016-07-21 22:11] #111 closed

[2016-07-21 22:12] bodymovin commented on #110
Hey! Did you get this working finally?

[2016-07-21 22:12] #112 closed

[2016-07-21 22:13] #106 closed

[2016-07-21 22:13] #105 closed

[2016-07-21 23:02] gigantc opened #118 "Reverse Animation"
Just found this today and it's awesome!!

I'd like to have my animation play through once and then loop back in reverse.  It seems like setDirection() should let me run the animation backwards but it doesn't seem to be working...or maybe I'm just doing it wrong.  Any ideas?

[2016-07-21 23:11] bodymovin commented on #118
can you share the code on how you're doing it?

[2016-07-22 15:57] gigantc commented on #118
Basically I'm getting the data and setting the animation parameters.  The second function fires when I hit a spot on the page and plays the animation.  Everything works fine to just play the animation forward using anim.setDirection(1), if I switch the direction to -1 nothing happens.

--

var anim;

$.getJSON( "/splash/ani-logo.json", function( data ) {
  var params = {
    container: document.ge

[2016-07-22 22:51] watziznehm opened #119 "json issues?"
When I try to get an animation to work with a json file I can't for the life of me get it to work. Nothing will show up. Not sure if its related but nothing appears when I load the demos that use json to, just a grey background. Any help would be appreciated.

[2016-07-22 23:04] bodymovin commented on #119
can you share a json file that doesn't work?

[2016-07-22 23:28] watziznehm commented on #119
OMG! I'm just stupid and wasn't working on a local host. Sorry about that.

[2016-07-22 23:28] #119 closed

[2016-07-22 23:55] bodymovin commented on #119
nice!

[2016-07-24 05:37] jacoblapworth opened #120 "Merge paths"
Does this currently support merging paths from within After Effects?
I can't seem to get it to work, currently it fills the entire shape, no matter the merge path option – rather than cropping

[2016-07-24 18:28] bodymovin commented on #120
Merge paths are not supported yet.
Sorry :/

[2016-07-25 06:19] yehengqi commented on #84
i got this problem too, may i ask why= =
[无标题项目.aep.zip](https://github.com/bodymovin/bodymovin/files/380859/aep.zip)

[2016-07-25 06:54] bogdinamita opened #121 "Plugin not running"
Installed following these instructions:
https://vimeo.com/144533677

I also checked 'Allow Scripts to...'

However, I go to Window>Extensions>Bodymovin and nothing launches
Latest After Effects, version 13.8.0.144
Latest Mac OS, 10.11.6

Any help would be useful

Thank you!

[2016-07-25 07:01] bogdinamita commented on #121
**Fixed**  Registry Key Mismatch

What happened: I assumed the latest update was CSXS.7 (since I had that file) and modified that... but it's still CSXS.6

In short: Just follow the setup instructions :)

[2016-07-25 07:01] #121 closed

[2016-07-25 08:29] JackPollitt commented on #110
Hi,

Yes all fixed, had to convert each shape layer and edit with the strokes… was a very lengthy process but all worked in the end , thanks

Jack Rogers
Motion Designer

Pollitt & Partners
9–10 Floral Street
London WC2E 9HW  <http://maps.google.co.uk/maps/place?hl=en&georestrict=input_srcid%3A9be3085c7a6e454f>
T +44 (0)20 7379 6709 <tel:+442073796709>
pollittandpartners.com <http://www.pollittand

[2016-07-25 13:52] QQizi commented on #118
Set direction shouldn't be on the anim but on the global bodymovin variable.

bodymovin.setDirection(-1)

I know it's weird :)

[2016-07-26 16:46] jesseylibby commented on #120
Any work arounds on this? I have a logo with a registered trademark that needs to reveal from behind a mask. I tried placing it in as an image file but the rendering of the png in Firefox looks butt ugly so I'd prefer to have it as a shape layer. Thoughts? :)

[2016-07-26 17:28] bodymovin commented on #120
I don't know how the logo looks like. But can't you reproduce it with masks?

[2016-07-26 18:00] jesseylibby commented on #120
That's what I thought but inverted masks aren't supported, right? I'm sure there's a solution I'm not seeing. Below is a screenshot of the mask option. I can't show you the whole thing due to privacy reasons but hopefully this gets the idea across.

![screen shot 2016-07-26 at 12 55 31 pm](https://cloud.githubusercontent.com/assets/20570973/17149315/5a86fc84-5330-11e6-9623-9da3dda3f7c1.png)

[2016-07-26 18:25] jesseylibby commented on #120
Guess I'm a little blonde. The issue was that all the mask paths were set to difference. They needed to be add and subtract.

:)

[2016-07-27 23:06] wwwzrd opened #122 "Exports come out black, regardless of color"
My exports are coming out all black, even though the shapes have different colors in the AE file. For instance; if I have a red square bodymovin will export a black square.

Has anyone else experienced this?

[2016-07-28 02:25] bodymovin commented on #122
Check if you are using the correct player

[2016-07-28 11:32] alexkerber commented on #122
Yes, you need the latest player that was used when you did export the animation. So always make sure that you export the right plugin if you update the bodymovin plugin.

[2016-07-28 11:52] alexkerber opened #123 "Missing assets"
Updated to the latest version of the plugin and from the right animation we got the left version with missing assets. Same file, same settings but new plugin. Trying to downgrade the plugin but same issue. Any ideas?

https://www.dropbox.com/s/q1w4q7z7hk6tpoc/diffrent.mp4?dl=0

[2016-07-28 13:34] bodymovin commented on #123
Hi. I'm away right now. Will be back this weekend. Can you send me the .ae project so I can check it out?

[2016-07-28 17:23] alexkerber commented on #123
You are a star! Email sent with the file!

[2016-07-28 18:04] wwwzrd commented on #122
Bodymovin is no longer in Adobe Add-ons. To update bodymovin, do I need to uninstall and re-install again?

[2016-07-28 18:22] alexkerber commented on #122
Just follow the steps in the read me and you should be able to update to the latest version.

[2016-07-28 19:16] wwwzrd commented on #122
"MAC:
open the file ~/Library/Preferences/com.adobe.CSXS.6.plist and add a row with key PlayerDebugMode, of type String, and value 1."

For this step, I am missing the file "com.adobe.CSXS.6.plist", I have "com.adobe.CSXS.3.plist" instead. Is there anything I can do to get the right file?

[2016-07-28 19:19] alexkerber commented on #122
Try just copy it and rename it …
<img width="912" alt="screen shot 2016-07-28 at 21 19 15" src="https://cloud.githubusercontent.com/assets/1282718/17226293/ffb60400-5508-11e6-9334-40396f93ab3a.png">

[2016-07-28 21:07] wwwzrd commented on #122
I tried renaming the files; I didn't get any errors and I believe I updated bodymovin but my renders are still coming out all black.

If I downloaded and installed the latest files, that should include the player, yes?

[2016-07-28 21:08] alexkerber commented on #122
You have an save plugin when in the bodymovin window. Use that one or take it from the zip file. Same thing (you need to re export the animation again with the new updated plugin)

[2016-07-28 21:10] bodymovin commented on #122
I'm travelling right now. I'll be back in the weekend. Can you share the .ae Project so I can check it?

[2016-07-28 21:23] wwwzrd commented on #122
Crisis averted. I don't think the player was setup properly, but the bodymovin.js that was being referenced on our local server setup needed to be updated.

Thanks again.

[2016-07-29 10:50] yesmetoo opened #124 "not found via adobe"
the link https://creative.adobe.com/addons/products/12557 leads to a message "product nor found"
and the manual way of installation does not work for me. nay help i appreciated, thx!

[2016-07-29 10:53] larpo1 commented on #124
I had the same problem

[2016-07-29 10:53] yesmetoo commented on #124
did u find any solution?

[2016-07-29 13:05] larpo1 commented on #124
The alternative installation instructions are in the github readme.

[2016-07-31 19:45] alexkerber commented on #123
Did you have time and look at my file?

[2016-08-01 22:55] bodymovin commented on #123
Yes! I arrived late yersterday and couldn't upload the fix.
I'll be uploading it tonight.

[2016-08-01 22:57] alexkerber commented on #123
You are a star! Thanks!

—

Alex Kerber

Creative Technologist

+46 (0) 735 40 30 20 | 

http://alexkerber.com/

On Tue, 02 Aug 2016 at 00:55 hernan

<
mailto:hernan <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

Yes! I arrived late yersterday and couldn't upload the fix.

I'll be uploading it tonight.

—

You are receiving this because you authored t

[2016-08-02 01:21] bodymovin commented on #124
I'm trying to solve this issue with Adobe.
Will let you know when it's up again.

[2016-08-02 01:22] bodymovin commented on #123
done!

[2016-08-02 01:22] bodymovin commented on #122
nice!

[2016-08-02 01:22] #122 closed

[2016-08-02 01:23] bodymovin commented on #114
Done and uploaded!

[2016-08-02 01:23] #114 closed

[2016-08-02 06:17] therealsalih commented on #115
Me too

[2016-08-02 07:55] alexkerber commented on #123
Woks perfect now with the lastest version.

[2016-08-02 07:55] #123 closed

[2016-08-02 13:34] thomas-dm opened #125 "4.3.3: Cannot read property 'effect' of undefined"
Hello,

This is the first time I've ever used Bodymovin, so I can’t say if this particular animation would’ve worked before. Basically, I’m getting this error:

`Uncaught TypeError: Cannot read property 'effect' of undefined`

This is the problematic line:
`$bm_rt = thisComp.layer('Adjustment Layer 1').effect('Tail_Opacity')('Slider');`

Both the plugin and the player are up to date (4.3.3).
Any i

[2016-08-02 13:39] bodymovin commented on #125
Hi!
Adjustment layers are not exported by the plugin.
Can you move those effects to another layer or convert it to another type of layer?

[2016-08-03 21:58] St3Ko opened #126 "Using Bodymovin Animations with Barba.js"
Hi everyone!

I am trying to use bodymovin animations with barba.js for transitions between sites (fade-in animation - barba replaces the old barba-container with the new one - fade-out animation).

The problem is, that i am not able to tell barba, when the first fade-in animation is finished, so it can safely remove the old with the new content.

I know that you can add eventlisteners but barba.j

[2016-08-03 22:49] bodymovin commented on #126
can you wrap the bodymovin event with a promise and resolve it when the event fires?

[2016-08-04 07:50] digamber89 opened #127 "Uncaught TypeError: Cannot read property 'effect' of undefined"
I've exported the animation into jso file and it also has required images with it but the animation won't play, I took the js from build folder and used the default bodymovin example to render the file.

I can't figure out the error and
[test.zip](https://github.com/bodymovin/bodymovin/files/401084/test.zip)
what i need to get this going could you please look at it?

[2016-08-04 08:13] St3Ko commented on #126
Nice! Thank you very much, this solved my problem :)

[2016-08-04 10:43] bodymovin commented on #127
There is an expression trying to get an effect from layer Falloff.
Is it possible that that layer is hidden or guided?
If you send me the .ae project I can take a look

[2016-08-07 14:20] fabienjuxrousseau opened #128 "Dashed strokes support"
Hi,

First of all, your plugin is awesome!
I tried to export a dashed stroke but this seems not supported yet. Am I right ?

Thank you!

Edit : My strokes were renamed in AfterEffects. It seems to work now with default name for the strokes properties.

[2016-08-11 12:45] thomas-dm commented on #125
That was it indeed!
Thanks you for the quick reply.

By the way, is there still no way we could donate to the project?
I’d seriously consider donating. ;-)

[2016-08-11 15:29] blastframe commented on #107
Is listening for "DOMLoaded" on an animation instance the best way to detect when the Bodymovin .json has loaded?

[2016-08-11 17:07] blastframe opened #129 "img_0.png being overwritten"
I am exporting several separate bodymovin animations to a folder. A couple of them have an images. Rather than write separate files, both use the image name "img_0.png" so only one image is created and then overwritten. In my animations, the same image appears instead of two images. Is there a way to control the image names or have new names generated when two animations are trying to write the sa

[2016-08-11 17:26] bodymovin commented on #129
can't you export them to two different folders?
that way they won't conflict.

[2016-08-11 22:59] bodymovin commented on #128
I'll have a look at stroke naming. I must have missed that.
Can I close the issue?

[2016-08-11 23:00] #126 closed

[2016-08-11 23:02] bodymovin commented on #124
The plugin is up again in the adobe store
https://creative.adobe.com/addons/products/12557

[2016-08-11 23:02] #124 closed

[2016-08-11 23:04] bodymovin commented on #118
you can setDirection to the animation itself.
If you're at the first frame and set direction negative and loop is false it will stay on the first frame.
You should set goToAndStop(lastFrame) for example before playing.

[2016-08-11 23:05] #110 closed

[2016-08-11 23:06] bodymovin commented on #101
done in the latest release
setSegment(init,end)

[2016-08-11 23:06] #101 closed

[2016-08-11 23:08] bodymovin commented on #115
thanks all! not accepting donations right now.
but if you spread the word or share your work that would be awesome :)

[2016-08-11 23:08] bodymovin commented on #107
yes, that should be the event to listen to to know the json has loaded and the animation is ready.

[2016-08-11 23:11] bodymovin commented on #93
you can now override the preserveAspectRation by setting it in the rendererSettings

[2016-08-11 23:11] #93 closed

[2016-08-12 16:05] #128 closed

[2016-08-16 12:28] elgamble opened #130 "Exporting issues from After effects"
Hello there,

I'm new to the whole HMTL, coding thing, I've been set a project at work to get some SVG's for a site, so I've created a little test animation in After Effects, but upon rendering, it goes whacky.

Here are some images:

<img width="722" alt="screen shot 2016-08-16 at 13 31 21" src="https://cloud.githubusercontent.com/assets/21059272/17698796/f7e69284-63b4-11e6-9c7e-a4bfd81453b2.png"

[2016-08-18 09:39] amanda-- commented on #58
@bodymovin Thank you! Finally got around to refactor my project to the lastest version and this works perfectly.

[2016-08-18 09:43] amanda-- opened #131 "Is there a way to add a class to elements in the svg through after effects?"
I am aware that I can add id's to layers in After effects; that works great!

It would be very useful to be able to add classes as well.

For example: I've got a big infographic animation which has several buttons that will open popups. It would be great to be able to add a general class as well as an unique id to those elements/buttons.

[2016-08-18 10:14] bodymovin commented on #131
you can add classes as well as ids.
add an initial dot to the name of the layer and it will add a class to it.

[2016-08-18 10:30] amanda-- commented on #131
Sorry! I tested it, but apparently I did something wrong, because now it is working.
Also adding a class and id to the same layer works perfectly. Thanks!

[2016-08-18 10:50] leemoncz opened #132 "Support of "Simple Choker" and other filters?"
Hi man, great work with this awesome plugin. I was wondering, we are creating some animations with "Simple Choker", is there any way to use this filter in bodymovin rendering? Here is a short sample of our animation -> https://youtu.be/bzgFOmBwPcg

And is there any chance in the future to use other native filters in Adobe AE?

Thank you!

[2016-08-18 11:16] orgicus opened #133 "Unable to execute script at line 396. undefined is not an object"
Hello,

I've just installed the plugin and tried to export an animation, but I've got this error on one of the layers:
[code]

It's unclear which script/js file has that error.
Any hints/tips on how to get around that ?

Thank you,
George

[2016-08-18 12:13] bodymovin commented on #133
can you send me the .ae project so I can take a look?
which version did you install? the one from the adobe store or the one on github?

[2016-08-18 12:21] bodymovin commented on #132
I have to see if there is a way to reproduce that effect with svg filters and if it is performant for real time animations.
Which native filters are you thinking of?

[2016-08-18 12:52] leemoncz commented on #132
Specially "Simple Choker" and "Turbulent Displace", it would be perfect, if this would works.

[2016-08-18 14:55] orgicus commented on #133
unfortunately I won't be able to send the .ae project.
I've installed the extension from the repo using the packaged .zxp using [ExManCmd](https://helpx.adobe.com/creative-cloud/kb/installingextensionsandaddons.html).

I've just updated to the latest AE CC (2015.3) and can try to uninstall the extension then reinstall from Adobe Store.

What do you recommend ?

[2016-08-18 14:59] bodymovin commented on #133
can you share the .ae project only with the failing layer? or can you think what does that layer has in particular?

[2016-08-18 15:24] orgicus commented on #133
Unfortunately I'm contractually forced not to share anything related to the .ae project.
Additionally, I'm more of on code than on motion graphics, so I barely know what I'm doing in After Effects which isn't helpful for you to debug.
If it helps, I've deleted the layer that was causing problems and the export completes.
I'm trying the Demo option but I get this error in JS in the browser:
[code]

[2016-08-18 15:26] bodymovin commented on #133
If you're using expressions make sure they are not linked to hidden layers.
If that's the case you should check to export them on the settings

[2016-08-19 12:39] amanda-- opened #134 "Animation not looping after loopComplete"
Hello,

We init a bodymovin animation in a button that loops and has autoplay set to false.
On mouse enter of the button we play the animation (and it loops).
On mouse leave we listen to the loop complete and stop the animation. So when you leave the button the animation finishes one loop.

This all works perfectly.

But when I enter the button for a second time the animation just plays once and d

[2016-08-19 13:03] bodymovin commented on #134
can you share the code?
It might be related to adding an event to loopComplete more than once

[2016-08-19 13:22] amanda-- commented on #134
Hello,

It's embedded in a big project, but I can share te relevant functions with you.

`/**
     * Init button icons
     */
    initButtonIcons: function ()
    {
        Object.keys(this.state.buttons).map((id, i) =>
        {
            let buttonEl = document.querySelector('#' + id + ' .icon');
        let animationData = JSON.parse(this.props.json[this.state.buttons[id].json.icon]);

[2016-08-22 13:34] amanda-- commented on #134
Do you have any idea how I can fix this!?

My backup plan was to destroy and init the animation every time you hover, but that's not very efficient.

[2016-08-22 17:13] bodymovin commented on #134
Sorry, I didn't get the change to try it.
I'll take a look at it this afternoon

[2016-08-23 02:16] bodymovin commented on #134
The issue is probably related to not removing the eventListener once the loop is complete or once the button is hovered again.
Instead of attaching an anonymous function to the loopComplete event, try to attach a function declared on your class.
And once the event triggers, remove the event listener. Also remove the event listener on the enterButton in case it never got to the loop complete event

[2016-08-23 09:08] amanda-- commented on #134
Thank you for your example!

We tried to make it work without the anonymous functions, but the same issue was still there.
The eventListener didn't seem to get removed with the code you posted.

We found a different solution:
on the mouse leave we set the loop property to false and on the mouse enter we set it back to true again. A lot simpler and it works perfectly :)

[2016-08-23 11:31] bodymovin commented on #134
Good solution. I'm glad you made it work.
I did a demo with the code I sent you. Is this the effect you were looking for?
http://codepen.io/airnan/pen/zBQaWR

[2016-08-23 13:15] amanda-- commented on #134
Yes, your example is what I was looking for indeed.

You seem to do exactly what we implemented, so I've got no idea why it didn't work in our case. It probably has something to do with any other part of code. It's a pretty big project made with React.

I'm happy we got it working too :D

[2016-08-25 12:16] Raphiki44 opened #136 "Not working on Edge/IE ?"
I have no problem on running my animation trough Chrome or Firefox, but nothing happen in Edge or Internet Explorer 11. Not even an error log.

Here are how I setup my anim :

test-anim.html :

[code]

That's pretty basic (I also tried via js)
There is absolutely NO content inserted in my div on Edge or IE.

I already tested with 2 different anim, same problem.

Here's my Json file : http://pasteb

[2016-08-25 20:41] kencieszykowski commented on #130
I'm having a similar issue with the exporting; except that I'm not getting anything to show up in the 'Preview' window.  Do I need to be selecting the layers and all of the elements in the timeline?

[2016-08-25 22:32] bodymovin commented on #130
I missed this issue.
@elgamble if you're still trying to solve this, can you send me the ae project?
@kencieszykowski you don't need to select the layers. Can you share your .ae project with me?

[2016-08-25 22:36] bodymovin commented on #136
I'm trying your animation and it seems to work fine (although I don't have the exported images).
Can you share a link so I can take a look?

[2016-08-25 22:37] #131 closed

[2016-08-26 08:10] Raphiki44 commented on #136
Ew sorry I found my mistake., I work from my local hard drive with Chrome and Firefox with the flag "allow-file-access-from-files" that wasn't enable on Edge or IE. It couldn't  access to the data.json file locally.

[2016-08-26 13:09] bodymovin commented on #136
nice

[2016-08-26 13:09] #136 closed

[2016-08-29 13:39] jakeleboeuf opened #138 "Bower?"
You want to drop this sucker on Bower? Working on an Ember.js addon to wrap this magic up and would love to handle versioning via bower if possible?

[2016-08-29 15:16] jakeleboeuf opened #139 "Render issues"
Trying to run this animation thru bodymovin and the exported animation has some glitchy issues- any idea what the cause is? I did not create this file, and am not very familiar with .AE so not sure if it is an issue with how the project is set up, or a bug in Bodymovin, but thought I'd report it.

You can download [the .AE file on Dribbble](https://dribbble.com/shots/2927987-Splitzy-AE-project).

[2016-08-29 15:20] bodymovin commented on #139
I guess it's using interpolated keyframes instead of hold keyframes to reposition the elements.
If you have the latest version (the one pushed yesterday), you can use the new method anim.setSubframe(false) and it will probably fix it.
I'll check it when I get home later today.

[2016-08-29 15:26] jakeleboeuf commented on #139
I'll give it a shot and report back 👍

[2016-08-29 15:27] jakeleboeuf commented on #139
Negative 👎

[2016-08-30 16:39] bodymovin commented on #139
yes, it's using nested 3d layers inside 2d layers that are not well supported by the plugin yet.
I need to work on that.

[2016-08-30 16:40] bodymovin commented on #138
I'm not well acquainted with bower, but it would be great.
I'll look into it.
Any info is welcome :)

[2016-08-30 16:42] jakeleboeuf commented on #139
👌🏻
On Tue, Aug 30, 2016 at 12:39 PM hernan <notifications@github.com> wrote:

--
*Jake LeBoeuf* | @jakeleboeuf <http://twitter.com/jakeleboeuf>
Front End & UI/UX Engineer

Follow me: Github <http://github.com/jakeleboeuf>, Twitter
<http://twitter.com/jakeleboeuf>, and Instagram
<http://instagram.com/jakeleboeuf>

[2016-08-30 22:45] rjm140985 opened #140 "Issues Exporting from After Effects"
I am trying to use the extension to export an animation and the window pops up fine and I can select the correct composition etc, but I don't get any preview in the window and the code is a complete mess. Am I using the wrong settings?

[2016-08-31 00:18] bodymovin commented on #140
can you share the .ae project so I can take a look? the export is a json to load on your browser with the player.

[2016-08-31 13:34] PitchyPA opened #141 "Installation Error"
Hello,

When I'm trying to extract the zipped file on build/extension/bodymovin.zxp to the adobe CEP folder, the process stop and I have a message error.
Apparently I have to check that the file manifest.xml is valid.

Do you have any solution for my issue ?

I use Windows and cc2015.3

[2016-08-31 22:59] bodymovin commented on #141
hi
where does the message show up? when opening AE?

[2016-09-01 08:08] PitchyPA commented on #141
I tried to install with Adobe Extension Manager.

We made a new try and we have several message error :

First message : "The extension create a conflict with "com.bodymovin.bodymovin". It says it's not installed in the After Effects CC 2015.3 product.

Then the install says "impossible to find data into the data base"

But I followed instructions of this link : https://github.com/bodymovin/bodymo

[2016-09-05 13:44] JackPollitt commented on #141
Hey Hernan, i'm having the same/similar problem.

Previously had it installed working perfectly, left my office for holiday and the file had been deleted.

Don't remember having to use a zxp file before but this time around it won't let me install coming up with these errors.

<img width="358" alt="screen shot 2016-09-05 at 10 00 21" src="https://cloud.githubusercontent.com/assets/19855318/1824957

[2016-09-05 13:47] bodymovin commented on #141
Hi, it should be working with the latest version.
I'll try to reproduce the error.
But are you installing it through the add-ons store?

[2016-09-05 13:49] JackPollitt commented on #141
Yes, my creative cloud updated this morning. AE is up to date as is the extension manager.
installing via the add ons store also.. My colleague did the same to see if it would work on his machine and it worked first time.

Left me a bit confused as to what could be wrong.

Thanks for the speedy reply as always.

Jack Rogers
Motion Designer

Pollitt & Partners
9–10 Floral Street
London WC2E 9HW  <h

[2016-09-05 13:52] bodymovin commented on #141
can you try uninstalling the plugin and then installing it again?

[2016-09-05 13:58] JackPollitt commented on #141
Success i’ve fixed it. Removed app, uninstalled etc. Deleted folder of bodymovin. Restarted machine, re-installed via app store and didn’t need to open the zxp. All works fine…

Now back to working out how to finish the animation!

Thanks Hernan.

Jack Rogers
Motion Designer

Pollitt & Partners
9–10 Floral Street
London WC2E 9HW  <http://maps.google.co.uk/maps/place?hl=en&georestrict=input_srcid%3

[2016-09-05 14:01] bodymovin commented on #141
nice! :)

[2016-09-06 20:38] babonzz opened #142 "Particle World does not render properly"
Hi, When I try to use the Particle World function in AE, the animation does not render properly, only the reference layer is shown. Static layers are fine though. Can Bodymovin render particles?

[2016-09-07 10:28] John-MAr opened #143 "Mask not supported Edge/IE"
Hello,

I have no problem on running my animation through Chrome or Firefox, but Layers located in a mask appears with an opacity of 50% with Edge and IE

Do you have any solution for my issue ?

[2016-09-07 11:31] bodymovin commented on #143
Not for the moment. It's a issue on their side.
What kind of mask are you using?

[2016-09-07 12:45] John-MAr commented on #143
A mask Alpha

[2016-09-07 13:57] bodymovin commented on #143
inverted or normal?

[2016-09-07 13:58] John-MAr commented on #143
Normal

[2016-09-09 00:49] bodymovin commented on #142
Yes, effects are not supported by the plugin.
Particles are too expensive on performance for real time rendering.
sorry :/

[2016-09-12 14:54] ArkRide opened #144 "Is it possible to decrease file?"
Hey,
First of all thanks for your plug in, it's amazing, I have been using it for a year already so far.
Now I encoutered an issue where I need to upload animations to web, and they should not be bigger than 60kb or so. The pictures i use inside the project weigh very little themselves (10-20kb) while the whole html file weighs around 220kb. I only add a couple of animations there, like positional

[2016-09-12 16:31] bodymovin commented on #144
Hi, the images exported from AE are pngs and are not well compressed.
You can replace them with your original versions in the images folder or maybe user a service like "tinypng" to have them compressed.
If you can use vectors instead of rasterized images, it will be even lighter.

Also, you should gzip the exported json as well as the js player when uploading them to a server. The filesize of tho

[2016-09-13 07:32] jvvnsk commented on #17
Hi there,

I.m looking forward to use this incredible extension but unfortunatelly I've encountered some problems. Here is what I did so far:

1. I've tried to install addons via adobe site (totally not working).
2. Extension manager doesnt work at all for AE CC15 it doesn't even show after effects on the left panel and it gives me an error.
3. Exman gives me an -160 error aswell.

Finally I got t

[2016-09-13 10:32] bodymovin commented on #17
@jvvnsk Hi I'm attaching a screenshot of my reg editor.On the left panel, click on the CSXS.6 folder and on the right panel right click and select new > String value
Also make sure you don't have extra spaces on the name.
Then close AE and restart it.
![regex](https://cloud.githubusercontent.com/assets/11096607/18470693/2c5bd63e-7984-11e6-96a4-cacfcced36ab.jpg)

[2016-09-13 10:41] jvvnsk commented on #17
Worked! Thank you very much :)

[2016-09-16 17:02] nbashiri95 opened #145 "ctrlEffect is not a function Error"
Hi!
first , amazing plugin!
I exported an animation and when I'm trying to load it "**ctrlEffect is not a function Error**" this error appears ,is there any way that i can fix it?

[Uploading data.zip…]()

[2016-09-16 17:55] bodymovin commented on #145
it's probably related to some expression included in the animation.
I'll take a look and let you know.

[2016-09-16 18:18] nbashiri95 commented on #145
thanks a lot

[2016-09-17 12:16] bodymovin commented on #145
yes please, can you share the .json or the .ae project?

[2016-09-17 13:29] nbashiri95 commented on #145
[ae project and json file](https://www.dropbox.com/sh/mbwv304ve7r89m7/AACbHoFBwZi3ihLHrKm1J932a?dl=0)

[2016-09-17 20:08] bodymovin commented on #145
The puppet tool from AE is not supported unfortunately so the animation won't work.
Besides that, if you're using guided and hidden layers, you need to export them explicitly on the settings menu.

[2016-09-19 11:40] nbashiri95 commented on #145
ow! yeah

[2016-09-19 13:16] bodymovin commented on #145
no, the rest should work fine.

[2016-09-20 16:28] rhannie commented on #133
I have a similar problem for a loader animation I did for a client. One of the shape layers seems to block the process but it's not 3D and it doesn't have anything particular to it... No expression either but it's using a trim path animation.

![capture d ecran 2016-09-20 a 18 24 29](https://cloud.githubusercontent.com/assets/22326550/18679437/e36194d2-7f5f-11e6-859b-8e61c380391c.png)